.full-width .page-body {
	margin-left: 0; }
.full-width .page-body .page-menu {
	padding-left: 272px;
	width: 720px; }
.full-width .pedigree-menu {
	position: absolute;
	right: 20px;
	top: 23px;
	float: right; }
.full-width .pedigree-menu li {
	float: left; }
.full-width .pedigree-menu li + li {
	padding-left: 37px; }
.full-width .pedigree-menu li a {
	font-family: "open_sansregular", arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #a3a8aa;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease; }
.full-width .pedigree-menu li a:hover {
	color: #1f2430; }
.full-width .pedigree-menu li a.active {
	color: #1f2430; }
.full-width .pedigree-menu li a.active:hover {
	color: #1f2430; }
.full-width .pedigree-page {
	background: url("../img/pedegree-bg.png") no-repeat center center;
	height: 920px;
	margin-bottom: 100px;
	width: 960px;
	position: relative; }
.full-width .level1 {
	left: 7px;
	position: absolute;
	top: 339px;
	width: 219px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease; }
.full-width .level1:hover .img {
	box-shadow: 0 0 0 2px #cbd0d2;
	border: 1px solid #cbd0d2\9; }
.full-width .level1:hover .name {
	color: #a3a8aa; }
.full-width .level1 a {
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	width: 219px;
	display: block; }
.full-width .level1 .img {
	width: 219px;
	height: 219px;
	overflow: hidden;
	margin-bottom: 14px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	-webkit-border-radius: 219px;
	-moz-border-radius: 219px;
	border-radius: 219px; }
.full-width .level1 .name {
	font-size: 24px;
	line-height: 36px;
	margin-left: 13px;
	color: #33b7ae; }
.full-width .level1 .name .icons.he {
	background-position: -90px -90px;
	height: 17px;
	margin-left: 10px;
	width: 17px; }
.full-width .level1 .name .icons.she {
	background-position: -120px -90px;
	height: 18px;
	margin-left: 10px;
	width: 18px; }
.full-width .level1 .status-pet.died {
	background-position: -30px -242px;
	width: 33px;
	height: 31px;
	top: 167px; }
.full-width .level1 .pedigree-add {
	width: 219px;
	cursor: pointer;
	text-align: center; }
.full-width .level1 .pedigree-add .icons {
	width: 219px;
	height: 219px;
	background: url("../img/add.png") no-repeat center center;
	display: block;
	margin-bottom: 6px;
	box-shadow: inset  0 0 0 1px #cbd0d2;
	border: 1px solid #cbd0d2\9;
	-webkit-border-radius: 219px;
	-moz-border-radius: 219px;
	border-radius: 219px; }
.full-width .level1 .pedigree-add span {
	color: #a3a8aa;
	font-family: "open_sansregular", arial, sans-serif;
	font-size: 14px;
	line-height: 20px; }
.full-width .level1 .pedigree-add:hover .icons {
	box-shadow: inset  0 0 0 2px #cbd0d2;
	border: 1px solid #cbd0d2\9; }
.full-width .level2 {
	left: 7px;
	position: absolute;
	top: 339px;
	width: 160px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease; }
.full-width .level2:hover .img {
	box-shadow: 0 0 0 2px #cbd0d2;
	border: 1px solid #cbd0d2\9; }
.full-width .level2:hover .name {
	color: #a3a8aa; }
.full-width .level2.father {
	left: 405px;
	top: 127px; }
.full-width .level2.mother {
	left: 406px;
	top: 644px; }
.full-width .level2 a {
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	display: block; }
.full-width .level2 .img {
	width: 142px;
	height: 142px;
	overflow: hidden;
	margin-bottom: 10px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	-webkit-border-radius: 219px;
	-moz-border-radius: 219px;
	border-radius: 219px; }
.full-width .level2 .img img {
	width: 142px;
	height: 142px; }
.full-width .level2 .name {
	font-size: 24px;
	line-height: 36px;
	color: #33b7ae; }
.full-width .level2 .name .icons.he {
	background-position: -90px -90px;
	height: 17px;
	margin-left: 10px;
	width: 17px; }
.full-width .level2 .name .icons.she {
	background-position: -120px -90px;
	height: 18px;
	margin-left: 10px;
	width: 18px; }
.full-width .level2 .description {
	font-size: 14px;
	line-height: 24px;
	color: #1f2430; }
.full-width .level2 .status-pet.died {
	background-position: -30px -242px;
	width: 33px;
	height: 31px;
	top: 111px;
	left: 0px; }
.full-width .level2 .pedigree-add {
	width: 142px;
	cursor: pointer;
	text-align: center; }
.full-width .level2 .pedigree-add .icons {
	width: 142px;
	height: 142px;
	background: url("../img/add.png") no-repeat center center;
	display: block;
	margin-bottom: 6px;
	box-shadow: inset  0 0 0 1px #cbd0d2;
	border: 1px solid #cbd0d2\9;
	-webkit-border-radius: 142px;
	-moz-border-radius: 142px;
	border-radius: 142px; }
.full-width .level2 .pedigree-add span {
	color: #a3a8aa;
	font-family: "open_sansregular", arial, sans-serif;
	font-size: 14px;
	line-height: 20px; }
.full-width .level2 .pedigree-add:hover .icons {
	box-shadow: inset  0 0 0 2px #cbd0d2;
	border: 1px solid #cbd0d2\9; }
.full-width .level3 {
	left: 7px;
	position: absolute;
	top: 339px;
	width: 160px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease; }
.full-width .level3:hover .img {
	box-shadow: 0 0 0 2px #cbd0d2;
	border: 1px solid #cbd0d2\9; }
.full-width .level3:hover .name {
	color: #a3a8aa; }
.full-width .level3.father-father {
	left: 735px;
	top: 36px; }
.full-width .level3.mother-father {
	left: 735px;
	top: 259px; }
.full-width .level3.father-mother {
	left: 735px;
	top: 552px; }
.full-width .level3.mother-mother {
	left: 735px;
	top: 779px; }
.full-width .level3 a {
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	display: block; }
.full-width .level3 .img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-bottom: 7px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	-webkit-border-radius: 219px;
	-moz-border-radius: 219px;
	border-radius: 219px; }
.full-width .level3 .img img {
	width: 100px;
	height: 100px; }
.full-width .level3 .name {
	font-size: 24px;
	line-height: 36px;
	color: #33b7ae; }
.full-width .level3 .name .icons.he {
	background-position: -90px -90px;
	height: 17px;
	margin-left: 10px;
	width: 17px; }
.full-width .level3 .name .icons.she {
	background-position: -120px -90px;
	height: 18px;
	margin-left: 10px;
	width: 18px; }
.full-width .level3 .description {
	font-size: 14px;
	line-height: 24px;
	color: #1f2430; }
.full-width .level3 .status-pet.died {
	background-position: -30px -242px;
	width: 33px;
	height: 31px;
	top: 70px;
	left: 0px; }
.full-width .level3 .pedigree-add {
	width: 100px;
	cursor: pointer;
	text-align: center; }
.full-width .level3 .pedigree-add .icons {
	width: 100px;
	height: 100px;
	background: url("../img/add.png") no-repeat center center;
	display: block;
	margin-bottom: 6px;
	box-shadow: inset  0 0 0 1px #cbd0d2;
	border: 1px solid #cbd0d2\9;
	-webkit-border-radius: 142px;
	-moz-border-radius: 142px;
	border-radius: 142px; }
.full-width .level3 .pedigree-add span {
	color: #a3a8aa;
	font-family: "open_sansregular", arial, sans-serif;
	font-size: 14px;
	line-height: 20px; }
.full-width .level3 .pedigree-add:hover .icons {
	box-shadow: inset  0 0 0 2px #cbd0d2;
	border: 1px solid #cbd0d2\9; }

.children-page {
	float: left;
	padding-top: 20px; }
.children-page .children-list {
	float: left;
	position: relative; }
.children-page .children-item {
	padding-top: 33px;
	float: left;
	top: 339px;
	width: 141px;
	height: 240px;
	margin-right: 60px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease; }
.children-page .children-item:hover .img {
	box-shadow: 0 0 0 2px #cbd0d2;
	border: 1px solid #cbd0d2\9; }
.children-page .children-item:hover .name {
	color: #a3a8aa; }
.children-page .children-item .status {
	background: #f16a8d;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	padding: 3px 10px;
	position: absolute;
	top: 0; }
.children-page .children-item a {
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	display: block;
	position: relative; }
.children-page .children-item .img {
	width: 141px;
	height: 141px;
	overflow: hidden;
	margin-bottom: 7px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	-webkit-border-radius: 219px;
	-moz-border-radius: 219px;
	border-radius: 219px; }
.children-page .children-item .img img {
	width: 141px;
	height: 141px; }
.children-page .children-item .name {
	font-size: 24px;
	line-height: 36px;
	color: #33b7ae; }
.children-page .children-item .name .icons.he {
	background-position: -90px -90px;
	height: 17px;
	margin-left: 10px;
	width: 17px; }
.children-page .children-item .name .icons.she {
	background-position: -120px -90px;
	height: 18px;
	margin-left: 10px;
	width: 18px; }
.children-page .children-item .description {
	font-size: 14px;
	line-height: 24px;
	color: #1f2430; }
.children-page .children-item .status-pet.died {
	background-position: -30px -242px;
	width: 33px;
	height: 31px;
	top: 100px;
	left: 0px; }
.children-page .add-children {
	text-align: center;
	margin-bottom: 23px; }

.add-owners .search-query {
	padding-bottom: 40px; }
.add-owners .result-item {
	padding-top: 18px;
	padding-bottom: 17px;
	border-bottom: 1px solid #a3a8aa;
	padding-left: 30px; }
.add-owners .result-item__photo {
	width: 45px;
	height: 45px;
	float: left;
	margin-right: 23px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	overflow: hidden; }
.add-owners .result-item__photo a {
	width: 45px;
	height: 45px;
	display: block;
	overflow: hidden; }
.add-owners .result-item__photo img {
	width: 45px;
	height: 45px;
	display: block; }
.add-owners .result-item__body {
	margin-left: 68px; }
.add-owners .result-item__body h3 {
	padding-bottom: 3px; }
.add-owners .result-item__body h3 a {
	color: #1f2430;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease; }
.add-owners .result-item__body h3 a:hover {
	color: #33b7ae; }

.add-parents .search-query {
	padding-bottom: 40px; }
.add-parents .result-item {
	padding-top: 18px;
	padding-bottom: 17px;
	border-bottom: 1px solid #a3a8aa;
	padding-left: 30px; }
.add-parents .result-item__photo {
	width: 45px;
	height: 45px;
	float: left;
	margin-right: 23px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	overflow: hidden; }
.add-parents .result-item__photo a {
	width: 45px;
	height: 45px;
	display: block;
	overflow: hidden; }
.add-parents .result-item__photo img {
	width: 45px;
	height: 45px;
	display: block; }
.add-parents .result-item__body {
	margin-left: 68px; }
.add-parents .result-item__body h3 {
	padding-bottom: 3px; }
.add-parents .result-item__body h3 a {
	color: #1f2430;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease; }
.add-parents .result-item__body h3 a:hover {
	color: #33b7ae; }

.pop-up-form.create-t-card, .pop-up-form.edit-t-card {
	padding: 25px 60px 39px;
	width: 450px; }
.pop-up-form.create-t-card .col-l, .pop-up-form.edit-t-card .col-l {
	float: left;
	width: 160px;
	color: #a2a8aa;
	font-size: 18px;
	line-height: 27px; }
.pop-up-form.create-t-card .col-l .changed-file, .pop-up-form.edit-t-card .col-l .changed-file {
	margin-top: 20px;
	text-align: center;
	width: 100px; }
.pop-up-form.create-t-card .col-r, .pop-up-form.edit-t-card .col-r {
	margin-left: 160px; }
.pop-up-form.create-t-card .col-r input, .pop-up-form.edit-t-card .col-r input {
	width: 406px;
	font-size: 14px;
	line-height: 21px; }
.pop-up-form.create-t-card .col-r input::-webkit-input-placeholder, .pop-up-form.edit-t-card .col-r input::-webkit-input-placeholder {
	color: #a2a8aa;
	opacity: 1; }
.pop-up-form.create-t-card .col-r input:-moz-placeholder, .pop-up-form.edit-t-card .col-r input:-moz-placeholder {
	/* Firefox 18- */
	color: #a2a8aa;
	opacity: 1; }
.pop-up-form.create-t-card .col-r input::-moz-placeholder, .pop-up-form.edit-t-card .col-r input::-moz-placeholder {
	/* Firefox 19+ */
	color: #a2a8aa;
	opacity: 1; }
.pop-up-form.create-t-card .col-r input:-ms-input-placeholder, .pop-up-form.edit-t-card .col-r input:-ms-input-placeholder {
	color: #a2a8aa;
	opacity: 1; }
.pop-up-form.create-t-card .col-r .row, .pop-up-form.edit-t-card .col-r .row {
	float: left; }
.pop-up-form.create-t-card .col-r .sobriquet, .pop-up-form.edit-t-card .col-r .sobriquet {
	position: relative; }
.pop-up-form.create-t-card .col-r .sobriquet .icons, .pop-up-form.edit-t-card .col-r .sobriquet .icons {
	width: 18px;
	height: 17px;
	background-position: -90px -90px;
	position: absolute;
	top: 20px;
	right: 4px; }
.pop-up-form.create-t-card .col-r input, .pop-up-form.edit-t-card .col-r input {
	width: 250px;
	padding: 0 20px;
	height: 30px;
	margin-top: 17px; }
.pop-up-form.create-t-card .col-r .list-data, .pop-up-form.edit-t-card .col-r .list-data {
	padding: 17px 0 0;
	margin-left: 20px; }
.pop-up-form.create-t-card .col-r .list-data li, .pop-up-form.edit-t-card .col-r .list-data li {
	font-size: 14px;
	line-height: 20px;
	color: #1f2430; }
.pop-up-form.create-t-card .col-r .search-query .icons, .pop-up-form.edit-t-card .col-r .search-query .icons {
	top: 18px; }
.pop-up-form.create-t-card .col-r textarea, .pop-up-form.edit-t-card .col-r textarea {
	margin-top: 25px; }
.pop-up-form.edit-t-card .row {
	position: relative; }
.pop-up-form.edit-t-card .row label {
	position: absolute;
	left: -160px;
	top: 23px;
	width: 140px;
	text-align: right;
	font-size: 14px;
	line-height: 18px;
	color: #a3a8aa; }
.pop-up-form.edit-t-card .avatar {
	padding-bottom: 25px;
	position: relative;
	margin-top: 30px;
	left: -20px; }
.pop-up-form.edit-t-card .avatar a .status-pet.died {
	left: 44px;
	top: 180px; }
.pop-up-form.edit-t-card .avatar img {
	border: 1px solid #fff;
	display: block; }
.pop-up-form.edit-t-card .avatar .change-image {
	right: -8px;
	top: -24px; }
.pop-up-form.edit-t-card .avatar .change-image .icons {
	background-position: -90px -242px; }
.pop-up-form.edit-t-card .avatar .change-image:hover {
	background: none; }
.pop-up-form.edit-t-card .message {
	font-size: 14px;
	line-height: 20px;
	color: #f16a8d;
	margin-top: 17px; }

.card-pet .col-l {
	width: 160px;
	float: left; }
.card-pet .col-l .avatar {
	position: relative;
	left: -20px; }
.card-pet .col-l .avatar a {
	width: 141px;
	height: 141px;
	display: block; }
.card-pet .col-r {
	margin-left: 160px; }
.card-pet .col-r .card-pet-list li {
	font-size: 14px;
	line-height: 24px;
	color: #454545; }
.card-pet .col-r .card-pet-list li .name {
	font-size: 24px;
	line-height: 36px;
	color: #33b7ae; }
.card-pet .col-r .card-pet-list li .name .icons.he {
	background-position: -90px -90px;
	height: 17px;
	margin-left: 10px;
	width: 17px; }
.card-pet .col-r .card-pet-list li .name .icons.she {
	background-position: -120px -90px;
	height: 18px;
	margin-left: 10px;
	width: 18px; }
.card-pet .card-pet-link {
	text-align: center; }
.card-pet .card-pet-link ul {
	margin: 0 auto;
	float: left; }
.card-pet .card-pet-link li {
	padding: 20px 30px 0;
	float: left; }

.delete-card h2 {
	text-align: left; }

.noty {
	margin-right: 75px;
	position: absolute;
	right: 50%;
	top: 61px;
	width: 420px; }
.noty .container {
	position: relative;
	float: left; }
.noty .jspVerticalBar {
	width: 10px;
	background: transparent; }
.noty .jspVerticalBar .jspTrack {
	background: transparent; }
.noty .jspVerticalBar .jspDrag {
	background: #a4a9ab; }
.noty ul {
	display: block;
	position: absolute;
	z-index: 1000;
	right: 0;
	width: 420px; }
.noty ul li {
	padding: 18px 20px 20px 20px;
	background: #fff;
	width: 380px;
	position: relative;
	border-top: 1px solid #dae0e2; }
.noty ul li:nth-child(2n) {
	background: #f6f7fa; }
.noty ul li .row + .row {
	padding-top: 20px; }
.noty .img {
	width: 60px;
	height: 60px;
	float: left; }
.noty .img img {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto; }
.noty .noty-body {
	margin-left: 80px; }
.noty .noty-body td {
	vertical-align: top; }
.noty .noty-content {
	min-width: 210px;
	max-width: 270px; }
.noty .noty-content p {
	font-size: 12px;
	line-height: 18px;
	color: #1f2430;
	padding-bottom: 4px; }
.noty .noty-content p.date {
	color: #acb1b2;
	font-size: 12px;
	line-height: 18px; }
.noty .noty-content p.date span {
	margin-left: 20px; }
.noty .noty-content a {
	color: #33b7ae;
	font-size: 12px;
	line-height: 18px;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease; }
.noty .noty-content a:hover {
	color: #454545; }
.noty .noty-img {
	width: 80px; }
.noty .noty-img .img-sq {
	width: 60px;
	height: 60px;
	display: block;
	overflow: hidden;
	display: block; }
.noty .noty-img .img-c {
	width: 60px;
	height: 60px;
	overflow: hidden;
	display: block;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px; }
.noty .noty-img img {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto; }
.noty .close {
	width: 12px;
	height: 12px;
	position: absolute;
	right: 20px;
	top: 10px;
	background: none; }
.noty .close:hover .icons {
	background-position: -180px 0; }
.noty .close .icons {
	display: block;
	width: 12px;
	height: 12px;
	background-position: -150px 0; }