.thumbs{
	img{
		max-width:100%;
	}
}

.avatar-user{
	background-position: center;
}

.emojiBlock{
	background:#fff;
	position:absolute;
	padding:5px;
	left:0;
	top:5px;
	width:auto;
	height:24px;
	// overflow-y:scroll;
	div{
		float:left;
		cursor:pointer;
	}
}

.icon-smiley{
	font-size:20px;
	color:rgb(69, 131, 127);
}

.commentInput{
	min-height:42px;
}

.m-invite-friends{
	 h3 {
		font-size: 18px;
		line-height: 20px;
		padding: 18px 20px 20px;
		border-top: 1px solid #dddddd;
		width: 220px;
		a{
			font-family: "open_sansregular", arial, sans-serif;
			color: #1f2430;
			-webkit-transition: all 0.35s ease;
			-moz-transition: all 0.35s ease;
			-o-transition: all 0.35s ease;
			transition: all 0.35s ease;
			&:hover{
				color: #33b7ae;
			}
		}
	}
}
