.photo_view .ngdialog-overlay{
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	overflow: auto;
	background: url('../img/fancybox_overlay.png');
}
.photo_view .ngdialog-content{
	position: relative;
	overflow: auto; 
	width: 780px; 
	height: auto;
	margin:30px auto;
}
.photo_view .ngdialog-close{
	background: url("../img/icons.png") no-repeat;
    background-position: -150px 0;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 12px;
	height: 12px;
	cursor: pointer;
	z-index: 8040;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    &:hover{
	    opacity: 0.5;
    }
}
.photo_view .ngdialog-close:before{
	content:'';
}

