.photo_block_custom{
	@extend .photo-pop-up;
	img{
		width:100%;
	}
}

.pop-up-form.photo-album .big-photo{
	height:auto;
	text-align:center;
	position:relative;
	img{
		max-width:100%;
	}
	.control_wrap{
		position: absolute;
		top:50%;
		margin-top:-16px;
		width:100%;
		.control{
			.previous-photo, .next-photo{
				background:#666;
			}
		}
	}
}


.photo_view{
	.replies{
		margin:20px auto;
		width:620px;
	}
	.reply-item.add-reply textarea.commentInput{
		min-height:59px;
		height:auto;
		width:400px;
	}
}