.module-search {
	.box{
		display: block;
		background: #fff;
		padding: 20px 20px;
	}

	// .search-checkbox{
	// 	-webkit-user-select: auto !important;
	// 	display:inline-block !important;
	// 	z-index: 1 !important;
	// 	position: static !important;
	// }
	// .jq-checkbox{
	// 	display: none !important;
	// }	
} 
.search_block_tabs{
	@extend .tabs;
}