
.jq-file__name{
	display:none;
}

.jq-file input{
	cursor: pointer;
}
.uploadItemsList{
	width:430px;
	background:#fff;
	height:auto;
}
.uploadFileName{
	width:auto;
	max-width:200px;
	overflow: hidden;
}
.ProgressBar{
	width:200px;
	padding:0 10px;
	.uploadProgressBar{
		outline:1px solid #ccc;
		width:100%;
		height:10px;
		div{
			height:10px;
			background:$color-button-green;
		}
	}
}

.uploadFileThumb{
	cursor: pointer;
	width:110px;
	float:left;
	position:relative;
}

.ProgressBarThumb{
	position: absolute;
	width:100px;
	left:5px;
	bottom:5px;
	background:#fff;
	.uploadProgressBar{
		width:100%;
		height:10px;
		div{
			height:10px;
			background:$color-button-green;
		}
	}
}

.removeUploadFile{
	width: 12px;
	height: 12px;
	cursor: pointer;
	.icons{
		width: 12px;
		height: 12px;
		background-position: -180px 0;
		display: block;
		&:hover{
			background-position: -150px 0;
		}
	}
}
.added-photo {
	overflow: hidden;
	.add{
		position:relative;
		.jq-file{
			position:absolute;
			width:100px;
			height:100px;
			top:0;
			left:0;
			right:0;
			bottom:0;
			cursor:pointer;
		}
	}	
}