.page-content .section .section-body .link {
	.remove_it{
		@extend .remove;
		right:-74px;
	}
	.add_it{
		@extend .add;
		bottom:9px;
	}
}
.about_form_buttons, .choose_is_profy{
	text-align: center;
	float:none;
	padding:20px 0;
}
.specialization_select{
	width:300px;
	border:none;
	border-bottom: 1px solid #a3a8aa;
	height: 48px;
	background: none;
	padding: 5px 20px;
	padding-top:12px;
	cursor: pointer;
	font-family: "open_sansregular", arial, sans-serif;
	color: #1f2430;
	font-size: 14px;
	line-height: 30px;
}