@import "reset";
@import "style";
@import "additional_styles";
@import "fixed_style";
@import "mycss";
@import "uploader";
@import "ng_dialog";
@import "photo";
@import "user";
@import "search";
@import "angucomplete";
//fix for uploadItems list
.add-application{
	position:relative;
	min-height:30px;
}
.application-body{
	position:absolute;
	right:0;
	top:5px;
}
//end
.login{
	position:relative;
}
#competition{
	display:block;
	background:url(../img/baner-tfp-autorize_100_.png) no-repeat top left;
	width:210px;
	height:100px;
	position:absolute;
	top:-100px;
	left:100px;
}	

.module .module-body .item a .item-img{
	padding-bottom:0;
}

.spiner{
	width:100%;
	img{
		width:100px;
		margin:50px auto;
		display:block;
	}
}