<script>
    var mainFields = [];
    function getFields(model) {
        $.ajax({
            type: "POST",
            url: "/CP/ExportHelper/getModelFields",
            data: {
//						values: JSON.stringify(values),
                model: model
            },
            success: function (data) {
                data = data.response;
                mainFields = data;
                $("#fields").empty();
                for (var key in data) {
                    field = data[key];
                    $("#fields").append('<option value="' + field + '">' + field + '</option>');
                }

                $("#fields .btn").click(function () {
                    field = $(this).text();
                    if ($("#" + field + "").val() != field) {
                        $("#" + field + "").val(field);
                    }
                    else {
                        $("#" + field + "").val('');
                    }
                }).change();

                $("#filterParams").empty();
                for (var key in data) {
                    field = data[key];
                    html = '';
                    html += '<div class="control-group">';
                    html += '<label class="control-label" for="filter">' + field + ':</label>';
                    html += '<div class="controls">';
                    html += '<input type="text" name="filter[' + field + '][val]" placeholder="' + field + '" value=""/>';
                    html += '</div>';
                    html += '<div class="controls">';

                    html += '<select name="filter[' + field + '][oper]">';
                    html += '<option value="">=</option>';
                    html += '<option value="$ne">!=</option>';
                    html += '<option value="$lt"><</option>';
                    html += '<option value="$gt">></option>';
                    html += '<option value="$lte"><=</option>';
                    html += '<option value="$gte">>=</option>';
                    html += '<option value="$eq">Тождественно равно</option>';
                    html += '<option value="$in">Содержиться в массиве</option>';
                    html += '<option value="$nin">Не содержиться в массиве</option>';
                    html += '</select>';

                    html += '</div>'
                    html += '<div class="controls">';
                    html += '</div>';
                    html += '</div>';
                    $("#filterParams").append(html);
                }
            }
        });
    }

    $(document).ready(function () {
        $("#model").change(function () {
            getFields($(this).val());
        }).change();

        $("#checkId").change(function () {
            if ($(this).val()) {
                $.ajax({
                    type: "POST",
                    url: "/CP/ExportHelper/checkId",
                    data: {
                        checkId: $(this).val()
                    },
                    success: function (data) {
                        if (data.response.result) {
                            $("#checkResult").html('Завершилось');
                        }
                        else {
                            $("#checkResult").html('Обрабатываеться');
                        }
                        setTimeout(function () {
                            $("#checkResult").html('');
                            $("#checkId").val('');
                        }, 2000);
                    }
                });
            }
        }).change();
    });
</script>

<div>
    <h4 class="brand">Помощник в экспорте</h4>

    {% if exportId %}
        <div class="well">
            <div class="control-group">
                <label class="control-label"><b>Ваш код: {{ exportId }}</b></label>
            </div>
        </div>
    {% endif %}

    {% if exportUrl %}
        <div class="well">
            <div class="control-group">
                <label class="control-label"><b><a href="{{ exportUrl }}">Ваш URL</a></b></label>
            </div>
        </div>
    {% endif %}

    <div class="well">
        <div class="control-group">
            <label class="control-label" for="strtotime">Помощник в получении даты:</label>

            <div class="controls" id="strtotimeDiv">
                <input type="text" id="strtotime" placeholder="strtotime" value="2015-01-01"
                       onchange="$('#strtotimeResult').empty();$('#strtotimeResult').html(Date.parse($(this).val()+' GMT') / 1000);"/>

                <div id="strtotimeResult"></div>
            </div>
        </div>
        <script>
            $("#strtotime").datepicker({
                format: "yyyy-mm-dd"
            });
        </script>
    </div>
    <div id="addBlock" class="well">
        <form method="POST" action="/CP/ExportHelper/export" class="form-horizontal">
            <div>
                <legend>Правка параметров</legend>

                <div class="control-group">
                    <label class="control-label" for="params">params (json):</label>

                    <div class="controls">
                        <input type="text" id="params" name="params" placeholder="params" value="{{ param.params }}"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Выберете необходимую коллекцию:</label>

                    <div class="controls">
                        <select name="model" id="model">
                            {% for key,item in models %}
                                <option value="{{ item.model }}"
                                        {% if param.model == key %}selected=""{% endif %}>{{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Выберете необходимые поля данной коллекции:</label>

                    <div class="controls">
                        <select id="fields" name="fields[]" multiple="multiple" style="height: 300px">
                        </select>
                    </div>
                </div>

                <div id="filterParams">
                </div>

                <div class="control-group">
                    <label class="control-label" for="isExport">Скачать CSV:</label>

                    <div class="controls">
                        <input type="checkbox" id="isExport" name="isExport" placeholder="isExport" value="1" checked/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="onlyUrl">Только URL:</label>

                    <div class="controls">
                        <input type="checkbox" id="onlyUrl" name="onlyUrl" placeholder="onlyUrl" value="1"/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn">Отправить</button>
                </div>
            </div>
        </form>
    </div>

    <div class="well">
        <div>
            <legend>Проверить завершилось ли скачивание</legend>
            <div class="control-group">
                <label class="control-label" for="checkId">Проверить ID:</label>

                <div class="controls">
                    <input type="text" id="checkId" name="checkId" placeholder="checkId" value=""/>
                </div>
            </div>
            <div id="checkResult"></div>
        </div>
    </div>

    <div class="well">
        <form method="POST" action="/CP/ExportHelper/exportById" class="form-horizontal">
            <div>
                <legend>Получение раннее сохраненных данных</legend>
                <div class="control-group">
                    <label class="control-label" for="id">Получить кешированные данные:</label>

                    <div class="controls">
                        <input type="text" id="id" name="id" placeholder="id" value=""/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>