/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of Eric Meyer's CSS Reset */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

html {
  height: 100%; }

body {
  font: 14px/18px Arial, sans-serif;
  width: 100%;
  min-width: 990px;
  height: 100%; }

.wrapper {
  min-width: 990px;
  margin: 0 auto;
  height: auto !important;
  min-height: 100%; }

/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 150px;
  background: #FFE680; }

/* Middle
-----------------------------------------------------------------------------*/
.content {
  padding: 0 0 60px; }

/* Footer
-----------------------------------------------------------------------------*/
.footer {
  height: 183px;
  background: #BFF08E; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
input, textarea {
  outline: none; }

input:active, textarea:active {
  outline: none; }

:focus {
  outline: none; }

input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #a3a8aa;
  height: 30px;
  background: none;
  padding: 5px 20px;
  cursor: pointer;
  font-family: "open_sansregular", arial, sans-serif;
  color: #1f2430;
  font-size: 14px;
  line-height: 21px; }
  input::-webkit-input-placeholder {
    color: #949494;
    opacity: 1; }
  input:-moz-placeholder {
    /* Firefox 18- */
    color: #949494;
    opacity: 1; }
  input::-moz-placeholder {
    /* Firefox 19+ */
    color: #949494;
    opacity: 1; }
  input:-ms-input-placeholder {
    color: #949494;
    opacity: 1; }
  input:focus {
    cursor: text;
    border-bottom: 1px solid #33b7ae;
    color: #33b7ae; }
  input:hover {
    cursor: text;
    border-bottom: 1px solid #1f2430;
    color: #1f2430; }
    input:hover::-webkit-input-placeholder {
      color: #1f2430;
      opacity: 1; }
    input:hover:-moz-placeholder {
      /* Firefox 18- */
      color: #1f2430;
      opacity: 1; }
    input:hover::-moz-placeholder {
      /* Firefox 19+ */
      color: #1f2430;
      opacity: 1; }
    input:hover:-ms-input-placeholder {
      color: #1f2430;
      opacity: 1; }
  input.error {
    color: #cb373a;
    border-bottom: 1px solid #cb373a; }
    input.error::-webkit-input-placeholder {
      color: #cb373a;
      opacity: 1; }
    input.error:-moz-placeholder {
      /* Firefox 18- */
      color: #cb373a;
      opacity: 1; }
    input.error::-moz-placeholder {
      /* Firefox 19+ */
      color: #cb373a;
      opacity: 1; }
    input.error:-ms-input-placeholder {
      color: #cb373a;
      opacity: 1; }

label.error {
  color: #cb373a;
  margin-left: 20px;
  font-size: 11px;
  line-height: 12px;
  width: 240px;
  padding-top: 5px;
  display: block; }

textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #a3a8aa;
  height: 30px;
  background: none;
  padding: 5px 20px;
  cursor: pointer;
  font-family: "open_sansregular", arial, sans-serif;
  margin: 0;
  color: #1f2430;
  background: #f4f4f4;
  font-size: 14px;
  line-height: 21px;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  resize: none; }
  textarea::-webkit-input-placeholder {
    color: #949494;
    opacity: 1; }
  textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #949494;
    opacity: 1; }
  textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #949494;
    opacity: 1; }
  textarea:-ms-input-placeholder {
    color: #949494;
    opacity: 1; }
  textarea:focus {
    cursor: text;
    border-bottom: 1px solid #1f2430; }
  textarea:hover {
    border-bottom: 1px solid #1f2430; }
    textarea:hover::-webkit-input-placeholder {
      color: #1f2430;
      opacity: 1; }
    textarea:hover:-moz-placeholder {
      /* Firefox 18- */
      color: #1f2430;
      opacity: 1; }
    textarea:hover::-moz-placeholder {
      /* Firefox 19+ */
      color: #1f2430;
      opacity: 1; }
    textarea:hover:-ms-input-placeholder {
      color: #1f2430;
      opacity: 1; }

.hidecentered {
  display: none;
  opacity: 0; }

.clearfix:after, .row:after, .container-small:after, .container-big:after, .content-s:after, .section:after, #cms_content:after, .logged-out .form-box-css:after, .logged-out .bg-slider li:after, .pets ul:after, .page-body:after, .page-content .section .section-body .search-query:after, .page-content .section .section-body .link:after, .pop-up-form .search-query input:after, .pop-up-form .changed-file:after, .album-description:after, .comments .comments-body:after, .albums .album-list:after, .dialogues .dialogues-list:after, .dialogues .dialogue-item:after, .dialogues .dialogue-item .dialogue-body:after, .dialogues .dialogue-item .dialogue-body .content-message:after, .dialogues .add-massage .add-massage-body:after, .search__results-list .result-item:after, .search__results-list .result-item__wrapper:after, .search__results-list .result-item__wrapper .search-item:after,
.container:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.row {
  width: 100%;
  min-height: 1px; }

.clear:after {
  clear: both;
  content: ''; }

.container {
  margin: 0 auto;
  width: 990px; }

.container-footer {
  margin: 0 auto;
  width: 990px; }

.container-small {
  margin: 0 auto;
  width: 760px;
  position: relative; }

.container-big {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 990px;
  position: relative; }

.inline-block, i.icons, .jq-checkbox, .description-checkbox, .button, .logged-out .login .social span, .logged-out .login .social .icons, .header .user-block .letters, .header .user-block .alert, .header .user-block .settings, .footer .footer-menu, .footer .langvich, .pets ul, .module.progress-bar span, .page-content .section.specialist-body .section-body .section .add, .page-content .section .section-body table tr td .field, .page-content .section .section-body table tr td .field input, .page-content .section .section-body table tr td .field span, .pop-up-form.settings .checkbox .description-checkbox, .like .quantity-like, .like .quantity-like span, .like .date-time, .pets-item .pets-body .status, .photo-item .bottom .comments, .photo-item .bottom .likes, .module-search .box .description-checkbox, .post-wall .post .signed .date-time, .post-wall .comment-item .signed .date-time, .post-wall .replies .signed .date-time, .post-wall .post .signed .quantity-comments, .post-wall .comment-item .signed .quantity-comments, .post-wall .replies .signed .quantity-comments, .post-wall .post .signed .quantity-comments span, .post-wall .comment-item .signed .quantity-comments span, .post-wall .replies .signed .quantity-comments span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

i[class^="icons-"] {
  display: inline-block;
  *display: inline;
  zoom: 1; }

[class^="col-"] > img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto; }

i.icons {
  background: url("../img/icons.png") no-repeat;
  background-position: 0 0;
  vertical-align: middle; }

a:focus, button:focus {
  outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  /* */
  border: none; }

.sidebar-left {
  float: left;
  margin-bottom: 10px; }

.content-s {
  width: auto; }

.sidebar-right {
  float: right; }

.section {
  width: auto;
  min-height: 1px; }

a {
  text-decoration: none;
  color: #33b7ae; }
  a:hover {
    color: #1f2430; }

.jq-checkbox {
  background: url("../img/icons.png") no-repeat;
  background-position: -120px 0;
  width: 13px;
  height: 14px;
  margin-right: 7px;
  cursor: pointer; }
  .jq-checkbox.checked {
    background-position: -90px 0; }

.description-checkbox {
  font-size: 12px;
  line-height: 20px; }

#cms_content a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.button {
  color: #fff;
  padding: 12px 30px;
  font-size: 14px;
  line-height: 21px;
  border: none;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
  font-family: "open_sansregular", arial, sans-serif; }
  .button.green {
    background: #45837f; }
    .button.green:hover {
      background: #3c716e; }
  .button.grey {
    background: #949494; }
    .button.grey:hover {
      background: #797979; }
  .button + .button {
    margin-left: 7px; }

.close {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  border: none;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
  background: url("../img/icons.png") no-repeat;
  background-position: 0 -90px; }

.logged-out {
  overflow-y: scroll;
  font-family: "open_sansregular", arial, sans-serif; }
  .logged-out .header {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6); }
  .logged-out .footer {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: -60px auto 0;
    position: relative; }
  .logged-out .sign-up {
    width: 300px;
    padding: 26px 78px;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -229px;
    margin-top: -290px; }
    .logged-out .sign-up h2 {
      font-size: 30px;
      line-height: 30px;
      color: #1f2430;
      text-align: center;
      padding-bottom: 24px; }
    .logged-out .sign-up span {
      font-size: 12px;
      line-height: 18px;
      color: #1f2430;
      padding-bottom: 15px;
      display: block; }
    .logged-out .sign-up .field {
      padding-bottom: 20px; }
    .logged-out .sign-up .text-input {
      width: 260px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #a3a8aa;
      height: 30px;
      background: none;
      padding: 5px 20px;
      cursor: pointer;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 20px;
      color: #1f2430;
      font-size: 14px;
      line-height: 21px; }
      .logged-out .sign-up .text-input::-webkit-input-placeholder {
        color: #949494;
        opacity: 1; }
      .logged-out .sign-up .text-input:-moz-placeholder {
        /* Firefox 18- */
        color: #949494;
        opacity: 1; }
      .logged-out .sign-up .text-input::-moz-placeholder {
        /* Firefox 19+ */
        color: #949494;
        opacity: 1; }
      .logged-out .sign-up .text-input:-ms-input-placeholder {
        color: #949494;
        opacity: 1; }
      .logged-out .sign-up .text-input:focus {
        cursor: text; }
      .logged-out .sign-up .text-input:hover {
        border-bottom: 1px solid #1f2430; }
        .logged-out .sign-up .text-input:hover::-webkit-input-placeholder {
          color: #1f2430;
          opacity: 1; }
        .logged-out .sign-up .text-input:hover:-moz-placeholder {
          /* Firefox 18- */
          color: #1f2430;
          opacity: 1; }
        .logged-out .sign-up .text-input:hover::-moz-placeholder {
          /* Firefox 19+ */
          color: #1f2430;
          opacity: 1; }
        .logged-out .sign-up .text-input:hover:-ms-input-placeholder {
          color: #1f2430;
          opacity: 1; }
      .logged-out .sign-up .text-input.error {
        color: #cb373a;
        border-bottom: 1px solid #cb373a; }
        .logged-out .sign-up .text-input.error::-webkit-input-placeholder {
          color: #cb373a;
          opacity: 1; }
        .logged-out .sign-up .text-input.error:-moz-placeholder {
          /* Firefox 18- */
          color: #cb373a;
          opacity: 1; }
        .logged-out .sign-up .text-input.error::-moz-placeholder {
          /* Firefox 19+ */
          color: #cb373a;
          opacity: 1; }
        .logged-out .sign-up .text-input.error:-ms-input-placeholder {
          color: #cb373a;
          opacity: 1; }
    .logged-out .sign-up button {
      margin-top: 15px;
      margin-bottom: 29px; }
    .logged-out .sign-up p {
      font-size: 12px;
      line-height: 20px;
      padding-bottom: 10px; }
    .logged-out .sign-up a {
      color: #33b7ae; }
      .logged-out .sign-up a:hover {
        color: #1f2430; }
  .logged-out .login {
    width: 640px;
    padding: 26px 0;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -290px; }
    .logged-out .login h2 {
      font-size: 30px;
      line-height: 30px;
      color: #1f2430;
      text-align: center;
      padding-bottom: 24px; }
    .logged-out .login .login-left {
      width: 293px;
      float: left;
      margin-left: 70px;
      border-right: 1px solid #ebeae9; }
      .logged-out .login .login-left .text-input {
        width: 220px; }
        .logged-out .login .login-left .text-input:hover {
          border-bottom: 1px solid #1f2430; }
          .logged-out .login .login-left .text-input:hover::-webkit-input-placeholder {
            color: #1f2430;
            opacity: 1; }
          .logged-out .login .login-left .text-input:hover:-moz-placeholder {
            /* Firefox 18- */
            color: #1f2430;
            opacity: 1; }
          .logged-out .login .login-left .text-input:hover::-moz-placeholder {
            /* Firefox 19+ */
            color: #1f2430;
            opacity: 1; }
          .logged-out .login .login-left .text-input:hover:-ms-input-placeholder {
            color: #1f2430;
            opacity: 1; }
    .logged-out .login .login-right {
      width: 160px;
      float: left;
      margin-left: 36px; }
    .logged-out .login span.description {
      font-size: 12px;
      line-height: 18px;
      color: #1f2430;
      padding-bottom: 15px;
      display: block; }
    .logged-out .login span.message {
      font-size: 12px;
      line-height: 20px;
      padding: 5px 20px;
      width: 220px;
      display: block;
      background: #f5716a;
      color: #fff;
      margin-bottom: 20px; }
    .logged-out .login .field {
      position: relative;
      padding-bottom: 20px;
      width: 260px; }
    .logged-out .login .text-input {
      width: 260px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #a3a8aa;
      height: 30px;
      background: none;
      padding: 5px 20px;
      cursor: pointer;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 20px;
      color: #1f2430;
      font-size: 14px;
      line-height: 21px; }
      .logged-out .login .text-input::-webkit-input-placeholder {
        color: #949494;
        opacity: 1; }
      .logged-out .login .text-input:-moz-placeholder {
        /* Firefox 18- */
        color: #949494;
        opacity: 1; }
      .logged-out .login .text-input::-moz-placeholder {
        /* Firefox 19+ */
        color: #949494;
        opacity: 1; }
      .logged-out .login .text-input:-ms-input-placeholder {
        color: #949494;
        opacity: 1; }
      .logged-out .login .text-input:focus {
        cursor: text; }
      .logged-out .login .text-input:hover::-webkit-input-placeholder {
        color: #1f2430;
        opacity: 1; }
      .logged-out .login .text-input:hover:-moz-placeholder {
        /* Firefox 18- */
        color: #1f2430;
        opacity: 1; }
      .logged-out .login .text-input:hover::-moz-placeholder {
        /* Firefox 19+ */
        color: #1f2430;
        opacity: 1; }
      .logged-out .login .text-input:hover:-ms-input-placeholder {
        color: #1f2430;
        opacity: 1; }
      .logged-out .login .text-input.error {
        color: #cb373a;
        border-bottom: 1px solid #cb373a; }
        .logged-out .login .text-input.error::-webkit-input-placeholder {
          color: #cb373a;
          opacity: 1; }
        .logged-out .login .text-input.error:-moz-placeholder {
          /* Firefox 18- */
          color: #cb373a;
          opacity: 1; }
        .logged-out .login .text-input.error::-moz-placeholder {
          /* Firefox 19+ */
          color: #cb373a;
          opacity: 1; }
        .logged-out .login .text-input.error:-ms-input-placeholder {
          color: #cb373a;
          opacity: 1; }
    .logged-out .login .login-footer p {
      padding: 10px 70px; }
    .logged-out .login .login-footer a {
      color: #33b7ae; }
      .logged-out .login .login-footer a:hover {
        color: #1f2430; }
    .logged-out .login .remember {
      width: 260px; }
      .logged-out .login .remember a {
        float: right;
        font-size: 12px;
        line-height: 20px;
        text-align: right;
        color: #33b7ae; }
    .logged-out .login button {
      margin-top: 15px;
      margin-bottom: 29px; }
    .logged-out .login p {
      font-size: 12px;
      line-height: 20px;
      padding-bottom: 10px; }
    .logged-out .login .social {
      display: block;
      font-size: 18px;
      line-height: 27px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
      height: 40px; }
      .logged-out .login .social span {
        line-height: 40px;
        padding-bottom: 0;
        padding-right: 31px;
        color: #fff;
        width: 90px;
        text-align: right;
        float: left; }
      .logged-out .login .social .icons {
        width: 38px;
        height: 40px;
        float: left; }
      .logged-out .login .social.facebook {
        background: #a0b1c2; }
        .logged-out .login .social.facebook .icons {
          background-position: -16px 10px;
          border-left: 1px solid #8394a7; }
        .logged-out .login .social.facebook:hover {
          background: #42668c; }
          .logged-out .login .social.facebook:hover .icons {
            border-left: 1px solid #6b839b; }
      .logged-out .login .social.google {
        background: #eea295; }
        .logged-out .login .social.google .icons {
          background-position: -50px 13px;
          border-left: 1px solid #e89080; }
        .logged-out .login .social.google:hover {
          background: #df4a32; }
          .logged-out .login .social.google:hover .icons {
            border-left: 1px solid #d54730; }
      .logged-out .login .social + .social {
        margin-top: 10px; }
  .logged-out .wrapper-container {
    z-index: 2;
    position: relative;
    height: 100%; }
  .logged-out .form-box-css {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px; }
  .logged-out .bg-slider {
    position: fixed;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1; }
  .logged-out .bg-slider li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .logged-out .bg-slider li:first-child {
    position: relative;
    float: left;
    height: 100%; }
  .logged-out .bg-img-1, .logged-out .bg-img-2, .logged-out .bg-img-3 {
    display: block;
    height: 100%;
    background: url("../img/bg/1.jpg") no-repeat;
    background-size: cover; }
  .logged-out .bg-img-2 {
    background: url("../img/bg/2.jpg") no-repeat;
    background-size: cover; }
  .logged-out .bg-img-3 {
    background: url("../img/bg/3.jpg") no-repeat;
    background-size: cover; }
  .logged-out .footer .copyright {
    font-family: "open_sansregular", arial, sans-serif; }
    .logged-out .footer .copyright span {
      color: #fff; }
  .logged-out .footer .footer-menu li {
    float: left; }
    .logged-out .footer .footer-menu li a {
      color: #33b7ae; }
  .logged-out .footer .langvich .selected {
    color: #70b8b8; }
    .logged-out .footer .langvich .selected .icons {
      background-position: 0 0; }
  .logged-out .footer .langvich ul {
    background-color: rgba(255, 255, 255, 0.6); }
    .logged-out .footer .langvich ul li a {
      color: #33b7ae; }

body {
  background: #dae0e2;
  font-family: "open_sansregular", arial, sans-serif; }

.header {
  height: 60px;
  background-color: #fff;
  margin-bottom: 10px; }
  .header .logo {
    padding-left: 10px;
    width: 100px;
    height: 60px;
    float: left;
    padding-right: 150px; }
  .header .search {
    line-height: 60px;
    position: relative;
    width: 480px;
    float: left; }
    .header .search input {
      padding: 0 31px 0 30px;
      width: 419px;
      border: none;
      border-bottom: 1px solid #a3a8aa;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      height: 30px;
      background: none;
      cursor: pointer;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 15px;
      line-height: 20px;
      color: #1f2430; }
      .header .search input::-webkit-input-placeholder {
        color: #949494;
        opacity: 1; }
      .header .search input:-moz-placeholder {
        /* Firefox 18- */
        color: #949494;
        opacity: 1; }
      .header .search input::-moz-placeholder {
        /* Firefox 19+ */
        color: #949494;
        opacity: 1; }
      .header .search input:-ms-input-placeholder {
        color: #949494;
        opacity: 1; }
      .header .search input:focus {
        cursor: text; }
      .header .search input:hover {
        border-bottom: 1px solid #1f2430; }
        .header .search input:hover::-webkit-input-placeholder {
          color: #1f2430;
          opacity: 1; }
        .header .search input:hover:-moz-placeholder {
          /* Firefox 18- */
          color: #1f2430;
          opacity: 1; }
        .header .search input:hover::-moz-placeholder {
          /* Firefox 19+ */
          color: #1f2430;
          opacity: 1; }
        .header .search input:hover:-ms-input-placeholder {
          color: #1f2430;
          opacity: 1; }
    .header .search i.icons {
      background-position: 0 -30px;
      width: 21px;
      height: 20px;
      position: absolute;
      right: 9px;
      top: 20px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
  .header .user-block {
    width: 215px;
    float: left;
    margin-left: 35px; }
    .header .user-block > ul li {
      float: left;
      height: 60px;
      line-height: 60px; }
      .header .user-block > ul li img {
        display: block;
        padding-top: 7px; }
    .header .user-block .letters, .header .user-block .alert {
      vertical-align: middle;
      position: relative;
      background: url("../img/icons.png") no-repeat;
      background-position: -30px -30px;
      width: 24px;
      height: 19px;
      margin-left: 30px; }
      .header .user-block .letters span, .header .user-block .alert span {
        display: block;
        position: absolute;
        right: -8px;
        top: -9px;
        width: 14px;
        height: 14px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #f16a8d;
        color: #fff;
        text-align: center;
        font-size: 10px;
        line-height: 14px; }
    .header .user-block .alert {
      background-position: -60px -30px;
      height: 24px;
      margin-left: 29px;
      margin-top: 4px; }
    .header .user-block .settings {
      vertical-align: middle;
      position: relative;
      width: 24px;
      height: 24px;
      margin-left: 26px;
      cursor: pointer; }
      .header .user-block .settings .btn-settings {
        width: 24px;
        height: 24px;
        background: url("../img/icons.png") no-repeat;
        background-position: -90px -30px; }
      .header .user-block .settings > ul.list-settings {
        display: none;
        position: absolute;
        top: 40px;
        right: -13px;
        padding: 15px 15px 15px 15px;
        background-color: #fff;
        z-index: 1000; }
        .header .user-block .settings > ul.list-settings li {
          line-height: 24px;
          height: auto; }
          .header .user-block .settings > ul.list-settings li:last-child {
            margin-bottom: 0; }
          .header .user-block .settings > ul.list-settings li a {
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            transition: all 0.35s ease;
            color: #a3a8aa;
            font-size: 15px;
            line-height: 15px; }
            .header .user-block .settings > ul.list-settings li a:hover {
              color: #33b7ae; }

.footer {
  height: 60px;
  background-color: #fff;
  margin: -60px auto 0;
  position: relative; }
  .footer .copyright {
    color: #030c0f;
    float: left;
    font-size: 15px;
    line-height: 22.5px;
    width: 224px;
    margin-left: 20px; }
    .footer .copyright span {
      color: #fff;
      line-height: 60px; }
  .footer .footer-menu li {
    float: left; }
    .footer .footer-menu li a {
      font-family: "open_sansregular", arial, sans-serif;
      padding: 0 16px;
      display: block;
      color: #70b8b8;
      font-size: 15px;
      line-height: 60px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
      .footer .footer-menu li a:hover {
        color: #1f2430; }
  .footer .langvich {
    float: right;
    position: relative; }
    .footer .langvich .selected {
      color: #70b8b8;
      font-size: 15px;
      line-height: 60px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
      cursor: pointer;
      font-family: "open_sansregular", arial, sans-serif; }
      .footer .langvich .selected:hover {
        color: #000; }
      .footer .langvich .selected .icons {
        width: 16px;
        height: 20px;
        background-position: -120px -30px;
        margin-right: 10px; }
    .footer .langvich ul {
      display: none;
      position: absolute;
      left: -12px;
      padding: 15px 15px 5px 28px;
      top: -92px;
      background-color: #fff; }
      .footer .langvich ul li {
        line-height: 24px; }
        .footer .langvich ul li a {
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          font-family: "open_sansregular", arial, sans-serif;
          color: #70b8b8; }
          .footer .langvich ul li a:hover {
            color: #1f2430; }

.profile-cover {
  width: 990px;
  height: 420px;
  margin-bottom: 10px; }
  .profile-cover .page-avatar {
    width: 260px;
    height: 420px;
    float: left;
    position: relative; }
    .profile-cover .page-avatar .profile {
      position: absolute;
      top: 0;
      width: 200px;
      height: 330px;
      padding: 60px 30px 30px 30px; }
      .profile-cover .page-avatar .profile .avatar {
        padding-bottom: 25px; }
        .profile-cover .page-avatar .profile .avatar a .status-pet.died {
          left: 44px;
          top: 180px; }
        .profile-cover .page-avatar .profile .avatar img {
          border: 1px solid #fff;
          display: block; }
        .profile-cover .page-avatar .profile .avatar .change-image {
          right: 51px;
          top: 19px; }
      .profile-cover .page-avatar .profile .status {
        background: #f16a8d;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        padding: 3px 9px;
        position: absolute;
        top: 17px;
        left: 30px;
        font-family: "open_sansregular", arial, sans-serif;
        cursor: pointer;
        display: block; }
        .profile-cover .page-avatar .profile .status .icons {
          height: 14px;
          width: 13px;
          background-position: -150px -30px; }
      .profile-cover .page-avatar .profile h1 {
        font-family: "open_sansregular", arial, sans-serif;
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        padding-bottom: 27px; }
      .profile-cover .page-avatar .profile .town {
        font-family: "open_sansregular", arial, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #fff; }
      .profile-cover .page-avatar .profile .specialists {
        font-family: "open_sansregular", arial, sans-serif;
        font-size: 18px;
        line-height: 18px;
        color: #fff;
        padding-bottom: 5px; }
        .profile-cover .page-avatar .profile .specialists i.icons {
          background-position: 0 -60px;
          width: 20px;
          height: 20px;
          margin-left: 5px; }
      .profile-cover .page-avatar .profile .profile-breed {
        font-family: "open_sansregular", arial, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        width: 100%; }
      .profile-cover .page-avatar .profile .profile-status {
        font-family: "open_sansregular", arial, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        width: 100%; }
      .profile-cover .page-avatar .profile .age {
        font-family: "open_sansregular", arial, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #fff; }

.cover-image-container {
  margin-left: 260px;
  position: relative;
  height: 420px; }

.change-image {
  width: 52px;
  height: 52px;
  display: block;
  position: absolute;
  right: 12px;
  top: 8px;
  z-index: 2;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .change-image .icons {
    background-position: 0 -120px;
    width: 30px;
    height: 22px;
    display: block;
    margin-top: 14px;
    margin-left: 12px; }
  .change-image:hover {
    background: url("../img/black-png.png") repeat; }

.pets {
  background: url("../img/black-png.png") repeat;
  height: 142px;
  padding-top: 17px;
  width: 730px;
  position: absolute;
  text-align: center;
  bottom: 0; }
  .pets ul {
    margin: 0 auto; }
    .pets ul li {
      float: left;
      margin: 0 20px; }
      .pets ul li img {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        margin-bottom: 6px; }
      .pets ul li a {
        text-align: center;
        font-family: "open_sansregular", arial, sans-serif;
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        max-width: 100px;
        display: block;
        margin: 0 auto;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        position: relative; }
        .pets ul li a .add {
          width: 100px;
          height: 100px;
          background: url("../img/add.png") no-repeat;
          background-position: center center;
          display: block;
          margin-bottom: 6px;
          box-shadow: inset  0 0 0 1px #cbd0d2;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          border-radius: 100px; }
        .pets ul li a:hover .add {
          box-shadow: 0 0 0 2px #cbd0d2; }
        .pets ul li a:hover img {
          box-shadow: 0 0 0 2px #cbd0d2; }

.sidebar-left {
  width: 260px;
  float: left; }
  .sidebar-left .profile-main-actions .button {
    width: 130px;
    float: left;
    padding: 0;
    height: 41px;
    text-align: center; }
    .sidebar-left .profile-main-actions .button span {
      line-height: 40px; }
    .sidebar-left .profile-main-actions .button.profile-message-send .icons {
      background-position: -30px -60px;
      width: 24px;
      height: 19px;
      vertical-align: text-top; }
    .sidebar-left .profile-main-actions .button.friend-status {
      margin-left: 0; }
      .sidebar-left .profile-main-actions .button.friend-status .status-page {
        margin-right: 12px; }
      .sidebar-left .profile-main-actions .button.friend-status.friend .status-page {
        vertical-align: text-top;
        background-position: -60px -60px;
        width: 22px;
        height: 20px; }
      .sidebar-left .profile-main-actions .button.friend-status.friend:hover .status-page {
        background-position: -120px -60px;
        width: 22px;
        height: 20px; }
      .sidebar-left .profile-main-actions .button.friend-status.add .status-page {
        background-position: -90px -60px;
        width: 21px;
        height: 21px; }
      .sidebar-left .profile-main-actions .button.friend-status .man {
        background-position: -150px -60px;
        width: 21px;
        height: 21px;
        vertical-align: text-top; }

.module {
  background: #fff; }
  .module + .module {
    margin-top: 10px; }
  .module.friends {
    background: #fff; }
  .module.button-group .button {
    float: left;
    width: 130px;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
    .module.button-group .button + .button {
      margin: 0; }
  .module.discussion {
    background: #fff; }
    .module.discussion .module-body {
      padding: 20px;
      width: 220px; }
    .module.discussion .row + .row {
      padding-top: 19px; }
    .module.discussion a {
      width: 220px;
      display: block;
      color: #1f2430;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
      .module.discussion a:hover {
        color: #33b7ae; }
    .module.discussion .number-comments {
      float: right;
      font-size: 14px;
      line-height: 21px;
      color: #a3a8aa; }
      .module.discussion .number-comments .icons {
        width: 14px;
        height: 12px;
        margin-left: 4px;
        background-position: -150px -90px; }
  .module.progress-bar {
    position: relative;
    height: 30px;
    width: 100%;
    background: #a3a8aa; }
    .module.progress-bar span {
      height: 30px;
      background: #f16a8d; }
    .module.progress-bar .status {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 14px;
      line-height: 20px;
      line-height: 30px;
      height: 30px;
      color: #fff; }
  .module .header-top {
    font-size: 18px;
    line-height: 20px;
    padding: 18px 20px 20px;
    border-bottom: 1px solid #dddddd;
    width: 220px; }
    .module .header-top a {
      font-family: "open_sansregular", arial, sans-serif;
      color: #1f2430;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
      .module .header-top a span {
        color: #a2a8aa; }
      .module .header-top a:hover {
        color: #33b7ae; }
  .module.message {
    position: relative; }
    .module.message .module-body {
      font-size: 14px;
      line-height: 20px;
      padding: 28px 20px 26px 20px;
      width: 220px;
      font-family: "open_sansregular", arial, sans-serif; }
    .module.message .close {
      top: 10px;
      right: 10px; }
  .module .module-body {
    padding: 10px;
    width: 240px; }
    .module .module-body .item {
      padding: 10px 10px 6px 10px;
      width: 100px;
      float: left;
      position: relative; }
      .module .module-body .item a .icons {
        width: 20px;
        height: 20px;
        background-position: 0 -60px;
        position: absolute;
        top: 85px;
        left: 14px; }
      .module .module-body .item a .item-img {
        width: 100px;
        height: 100px;
        overflow: hidden;
        padding-bottom: 8px; }
        .module .module-body .item a .item-img img {
          display: block; }
      .module .module-body .item a span {
        font-family: "open_sansregular", arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #1f2430;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        width: 100%;
        display: block; }
      .module .module-body .item a:hover span {
        color: #33b7ae; }
  .module.family .module-body .item-img img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px; }
  .module.family .module-body .item .family {
    color: #f16a8d; }

.page-body {
  margin-left: 270px;
  margin-bottom: 10px; }
  .page-body .page-menu {
    height: 60px;
    background: #fff;
    margin-bottom: 10px; }
    .page-body .page-menu ul li {
      float: left; }
      .page-body .page-menu ul li a {
        height: 60px;
        display: block;
        padding: 0 18px;
        font-family: "open_sansregular", arial, sans-serif;
        font-size: 18px;
        line-height: 60px;
        color: #1f2430;
        text-transform: uppercase; }
        .page-body .page-menu ul li a.active {
          background: #6f7374;
          color: #fff; }
          .page-body .page-menu ul li a.active:hover {
            color: #fff; }
        .page-body .page-menu ul li a:hover {
          color: #33b7ae; }

.page-content {
  background: #fff;
  float: left;
  position: relative; }
  .page-content .page-content-link {
    color: #33b7ae;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    right: 20px;
    top: 23px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .page-content .page-content-link:hover {
      color: #454545; }
  .page-content h2 {
    padding: 18px 20px 20px;
    border-bottom: 1px solid #dddddd;
    font-family: "open_sansregular", arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #1f2430; }
    .page-content h2 span {
      color: #a3a8aa; }
  .page-content a.edit {
    font-family: "open_sansregular", arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #33b7ae;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    position: absolute;
    right: 20px;
    top: 23px; }
    .page-content a.edit:hover {
      color: #1f2430; }
  .page-content .save {
    font-family: "open_sansregular", arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #a3a8aa;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    position: absolute;
    right: 20px;
    top: 23px;
    background: none;
    border: none;
    cursor: pointer; }
    .page-content .save:hover {
      color: #1f2430; }
  .page-content .section {
    float: left;
    width: 100%; }
    .page-content .section.specialist-body {
      display: none; }
      .page-content .section.specialist-body .section-body {
        float: left; }
        .page-content .section.specialist-body .section-body .section {
          position: relative;
          text-align: center; }
          .page-content .section.specialist-body .section-body .section .row {
            text-align: left; }
            .page-content .section.specialist-body .section-body .section .row .item {
              margin-bottom: 20px;
              position: relative; }
              .page-content .section.specialist-body .section-body .section .row .item .remove {
                display: block;
                position: absolute;
                right: 60px;
                top: 100px;
                width: 24px;
                height: 24px;
                cursor: pointer; }
                .page-content .section.specialist-body .section-body .section .row .item .remove:hover {
                  opacity: 0.5; }
                .page-content .section.specialist-body .section-body .section .row .item .remove .icons {
                  width: 24px;
                  height: 24px;
                  display: block;
                  background-position: -60px -90px; }
          .page-content .section.specialist-body .section-body .section .add {
            cursor: pointer;
            height: 24px;
            font-size: 14px;
            line-height: 24px;
            color: #a3a8aa;
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            transition: all 0.35s ease;
            margin: 20px auto 0; }
            .page-content .section.specialist-body .section-body .section .add .icons {
              background-position: -30px -90px;
              width: 24px;
              height: 24px;
              margin: 0 auto;
              margin-right: 10px; }
            .page-content .section.specialist-body .section-body .section .add:hover {
              opacity: 0.5; }
    .page-content .section .section-body {
      padding: 12px 20px;
      float: left; }
      .page-content .section .section-body.photo-album {
        padding: 10px; }
      .page-content .section .section-body.albums {
        padding: 10px;
        width: 700px;
        float: left; }
      .page-content .section .section-body.dialogues {
        padding: 12px 0 27px; }
      .page-content .section .section-body.list-content {
        padding: 0; }
      .page-content .section .section-body.post-wall {
        padding: 0; }
      .page-content .section .section-body h3 {
        font-size: 18px;
        line-height: 18px;
        color: #1f2430;
        font-family: "open_sansregular", arial, sans-serif; }
      .page-content .section .section-body .specialist-checkbox h3 {
        cursor: pointer;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease; }
        .page-content .section .section-body .specialist-checkbox h3:hover {
          color: #33b7ae; }
      .page-content .section .section-body .message {
        font-size: 14px;
        line-height: 20px;
        color: #f16a8d;
        padding-top: 19px; }
      .page-content .section .section-body table {
        width: 100%; }
        .page-content .section .section-body table tr td {
          font-family: "open_sansregular", arial, sans-serif;
          color: #1f2430;
          width: 470px;
          height: 42px;
          font-size: 18px;
          line-height: 24px; }
          .page-content .section .section-body table tr td p {
            font-size: 18px;
            line-height: 28px; }
            .page-content .section .section-body table tr td p + p {
              padding-top: 34px; }
            .page-content .section .section-body table tr td p:last-child {
              padding-bottom: 10px; }
          .page-content .section .section-body table tr td:first-child {
            width: 210px;
            color: #a2a8aa; }
          .page-content .section .section-body table tr td input {
            padding-top: 12px; }
          .page-content .section .section-body table tr td li a {
            font-family: "open_sansregular", arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #33b7ae;
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            transition: all 0.35s ease; }
            .page-content .section .section-body table tr td li a:hover {
              color: #1f2430; }
          .page-content .section .section-body table tr td .field {
            width: 122px;
            margin-right: 49px;
            position: relative;
            border-bottom: 1px solid #a3a8aa;
            text-align: right;
            height: 40px; }
            .page-content .section .section-body table tr td .field input {
              width: 82px;
              padding: 0;
              border: none;
              text-align: right;
              padding-right: 15px;
              padding-top: 5px; }
            .page-content .section .section-body table tr td .field + .field {
              margin-right: 0; }
            .page-content .section .section-body table tr td .field span {
              font-family: "open_sansregular", arial, sans-serif;
              font-size: 14px;
              padding-top: 4px; }
      .page-content .section .section-body input {
        width: 260px; }
      .page-content .section .section-body .search-query {
        width: 300px;
        position: relative; }
        .page-content .section .section-body .search-query i.icons {
          position: absolute;
          right: 0;
          top: 16px;
          background-position: 0 -30px;
          width: 21px;
          height: 20px; }
        .page-content .section .section-body .search-query .search {
          display: none;
          position: absolute;
          background: #f9f9f9;
          padding: 10px 20px;
          z-index: 5000;
          width: 260px; }
          .page-content .section .section-body .search-query .search li {
            font-size: 14px;
            line-height: 28px;
            color: #1f2430;
            cursor: pointer; }
            .page-content .section .section-body .search-query .search li:hover {
              color: #33b7ae; }
      .page-content .section .section-body .link {
        position: relative;
        width: 460px; }
        .page-content .section .section-body .link .row {
          position: relative; }
        .page-content .section .section-body .link .item {
          width: 300px;
          position: relative; }
        .page-content .section .section-body .link .remove {
          display: block;
          position: absolute;
          right: 0;
          top: 15px;
          width: 24px;
          height: 24px;
          cursor: pointer; }
          .page-content .section .section-body .link .remove:hover {
            opacity: 0.5; }
          .page-content .section .section-body .link .remove .icons {
            width: 24px;
            height: 24px;
            display: block;
            background-position: -60px -90px; }
        .page-content .section .section-body .link .add {
          position: absolute;
          z-index: 100;
          right: 53px;
          bottom: 7px;
          width: 24px;
          height: 24px;
          cursor: pointer; }
          .page-content .section .section-body .link .add:hover {
            opacity: 0.5; }
          .page-content .section .section-body .link .add .icons {
            background-position: -30px -90px;
            width: 24px;
            height: 24px;
            display: block; }
  .page-content.edit-page .section .section-body table tr td {
    height: auto; }
  .page-content.edit-page textarea {
    width: 280px;
    padding: 10px 10px;
    height: 100px;
    margin-top: 10px; }

.footer .copyright {
  font-family: "open_sansregular", arial, sans-serif; }
  .footer .copyright span {
    color: #a3a8aa; }

.pop-up-form {
  padding: 25px 80px 39px 80px; }
  .pop-up-form h2 {
    font-family: "open_sansregular", arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #1f2430;
    padding-bottom: 24px;
    text-align: center; }
  .pop-up-form .description {
    font-size: 12px;
    line-height: 18px;
    color: #1f2430;
    padding-bottom: 15px;
    display: block; }
  .pop-up-form textarea {
    width: 280px;
    padding: 10px 10px;
    height: 80px; }
  .pop-up-form input {
    width: 260px;
    padding: 0 20px; }
  .pop-up-form .button {
    margin-top: 31px; }
  .pop-up-form .section + .section {
    margin-top: 50px; }
  .pop-up-form.settings {
    padding: 25px 78px 39px 78px; }
    .pop-up-form.settings input {
      width: 260px; }
    .pop-up-form.settings .field {
      padding-bottom: 20px; }
    .pop-up-form.settings .select-language {
      position: relative; }
      .pop-up-form.settings .select-language .lang {
        position: absolute;
        left: 20px;
        top: 12px;
        color: #1f2430;
        font-family: "open_sansregular", arial, sans-serif; }
    .pop-up-form.settings .checkbox span {
      width: 150px;
      float: left; }
    .pop-up-form.settings .checkbox .description-checkbox {
      font-size: 12px;
      line-height: 14px;
      width: 128px; }
    .pop-up-form.settings .jq-selectbox__select-text {
      padding-left: 47px;
      padding-top: 6px; }
  .pop-up-form.rules {
    padding: 45px 100px 40px 100px; }
    .pop-up-form.rules p {
      font-size: 18px;
      line-height: 30px;
      font-family: "open_sansregular", arial, sans-serif;
      color: #71747b;
      padding-bottom: 40px; }
    .pop-up-form.rules strong {
      font-family: "open_sanssemibold", arial, sans-serif; }
  .pop-up-form .search-query {
    position: relative; }
    .pop-up-form .search-query input {
      width: 260px;
      position: relative; }
    .pop-up-form .search-query i.icons {
      background-position: 0 -30px;
      height: 20px;
      position: absolute;
      right: 4px;
      top: 0;
      width: 21px; }
  .pop-up-form.developers {
    padding: 25px 60px 39px 60px; }
    .pop-up-form.developers textarea {
      width: 320px;
      padding: 10px 10px;
      height: 80px; }
  .pop-up-form.addalbum h2 {
    text-align: left; }
  .pop-up-form.addalbum textarea {
    margin-top: 19px;
    display: block;
    padding-left: 20px;
    width: 270px; }
  .pop-up-form.add-new-photo {
    padding: 25px 60px 39px; }
    .pop-up-form.add-new-photo h2 {
      text-align: left;
      padding-bottom: 42px; }
    .pop-up-form.add-new-photo .added-photo {
      width: 100px;
      height: 100px;
      margin: 5px;
      float: left; }
      .pop-up-form.add-new-photo .added-photo img {
        width: 100px;
        height: 100px;
        display: block; }
      .pop-up-form.add-new-photo .added-photo .add {
        width: 100px;
        height: 100px;
        background: url("../img/add.png") no-repeat;
        background-position: center center;
        display: block;
        margin-bottom: 6px;
        box-shadow: inset  0 0 0 1px #cbd0d2;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; }
        .pop-up-form.add-new-photo .added-photo .add:hover {
          box-shadow: inset  0 0 0 2px #cbd0d2; }
      .pop-up-form.add-new-photo .added-photo span {
        width: 100px;
        display: block;
        text-align: center; }
  .pop-up-form.add-your-pet input {
    padding-top: 31px; }
  .pop-up-form.add-your-pet .jq-selectbox {
    padding-top: 13px; }
  .pop-up-form.add-your-pet .description {
    padding: 0; }
  .pop-up-form.add-group-pet input {
    padding-top: 31px; }
  .pop-up-form.add-group-pet .jq-selectbox {
    margin-top: 23px;
    height: auto; }
  .pop-up-form.add-group-pet .description {
    padding: 0; }
  .pop-up-form.add-group-pet .search-query i.icons {
    top: 35px; }
  .pop-up-form.add-group-pet textarea {
    margin-top: 30px; }
  .pop-up-form .changed-file {
    position: relative;
    height: 150px;
    width: 144px;
    margin-top: 36px; }
    .pop-up-form .changed-file span {
      font-family: "open_sansregular", arial, sans-serif;
      color: #a3a8aa;
      font-size: 14px;
      line-height: 20px; }
    .pop-up-form .changed-file .selected-image {
      position: relative;
      width: 100px;
      height: 100px;
      box-shadow: inset  0 0 0 1px #cbd0d2;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      cursor: pointer; }
      .pop-up-form .changed-file .selected-image:hover {
        box-shadow: 0 0 0 2px #cbd0d2; }
      .pop-up-form .changed-file .selected-image i.icons {
        background-position: -60px -120px;
        display: block;
        height: 33px;
        margin: 0 auto;
        position: relative;
        top: 31px;
        width: 44px; }
    .pop-up-form .changed-file .close {
      width: 12px;
      height: 12px;
      background: url("../img/icons.png") no-repeat;
      background-position: -150px 0;
      position: absolute;
      right: 0;
      top: 0; }
  .pop-up-form.photo-album {
    padding: 25px 80px 55px; }
    .pop-up-form.photo-album .section + .section {
      margin-top: 37px; }
    .pop-up-form.photo-album .quantity-photos {
      font-size: 14px;
      line-height: 30px;
      padding-bottom: 20px; }
    .pop-up-form.photo-album .big-photo {
      position: relative;
      height: 392px; }
      .pop-up-form.photo-album .big-photo .control {
        position: relative;
        top: -55%;
        height: 32px; }
        .pop-up-form.photo-album .big-photo .control .previous-photo {
          left: 16px;
          position: absolute;
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          cursor: pointer; }
          .pop-up-form.photo-album .big-photo .control .previous-photo .icons {
            width: 32px;
            height: 32px;
            display: block;
            background-position: -60px -178px; }
          .pop-up-form.photo-album .big-photo .control .previous-photo:hover {
            opacity: 0.5; }
        .pop-up-form.photo-album .big-photo .control .next-photo {
          right: 16px;
          position: absolute;
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          cursor: pointer; }
          .pop-up-form.photo-album .big-photo .control .next-photo .icons {
            width: 32px;
            height: 32px;
            display: block;
            background-position: -118px -178px; }
          .pop-up-form.photo-album .big-photo .control .next-photo:hover {
            opacity: 0.5; }
    .pop-up-form.photo-album .description-photo {
      position: relative; }
      .pop-up-form.photo-album .description-photo .description {
        width: 353px;
        float: left;
        padding-top: 18px;
        padding-bottom: 0; }
        .pop-up-form.photo-album .description-photo .description p {
          font-size: 14px;
          line-height: 21px;
          color: #081024; }
        .pop-up-form.photo-album .description-photo .description textarea {
          width: 334px;
          height: 18px; }
      .pop-up-form.photo-album .description-photo .delete-photo {
        position: absolute;
        right: 0;
        top: 42px; }

.like {
  padding-top: 18px;
  float: right;
  width: 248px;
  text-align: right; }
  .like .quantity-like {
    vertical-align: middle;
    text-align: right; }
    .like .quantity-like span {
      vertical-align: middle;
      font-size: 14px;
      line-height: 21px;
      color: #33b7ae;
      padding-right: 4px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
    .like .quantity-like .icons {
      background-position: -30px -210px;
      width: 15px;
      height: 13px;
      margin-right: 9px; }
    .like .quantity-like:hover span {
      color: #1f2430; }
  .like .date-time {
    float: right;
    font-size: 14px;
    line-height: 21px;
    color: #a3a8aa;
    padding-left: 25px; }
    .like .date-time span {
      padding-left: 8px; }

.jq-selectbox {
  width: 300px;
  height: 45px;
  cursor: pointer;
  font-family: "open_sansregular", arial, sans-serif;
  color: #1f2430;
  border-bottom: 1px solid #a3a8aa;
  background: url("../img/arrow.png") no-repeat;
  background-position: right center;
  font-size: 14px;
  line-height: 20px; }
  .jq-selectbox:hover {
    border-bottom: 1px solid #1f2430; }
  .jq-selectbox select {
    display: none; }
  .jq-selectbox .jq-selectbox__select-text {
    padding-left: 0;
    padding-top: 6px; }
  .jq-selectbox .jq-selectbox__select {
    padding: 5px 20px; }
  .jq-selectbox .jq-selectbox__dropdown {
    width: 260px;
    padding: 5px 20px;
    background: #f9f9f9; }
    .jq-selectbox .jq-selectbox__dropdown li {
      font-size: 14px;
      line-height: 28px;
      color: #1f2430;
      font-family: "open_sansregular", arial, sans-serif;
      padding-bottom: 10px; }
      .jq-selectbox .jq-selectbox__dropdown li:hover {
        color: #33b7ae; }
      .jq-selectbox .jq-selectbox__dropdown li:last-child {
        padding-bottom: 0; }

.pets-item {
  float: left;
  padding: 25px 0;
  height: 130px; }
  .pets-item.odd {
    background: #f6f7fa; }
  .pets-item .photo {
    float: left;
    width: 140px;
    margin-right: 19px;
    margin-top: 15px; }
    .pets-item .photo img {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      margin-bottom: 6px; }
    .pets-item .photo a {
      position: relative;
      display: block;
      width: 100px;
      margin: 0 auto; }
  .pets-item .pets-body {
    float: left;
    width: 380px;
    position: relative; }
    .pets-item .pets-body .status {
      color: #fff;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
      background: #f16a8d;
      padding: 3px 10px; }
    .pets-item .pets-body h3 {
      margin-top: 13px;
      padding-bottom: 13px; }
      .pets-item .pets-body h3 a {
        color: #1f2430;
        font-family: "open_sansregular", arial, sans-serif;
        font-size: 24px;
        line-height: 24px;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease; }
        .pets-item .pets-body h3 a:hover {
          color: #33b7ae; }
      .pets-item .pets-body h3 .he {
        width: 17px;
        height: 17px;
        background-position: -90px -90px;
        margin-left: 5px; }
      .pets-item .pets-body h3 .she {
        width: 18px;
        height: 18px;
        background-position: -120px -90px;
        margin-left: 5px; }
    .pets-item .pets-body .breed {
      color: #a3a8aa;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 13px;
      line-height: 13px;
      padding-bottom: 10px; }
    .pets-item .pets-body p {
      color: #1f2430;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 14px;
      line-height: 20px; }
  .pets-item .pedigree {
    float: left;
    width: 180px; }
    .pets-item .pedigree.add a .icons {
      width: 100px;
      height: 100px;
      background: url("../img/add.png") no-repeat;
      background-position: center center;
      display: block;
      margin-bottom: 6px;
      box-shadow: inset  0 0 0 1px #cbd0d2;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px; }
    .pets-item .pedigree.add a span {
      color: #a3a8aa;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 14px;
      line-height: 20px; }
    .pets-item .pedigree.add a:hover .icons {
      box-shadow: inset  0 0 0 2px #cbd0d2; }
    .pets-item .pedigree.view a .icons {
      width: 100px;
      height: 100px;
      background: url("../img/view.png") no-repeat;
      background-position: center center;
      display: block;
      margin-bottom: 6px;
      box-shadow: inset  0 0 0 1px #7cb5b2;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px; }
    .pets-item .pedigree.view a span {
      color: #33b7ae;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 14px;
      line-height: 20px; }
    .pets-item .pedigree.view a:hover span {
      color: #1f2430; }
    .pets-item .pedigree.view a:hover .icons {
      box-shadow: inset  0 0 0 2px #7cb5b2; }
    .pets-item .pedigree a {
      display: block;
      width: 180px;
      text-align: center; }
      .pets-item .pedigree a:hover span {
        color: #33b7ae; }
    .pets-item .pedigree .icons {
      margin: 5px auto 8px; }
    .pets-item .pedigree span {
      color: #a3a8aa;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 14px;
      line-height: 20px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }

.ui-menu-item {
  background: #f9f9f9;
  padding: 5px 20px;
  width: 260px;
  font-size: 14px;
  line-height: 28px;
  color: #1f2430;
  cursor: pointer;
  width: 260px;
  font-family: "open_sansregular", arial, sans-serif; }
  .ui-menu-item:hover {
    color: #33b7ae; }

.tooltipster-default .tooltipster-content {
  font-family: "open_sansregular", arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 15px;
  overflow: hidden;
  text-align: center; }

.status-pet.died {
  background-position: -30px -120px;
  height: 21px;
  left: 3px;
  position: absolute;
  top: 81px;
  width: 24px; }

.pet .avatar img {
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px; }
.pet .cover-image-container .pets img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
.pet .cover-image-container .pets .add {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.change-status {
  padding: 25px 30px 39px; }
  .change-status h2 {
    text-align: center; }
  .change-status span {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 39px;
    display: block; }
  .change-status label {
    width: 100%;
    display: block;
    margin-bottom: 18px;
    cursor: pointer; }
  .change-status .jq-radio {
    width: 18px;
    height: 18px;
    background: url("../img/icons.png") no-repeat;
    background-position: 0  -150px;
    margin-right: 10px;
    vertical-align: middle; }
    .change-status .jq-radio.checked {
      background-position: -30px  -150px; }
  .change-status .col-1 {
    float: left;
    width: 208px; }
  .change-status .col-2 {
    margin-left: 208px; }
  .change-status .button {
    margin-top: 20px;
    margin-left: 28px; }
  .change-status .row {
    overflow: hidden; }

.ui-front {
  z-index: 999999; }

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
  margin: 0; }

.album-description {
  position: relative;
  padding-top: 22px; }
  .album-description .photo-item {
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    width: 155px;
    height: 155px;
    margin: 0 20px 0 0; }
  .album-description .add-photo {
    float: left;
    margin: 0;
    width: 155px;
    height: 155px; }
    .album-description .add-photo .add {
      background: url("../img/add.png") no-repeat center center;
      display: block;
      height: 32px;
      width: 32px;
      margin: 46px auto 8px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    .album-description .add-photo .text {
      text-align: center;
      display: block;
      color: #a3a8aa;
      font-size: 14px;
      line-height: 20px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
    .album-description .add-photo:hover .add {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg); }
    .album-description .add-photo:hover .text {
      color: #000; }
  .album-description p {
    width: 450px;
    float: left;
    margin-top: 50px; }
  .album-description textarea {
    width: 446px;
    margin-left: 175px;
    padding: 10px 10px 10px 20px;
    height: 117px;
    display: block; }

.photo-album {
  padding: 10px; }

.photo-item {
  margin: 10px;
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .photo-item .add-photo {
    float: left;
    margin: 0;
    width: 155px;
    height: 155px; }
    .photo-item .add-photo .add {
      background: url("../img/add.png") no-repeat center center;
      display: block;
      height: 32px;
      width: 32px;
      margin: 46px auto 8px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    .photo-item .add-photo .text {
      text-align: center;
      display: block;
      color: #a3a8aa;
      font-size: 14px;
      line-height: 20px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
    .photo-item .add-photo:hover .add {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg); }
    .photo-item .add-photo:hover .text {
      color: #000; }
  .photo-item .photo-pop-up {
    width: 155px;
    height: 155px;
    display: block; }
  .photo-item .bottom {
    position: absolute;
    background: url("../img/black-png.png") repeat;
    height: 23px;
    bottom: -23px;
    width: 155px; }
    .photo-item .bottom .comments {
      float: left;
      padding-left: 7px;
      color: #fff;
      font-size: 14px;
      line-height: 23px; }
      .photo-item .bottom .comments .icons {
        margin-left: 4px;
        width: 14px;
        height: 11px;
        background-position: 0 -180px; }
    .photo-item .bottom .likes {
      float: right;
      padding-right: 7px;
      color: #fff;
      font-size: 14px;
      line-height: 23px; }
      .photo-item .bottom .likes .icons {
        margin-left: 4px;
        width: 15px;
        height: 13px;
        background-position: -30px -180px; }
  .photo-item .ramove {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 8px;
    right: 8px;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .photo-item .ramove .icons {
      background-position: -150px 0;
      width: 12px;
      height: 12px;
      display: block; }
    .photo-item .ramove:hover {
      opacity: 0.7; }

.photo-album-edit .photo-pop-up {
  opacity: 0.5;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease; }
.photo-album-edit .photo-item:hover .photo-pop-up {
  opacity: 1; }

.scroll-pane {
  width: 100%;
  height: 200px;
  overflow: auto; }

.comments .comments-list {
  width: 480px;
  float: left; }
.comments .comments-item {
  padding-bottom: 47px;
  float: left;
  width: 480px;
  position: relative; }
  .comments .comments-item .remove {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer; }
    .comments .comments-item .remove .icons {
      width: 12px;
      height: 12px;
      background-position: -180px 0;
      display: block; }
    .comments .comments-item .remove:hover .icons {
      background-position: -150px 0; }
.comments .avatars {
  width: 81px;
  height: 81px;
  float: left; }
  .comments .avatars img {
    display: block;
    width: 81px;
    height: 81px; }
.comments .comments-body {
  margin-left: 100px; }
.comments .name {
  padding-bottom: 6px; }
  .comments .name a {
    font-size: 18px;
    line-height: 30px; }
.comments .coment {
  padding-bottom: 10px; }
  .comments .coment p {
    color: #454545;
    font-size: 14px;
    line-height: 20px; }
    .comments .coment p + p {
      padding-top: 16px; }
.comments .coment-footer.like {
  padding-top: 0;
  width: 100%; }
  .comments .coment-footer.like .date-time {
    float: left;
    padding-left: 0; }
  .comments .coment-footer.like .reply {
    padding-left: 31px; }

.add-comments .avatars {
  width: 81px;
  height: 81px;
  float: left; }
  .add-comments .avatars img {
    display: block;
    width: 81px;
    height: 81px; }
.add-comments .comments-body {
  margin-left: 100px;
  position: relative; }
  .add-comments .comments-body textarea {
    width: 353px;
    padding: 5px 13px;
    height: 70px; }
  .add-comments .comments-body .button {
    right: 0;
    bottom: 0;
    position: absolute; }

.albums {
  padding: 10px; }
  .albums .add-album {
    width: 100px;
    margin: 0 auto;
    margin-top: 36px;
    text-align: center;
    display: block; }
    .albums .add-album .add {
      background: url("../img/add.png") no-repeat center center;
      display: block;
      height: 50px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    .albums .add-album .text {
      text-align: center;
      display: block;
      color: #a3a8aa;
      font-size: 14px;
      line-height: 20px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
    .albums .add-album:hover .add {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg); }
    .albums .add-album:hover .text {
      color: #000; }
  .albums .album-item {
    width: 155px;
    height: 155px;
    float: left;
    position: relative;
    margin: 10px;
    overflow: hidden; }
    .albums .album-item .link-album {
      display: block;
      width: 155px;
      height: 155px; }
    .albums .album-item .bottom {
      background: url("../img/black-png.png") repeat;
      position: absolute;
      top: 107px;
      width: 135px;
      padding: 10px;
      height: 135px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
      .albums .album-item .bottom h3 {
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 25px; }
      .albums .album-item .bottom p {
        color: #fff;
        font-size: 14px;
        line-height: 20px; }

.show-all {
  font-family: "open_sansregular", arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #33b7ae;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  position: absolute;
  right: 20px;
  top: 23px;
  background: none;
  border: none;
  cursor: pointer; }
  .show-all:hover {
    color: #1f2430; }

.return-message {
  font-family: "open_sansregular", arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #a3a8aa;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  position: absolute;
  right: 20px;
  top: 23px;
  background: none;
  border: none;
  cursor: pointer; }
  .return-message:hover {
    color: #1f2430; }

.add-album {
  width: 100px;
  margin: 0 auto;
  margin-top: 36px;
  text-align: center;
  display: block; }
  .add-album .add {
    background: url("../img/add.png") no-repeat center center;
    display: block;
    height: 50px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  .add-album .text {
    text-align: center;
    display: block;
    color: #a3a8aa;
    font-size: 14px;
    line-height: 20px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  .add-album:hover .add {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
  .add-album:hover .text {
    color: #000; }

.dialogues {
  width: 720px; }
  .dialogues .dialogues-list {
    width: 680px;
    padding: 0 20px 20px; }
  .dialogues .dialogue-item {
    margin-bottom: 30px; }
    .dialogues .dialogue-item .avatar {
      width: 81px;
      height: 81px;
      float: left; }
      .dialogues .dialogue-item .avatar a, .dialogues .dialogue-item .avatar img {
        width: 81px;
        height: 81px;
        display: block; }
      .dialogues .dialogue-item .avatar img {
        margin-top: 8px; }
    .dialogues .dialogue-item .dialogue-body {
      margin-left: 100px; }
      .dialogues .dialogue-item .dialogue-body h3 {
        padding-bottom: 6px; }
        .dialogues .dialogue-item .dialogue-body h3 a {
          font-size: 18px;
          line-height: 27px; }
      .dialogues .dialogue-item .dialogue-body .content-message p {
        font-size: 14px;
        line-height: 20px;
        color: #454545; }
      .dialogues .dialogue-item .dialogue-body .dialogue-content {
        float: left;
        width: 418px; }
      .dialogues .dialogue-item .dialogue-body .dialogue-date-time {
        float: left;
        width: 120px;
        margin-left: 20px; }
        .dialogues .dialogue-item .dialogue-body .dialogue-date-time .date-time {
          margin-top: 34px;
          color: #a3a8aa; }
          .dialogues .dialogue-item .dialogue-body .dialogue-date-time .date-time span {
            padding-left: 7px; }
  .dialogues .add-massage {
    margin-top: 15px;
    border-top: 1px solid #dddddd;
    padding-top: 15px; }
    .dialogues .add-massage .row {
      padding: 0 20px;
      width: 680px; }
    .dialogues .add-massage .avatar {
      width: 81px;
      height: 81px;
      float: left; }
      .dialogues .add-massage .avatar a, .dialogues .add-massage .avatar img {
        width: 81px;
        height: 81px;
        display: block; }
    .dialogues .add-massage .add-massage-body {
      margin-left: 100px; }
      .dialogues .add-massage .add-massage-body textarea {
        min-height: 56px;
        width: 378px;
        padding: 12px 20px; }
  .dialogues .send-massage {
    margin-left: 20px;
    margin-top: 26px;
    width: 519px; }
    .dialogues .send-massage .button {
      float: left;
      margin-left: 100px; }
    .dialogues .send-massage .smile {
      float: right;
      margin-top: 6px;
      width: 24px;
      height: 23px;
      cursor: pointer; }
      .dialogues .send-massage .smile .icons {
        width: 24px;
        height: 24px;
        display: block;
        background-position: 0 -210px; }
  .dialogues .dialogues-list {
    height: 560px; }
  .dialogues .jspVerticalBar {
    right: 20px; }

.jspVerticalBar .jspDrag {
  background: #f4f4f4; }
.jspVerticalBar .jspTrack {
  background: #fff; }

.list-content .list-content__item {
  width: 720px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .list-content .list-content__item.gray {
    background: #f6f7fa; }
  .list-content .list-content__item .list-content__photo {
    float: left;
    margin-right: 10px;
    width: 140px;
    padding-top: 3px; }
    .list-content .list-content__item .list-content__photo a {
      width: 100px;
      height: 100px;
      display: block;
      margin: 0 auto;
      overflow: hidden;
      position: relative; }
      .list-content .list-content__item .list-content__photo a .icons {
        width: 20px;
        height: 20px;
        position: absolute;
        background-position: 0 -60px;
        bottom: 4px;
        left: 4px; }
    .list-content .list-content__item .list-content__photo img {
      width: 100px;
      height: 100px;
      display: block; }
.list-content .list-content__body {
  position: relative;
  width: 380px;
  float: left; }
  .list-content .list-content__body h3 {
    padding-bottom: 3px; }
    .list-content .list-content__body h3 a {
      font-size: 18px;
      line-height: 24px;
      color: #1f2430;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
      .list-content .list-content__body h3 a:hover {
        color: #33b7ae; }
  .list-content .list-content__body .description {
    color: #a3a8aa;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 14px; }
  .list-content .list-content__body .list-content__pets li {
    float: left;
    margin-right: 10px; }
    .list-content .list-content__body .list-content__pets li a {
      width: 50px;
      height: 50px;
      display: block;
      overflow: hidden;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px; }
      .list-content .list-content__body .list-content__pets li a img {
        width: 50px;
        height: 50px;
        display: block; }
.list-content .list-content__link {
  float: left;
  width: 170px;
  padding-top: 8px; }
  .list-content .list-content__link li + li {
    padding-top: 20px; }
  .list-content .list-content__link li a:hover {
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
.list-content.group .list-content__photo {
  float: left;
  width: 120px;
  padding-top: 3px; }
  .list-content.group .list-content__photo a {
    width: 81px;
    height: 81px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
  .list-content.group .list-content__photo img {
    width: 81px;
    height: 81px;
    display: block; }
.list-content.group .list-content__body {
  width: 400px;
  padding-right: 20px; }

.search__results-list {
  position: absolute;
  width: 480px;
  background: #fff;
  z-index: 9999;
  line-height: 18px;
  padding-bottom: 10px; }
  .search__results-list .result-item .result-item__name {
    padding: 16px 30px 5px;
    width: 419px;
    border-bottom: 1px solid #a3a8aa; }
    .search__results-list .result-item .result-item__name a {
      font-size: 15px;
      line-height: 20px;
      color: #33b7ae;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
      .search__results-list .result-item .result-item__name a:hover {
        color: #1f2430; }
  .search__results-list .result-item.search-pet .result-item__photo a {
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px; }
  .search__results-list .result-item__wrapper .search-item {
    padding: 10px 30px 0; }
  .search__results-list .result-item__wrapper .result-item__photo {
    width: 45px;
    height: 45px;
    float: left;
    padding-right: 23px; }
    .search__results-list .result-item__wrapper .result-item__photo a {
      width: 45px;
      height: 45px;
      display: block;
      overflow: hidden; }
    .search__results-list .result-item__wrapper .result-item__photo img {
      width: 45px;
      height: 45px;
      display: block; }
  .search__results-list .result-item__wrapper .result-item__body {
    margin-left: 68px; }
    .search__results-list .result-item__wrapper .result-item__body h3 {
      padding-bottom: 3px; }
      .search__results-list .result-item__wrapper .result-item__body h3 a {
        color: #1f2430;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease; }
        .search__results-list .result-item__wrapper .result-item__body h3 a:hover {
          color: #33b7ae; }
  .search__results-list .result-item__wrapper .result-item__description {
    color: #a3a8aa; }
  .search__results-list .more-results {
    text-align: center;
    padding: 10px 0 0 0; }
    .search__results-list .more-results a {
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }

.module-search {
  background: none; }
  .module-search .tabs {
    height: 48px;
    background: #fff;
    margin-bottom: 10px;
    display: table;
    width: 100%; }
    .module-search .tabs li {
      height: 48px;
      display: table-cell;
      text-align: center;
      font-family: "open_sansregular", arial, sans-serif;
      font-size: 14px;
      line-height: 48px;
      color: #1f2430;
      cursor: pointer; }
      .module-search .tabs li.current {
        background: #6f7374;
        color: #fff; }
        .module-search .tabs li.current:hover {
          color: #fff; }
      .module-search .tabs li:hover {
        color: #33b7ae; }
  .module-search .box {
    display: none;
    background: #fff;
    padding: 20px 20px; }
    .module-search .box.visible {
      display: block; }
    .module-search .box .description-checkbox {
      vertical-align: middle;
      font-size: 14px; }
    .module-search .box .jq-checkbox {
      vertical-align: middle; }
    .module-search .box .search-query {
      width: 190px;
      position: relative;
      height: 40px; }
      .module-search .box .search-query .ui-autocomplete-input {
        width: 150px; }
      .module-search .box .search-query .icons {
        background-position: 0 -30px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 12px;
        width: 21px;
        display: block; }
    .module-search .box .jq-selectbox {
      width: 190px;
      height: 40px; }
      .module-search .box .jq-selectbox .jq-selectbox__dropdown {
        width: 150px;
        border-top: 1px solid #a3a8aa; }
    .module-search .box .row-checkbox {
      margin-top: 15px; }

.page-search .ui-autocomplete {
  width: 190px; }
  .page-search .ui-autocomplete .ui-menu-item {
    width: 170px; }

.group-pets .page-avatar .profile h1 {
  font-size: 24px;
  line-height: 36px;
  padding: 0; }
.group-pets .page-avatar .profile .number-participants {
  font-size: 18px;
  line-height: 36px;
  color: #fff; }
.group-pets .album-description {
  padding-bottom: 20px; }

.post-wall .post-item {
  float: left;
  width: 720px; }
  .post-wall .post-item + .post-item {
    border-top: 1px solid #dddddd; }
.post-wall .post, .post-wall .comment-item, .post-wall .replies {
  margin: 17px 0 20px 20px;
  width: 660px;
  float: left;
  position: relative; }
  .post-wall .post .remove, .post-wall .comment-item .remove, .post-wall .replies .remove {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 6px;
    cursor: pointer; }
    .post-wall .post .remove .icons, .post-wall .comment-item .remove .icons, .post-wall .replies .remove .icons {
      width: 12px;
      height: 12px;
      background-position: -180px 0;
      display: block; }
    .post-wall .post .remove:hover .icons, .post-wall .comment-item .remove:hover .icons, .post-wall .replies .remove:hover .icons {
      background-position: -150px 0; }
  .post-wall .post .avatar, .post-wall .comment-item .avatar, .post-wall .replies .avatar {
    left: 0;
    position: absolute;
    top: 6px; }
    .post-wall .post .avatar a, .post-wall .comment-item .avatar a, .post-wall .replies .avatar a, .post-wall .post .avatar img, .post-wall .comment-item .avatar img, .post-wall .replies .avatar img {
      width: 100px;
      height: 100px;
      display: block; }
  .post-wall .post .info, .post-wall .comment-item .info, .post-wall .replies .info {
    margin-left: 119px; }
    .post-wall .post .info h3.name, .post-wall .comment-item .info h3.name, .post-wall .replies .info h3.name {
      padding-bottom: 9px; }
      .post-wall .post .info h3.name a, .post-wall .comment-item .info h3.name a, .post-wall .replies .info h3.name a {
        color: #33b7ae;
        font-size: 18px;
        line-height: 27px;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease; }
        .post-wall .post .info h3.name a:hover, .post-wall .comment-item .info h3.name a:hover, .post-wall .replies .info h3.name a:hover {
          color: #454545; }
      .post-wall .post .info h3.name span, .post-wall .comment-item .info h3.name span, .post-wall .replies .info h3.name span {
        color: #a3a8aa;
        padding-left: 15px;
        font-size: 14px;
        line-height: 18px; }
    .post-wall .post .info .text, .post-wall .comment-item .info .text, .post-wall .replies .info .text {
      padding-bottom: 18px; }
      .post-wall .post .info .text p, .post-wall .comment-item .info .text p, .post-wall .replies .info .text p {
        font-size: 14px;
        line-height: 22px;
        color: #454545; }
        .post-wall .post .info .text p + p, .post-wall .comment-item .info .text p + p, .post-wall .replies .info .text p + p {
          padding-top: 15px; }
    .post-wall .post .info .thumbs, .post-wall .comment-item .info .thumbs, .post-wall .replies .info .thumbs {
      padding-bottom: 12px; }
  .post-wall .post .signed, .post-wall .comment-item .signed, .post-wall .replies .signed {
    margin-left: 119px; }
    .post-wall .post .signed .date-time, .post-wall .comment-item .signed .date-time, .post-wall .replies .signed .date-time {
      font-size: 14px;
      line-height: 21px;
      color: #a3a8aa; }
    .post-wall .post .signed .quantity-comments, .post-wall .comment-item .signed .quantity-comments, .post-wall .replies .signed .quantity-comments {
      vertical-align: middle;
      text-align: right; }
      .post-wall .post .signed .quantity-comments span, .post-wall .comment-item .signed .quantity-comments span, .post-wall .replies .signed .quantity-comments span {
        vertical-align: middle;
        font-size: 14px;
        line-height: 21px;
        color: #33b7ae;
        padding-right: 4px;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease; }
      .post-wall .post .signed .quantity-comments .icons, .post-wall .comment-item .signed .quantity-comments .icons, .post-wall .replies .signed .quantity-comments .icons {
        background-position: -150px -120px;
        width: 15px;
        height: 13px;
        margin-right: 9px; }
      .post-wall .post .signed .quantity-comments:hover span, .post-wall .comment-item .signed .quantity-comments:hover span, .post-wall .replies .signed .quantity-comments:hover span {
        color: #1f2430; }
    .post-wall .post .signed .like, .post-wall .comment-item .signed .like, .post-wall .replies .signed .like {
      float: right;
      padding-top: 0;
      text-align: right;
      width: 248px;
      padding-right: 0; }
.post-wall .wall-comments {
  margin-top: 50px;
  float: left; }
.post-wall .comment-item, .post-wall .replies {
  width: 660px;
  border: none;
  padding: 0;
  margin: 0;
  float: left;
  position: relative; }
  .post-wall .comment-item + .comment-item, .post-wall .replies + .comment-item, .post-wall .comment-item + .replies, .post-wall .replies + .replies {
    margin-top: 20px; }
  .post-wall .comment-item .avatar, .post-wall .replies .avatar {
    left: 16px;
    top: 7px; }
    .post-wall .comment-item .avatar a, .post-wall .replies .avatar a, .post-wall .comment-item .avatar img, .post-wall .replies .avatar img {
      width: 80px;
      height: 80px; }
  .post-wall .comment-item .signed .reply, .post-wall .replies .signed .reply {
    vertical-align: middle;
    margin-left: 25px; }
  .post-wall .comment-item.add-comment, .post-wall .add-comment.replies {
    position: relative;
    margin-top: 40px; }
    .post-wall .comment-item.add-comment .avatar, .post-wall .add-comment.replies .avatar {
      top: 0; }
    .post-wall .comment-item.add-comment textarea, .post-wall .add-comment.replies textarea {
      width: 500px;
      min-height: 70px; }
    .post-wall .comment-item.add-comment .button, .post-wall .add-comment.replies .button {
      padding: 12px 22px;
      margin-top: 19px; }
.post-wall .replies {
  width: 540px;
  border: none;
  margin-left: 119px; }
  .post-wall .replies .reply-item {
    float: left;
    position: relative;
    margin-top: 18px;
    width: 100%; }
    .post-wall .replies .reply-item .avatar {
      left: 0;
      top: 7px; }
      .post-wall .replies .reply-item .avatar a, .post-wall .replies .reply-item .avatar img {
        width: 59px;
        height: 59px; }
    .post-wall .replies .reply-item .info {
      margin-left: 80px; }
      .post-wall .replies .reply-item .info h3 {
        padding-bottom: 0; }
      .post-wall .replies .reply-item .info .text {
        padding-bottom: 5px; }
    .post-wall .replies .reply-item .signed {
      margin-left: 80px; }
    .post-wall .replies .reply-item.add-reply {
      position: relative; }
      .post-wall .replies .reply-item.add-reply .avatar {
        top: 0; }
      .post-wall .replies .reply-item.add-reply textarea {
        width: 289px;
        display: block;
        padding: 2px 20px 0; }
      .post-wall .replies .reply-item.add-reply .button {
        padding: 12px 22px;
        bottom: 0;
        position: absolute;
        right: 0; }

.group-wall-add {
  float: left;
  width: 100%;
  border-bottom: 1px solid #dddddd; }
  .group-wall-add .add-body {
    margin: 20px 20px 10px 20px;
    position: relative; }
  .group-wall-add textarea {
    width: 480px;
    padding: 2px 20px 0; }
  .group-wall-add .button {
    position: absolute;
    bottom: 0;
    right: 0; }
  .group-wall-add .row {
    position: relative; }
  .group-wall-add .add-application {
    float: left;
    width: 520px;
    padding-top: 10px; }
    .group-wall-add .add-application .application-body {
      float: right; }
    .group-wall-add .add-application .attach {
      width: 25px;
      height: 25px;
      float: left;
      padding-left: 16px;
      cursor: pointer; }
      .group-wall-add .add-application .attach .icons {
        width: 25px;
        height: 25px;
        background-position: 0 -242px; }
    .group-wall-add .add-application .smilies {
      width: 24px;
      height: 24px;
      float: left;
      padding-left: 16px;
      cursor: pointer; }
      .group-wall-add .add-application .smilies .icons {
        width: 24px;
        height: 24px;
        background-position: 0 -210px; }

.group-discussion {
  float: left;
  width: 100%;
  border-bottom: 1px solid #dddddd; }
  .group-discussion .group-discussion-body {
    margin: 20px 20px 10px 20px;
    position: relative;
    width: 655px; }
  .group-discussion .col-l {
    float: left;
    width: 209px;
    color: #a2a8aa;
    font-size: 18px;
    line-height: 27px; }
  .group-discussion .col-r {
    margin-left: 209px; }
    .group-discussion .col-r input {
      width: 406px;
      font-size: 14px;
      line-height: 21px; }
      .group-discussion .col-r input::-webkit-input-placeholder {
        color: #a2a8aa;
        opacity: 1; }
      .group-discussion .col-r input:-moz-placeholder {
        /* Firefox 18- */
        color: #a2a8aa;
        opacity: 1; }
      .group-discussion .col-r input::-moz-placeholder {
        /* Firefox 19+ */
        color: #a2a8aa;
        opacity: 1; }
      .group-discussion .col-r input:-ms-input-placeholder {
        color: #a2a8aa;
        opacity: 1; }
  .group-discussion .subject {
    padding-bottom: 10px;
    margin-bottom: 19px; }
    .group-discussion .subject span {
      color: #1f2430;
      font-size: 14px;
      line-height: 21px;
      padding-left: 10px; }
  .group-discussion textarea {
    width: 406px;
    height: 80px; }
  .group-discussion .button {
    margin-top: 20px; }

.post-filter {
  margin-left: 229px;
  margin-top: 3px; }
  .post-filter span {
    padding-right: 15px;
    color: #a3a8aa;
    font-size: 14px;
    line-height: 30px; }
  .post-filter a {
    padding-right: 15px;
    color: #33b7ae;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    font-size: 14px;
    line-height: 30px; }
    .post-filter a.active {
      color: #1f2430; }
    .post-filter a:hover {
      color: #1f2430; }

#discussion-page-list .topic {
  padding-bottom: 3px; }
  #discussion-page-list .topic a {
    color: #1f2430;
    font-size: 18px;
    line-height: 30px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    #discussion-page-list .topic a:hover {
      color: #33b7ae; }
#discussion-page-list h3.name a {
  font-size: 14px;
  line-height: 21px; }
#discussion-page-list .last-reply {
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 10px;
  color: #a3a8aa; }
  #discussion-page-list .last-reply a {
    color: #33b7ae;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    #discussion-page-list .last-reply a:hover {
      color: #1f2430; }
