@import "reset";
$font-Regular: "open_sansregular", arial, sans-serif;
$font-Light: "open_sanslight", arial, sans-serif;
$font-SemiBold: "open_sanssemibold", arial, sans-serif;
$color: #1f2430;
$color-p: #454545;
$color-h: #303030;
$color-a: #33b7ae;
$color-button-green: #45837f;
$color-button-grey: #949494;
$color-grey: #a3a8aa;
$color-border-bottom: #a3a8aa;
$color-purple: #f16a8d;


@mixin transition ($time: 0.35s){
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}
@mixin  border-radius ($r){
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    border-radius: $r;
}
@mixin font-size-lh($size:1.6, $line: $size * 1.5){
    font-size:   $size + px;
    line-height: $line + px;
}

@mixin img-responsive($display: block) {
    display: $display;
    width: 100% \9; // Force IE10 and below to size SVG images correctly
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
@mixin rotate($rotate: 0) {
    -webkit-transform: rotate($rotate + deg);
    -moz-transform: rotate($rotate + deg);
    -o-transform: rotate($rotate + deg);
    -ms-transform: rotate($rotate + deg);
    transform: rotate($rotate + deg);
}
 
@mixin placeholder($color: $color, $opacity: 1 ){
    &::-webkit-input-placeholder {
        color: $color;
        opacity: $opacity;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
        opacity: $opacity;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
        color: $color;
        opacity: $opacity;
    }
    &:-ms-input-placeholder {
        color: $color;
        opacity: $opacity;
    }
}
@mixin width($w,$p){
    width: $w - $p*2 + px;
}

input, textarea { outline:none; }
input:active, textarea:active { outline:none; }
:focus { outline:none; }


input{
    @include border-radius(0);
    border: none;
    border-bottom: 1px solid $color-border-bottom;
    height: 30px;
    background: none;
    padding: 5px 20px;
    cursor: pointer;
    font-family: $font-Regular;
    color: $color;
    @include font-size-lh(14, 21);
    @include placeholder(#949494, 1);
    &:focus{
        cursor: text;
        border-bottom: 1px solid $color-a;
        color: $color-a;
    }
    &:hover{
        @include placeholder();
        cursor: text;
        border-bottom: 1px solid $color;
        color: $color;
    }
    &.error{
        color: #cb373a;
        @include placeholder(#cb373a, 1);
        border-bottom: 1px solid #cb373a;
    }
}
label{
    &.error{
        color: #cb373a;
        margin-left: 20px;
        @include font-size-lh(11, 12);
        width: 240px;
        padding-top: 5px;
        display: block;
    }
}

textarea{
    @include border-radius(0);
    border: none;
    border-bottom: 1px solid $color-border-bottom;
    height: 30px;
    background: none;
    padding: 5px 20px;
    cursor: pointer;
    font-family: $font-Regular;
    margin: 0;
    color: $color;
    background: #f4f4f4;
    @include font-size-lh(14, 21);
    @include placeholder(#949494, 1);
    @include transition(0.35s);
    resize: none;
    &:focus{
        cursor: text;
        border-bottom: 1px solid $color;
    }
    &:hover{
        @include placeholder();
        border-bottom: 1px solid $color;
    }
}

.hidecentered{
    display: none;
    opacity: 0;
}
.clearfix:after,
.container:after{
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.row{
    width: 100%;
    @extend .clearfix;
    min-height: 1px;
}
.clear:after{
    clear: both;
    content: '';
}
.container{
    margin: 0 auto;
    width: 990px;
}
.container-footer{
    margin: 0 auto;
    width: 990px;
}
.container-small{
    @extend .clearfix;
    margin: 0 auto;
    width: 760px;
    position: relative;
}
.container-big{
    @extend .clearfix;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 990px;
    position: relative;
}
.inline-block{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
i[class^="icons-"] {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
[class^="col-"] {
    & > img{
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}
i.icons{
    @extend .inline-block;
    background: url("../img/icons.png") no-repeat;
    background-position: 0 0;
    vertical-align: middle;
}
a:focus, button:focus { outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {/* */
    border: none;
}
.button{

    &:active{

    }
    &:hover{

    }
}
.sidebar-left{
    float: left;
    margin-bottom: 10px;
}
.content-s{
    width: auto;
    @extend .clearfix;
}
.sidebar-right{
    float: right;
}
.jq-checkbox{
    @extend .inline-block;
    &.checked{

    }
}
.section{
    @extend .clearfix;
    width: auto;
    min-height: 1px;
}
a{
    text-decoration: none;
    color: $color-a;
    &:hover{
        color: $color;
    }
}
.jq-checkbox{
    background: url("../img/icons.png") no-repeat;
    background-position: -120px 0;
    width: 13px;
    height: 14px;
    margin-right: 7px;
    @extend .inline-block;
    cursor: pointer;
    &.checked{
        background-position: -90px 0;
    }
}
.description-checkbox{
    @extend .inline-block;
    @include font-size-lh(12, 20);
}
#cms_content{
    @extend .clearfix;

    h2{

    }
    h3{

    }
    strong{

    }
    p{

    }
    a{

        @include transition(0.3s);
        &:hover{

        }
    }
    ul{

        li{

        }
    }
    blockquote{

        p{

        }
    }
}



.button{
    color: #fff;
    padding: 12px 30px;
    @include font-size-lh(14);
    border: none;
    @include transition(0.35s);
    cursor: pointer;
    font-family: $font-Regular;
    @extend .inline-block;
    &.green{
        background: $color-button-green;
        &:hover{
            background: #3c716e;
        }
    }
    &.grey{
        background: $color-button-grey;
        &:hover{
            background: #797979;
        }
    }
    & + .button{
        margin-left: 7px;
    }
}
.close{
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    border: none;
    @include transition(0.35s);
    cursor: pointer;
    background: url("../img/icons.png") no-repeat;
    background-position: 0 -90px;

}

// --------------------------------------

.logged-out{
    overflow-y: scroll;
    font-family: $font-Regular;
    .header{
        height: 60px;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .footer{
        height: 60px;
        background-color: rgba(255, 255, 255, 0.6);
        margin: -60px auto 0;
        position: relative;
    }
    .sign-up{
        width: 300px;
        padding: 26px 78px;
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -229px;
        margin-top: -290px;
        h2{
            @include font-size-lh(30, 30);
            color: $color;
            text-align: center;
            padding-bottom: 24px;
        }
        span{
            @include font-size-lh(12);
            color: $color;
            padding-bottom: 15px;
            display: block;
        }
        .field{
            padding-bottom: 20px;
        }
        .text-input{
            width: 260px;
            @include border-radius(0);
            border: none;
            border-bottom: 1px solid $color-border-bottom;
            height: 30px;
            background: none;
            padding: 5px 20px;
            cursor: pointer;
            font-family: $font-Regular;
            font-size: 20px;
            color: $color;
            @include font-size-lh(14);
            @include placeholder(#949494, 1);
            &:focus{
                cursor: text;
            }
            &:hover{
                @include placeholder();
                border-bottom: 1px solid #1f2430;
            }
            &.error{
                color: #cb373a;
                @include placeholder(#cb373a, 1);
                border-bottom: 1px solid #cb373a;
            }
        }
        button{
            margin-top: 15px;
            margin-bottom: 29px;
        }
        p{
            @include font-size-lh(12, 20);
            padding-bottom: 10px;
        }
        a{
            color: $color-a;
            &:hover{
                color: $color;
            }
        }
    }
    .login{
        width: 640px;
        padding: 26px 0;
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -320px;
        margin-top: -290px;
        h2{
            @include font-size-lh(30, 30);
            color: $color;
            text-align: center;
            padding-bottom: 24px;
        }
        .login-left{
            width: 293px;
            float: left;
            margin-left: 70px;
            border-right: 1px solid #ebeae9;
            .text-input{
                width: 220px;
                &:hover{
                    @include placeholder();
                    border-bottom: 1px solid #1f2430;
                }
            }
        }
        .login-right{
            width: 160px;
            float: left;
            margin-left: 36px;
        }
        span.description{
            @include font-size-lh(12);
            color: $color;
            padding-bottom: 15px;
            display: block;
        }
        span.message{
            @include font-size-lh(12, 20);
            padding: 5px 20px;
            @include width(260, 20);
            display: block;
            background: #f5716a;
            color: #fff;
            margin-bottom: 20px;
        }
        .field{
            position: relative;
            padding-bottom: 20px;
            width: 260px;

        }
        .text-input{
            width: 260px;
            @include border-radius(0);
            border: none;
            border-bottom: 1px solid $color-border-bottom;
            height: 30px;
            background: none;
            padding: 5px 20px;
            cursor: pointer;
            font-family: $font-Regular;
            font-size: 20px;
            color: $color;
            @include font-size-lh(14);
            @include placeholder(#949494, 1);
            &:focus{
                cursor: text;
            }
            &:hover{
                @include placeholder();
            }
            &.error{
                color: #cb373a;
                @include placeholder(#cb373a, 1);
                border-bottom: 1px solid #cb373a;
            }
        }
        .login-footer{
            p{
                padding: 10px 70px;
            }
            a{
                color: $color-a;
                &:hover{
                    color: $color;
                }
            }
        }
        .remember{
            width: 260px;
            a{
                float: right;
                @include font-size-lh(12, 20);
                text-align: right;
                color: $color-a;
            }
        }
        button{
            margin-top: 15px;
            margin-bottom: 29px;
        }
        p{
            @include font-size-lh(12, 20);
            padding-bottom: 10px;
        }
        .social{
            display: block;
            @include font-size-lh(18);
            @include transition(0.35s);
            height: 40px;
            span{
                line-height: 40px;
                padding-bottom: 0;
                padding-right: 31px;
                color: #fff;
                width: 90px;
                text-align: right;
                @extend .inline-block;
                float: left;
            }
            .icons{
                width: 38px;
                height: 40px;
                float: left;
                @extend .inline-block;
            }
            &.facebook{
                background: #a0b1c2;
                .icons{
                    background-position: -16px 10px;
                    border-left: 1px solid #8394a7;
                }
                &:hover{
                    background: #42668c;
                    .icons{
                        border-left: 1px solid #6b839b;
                    }
                }

            }
            &.google{
                .icons{
                    background-position: -50px 13px;
                    border-left: 1px solid #e89080;
                }
                background: #eea295;
                &:hover{
                    background: #df4a32;
                    .icons{
                        border-left: 1px solid #d54730;
                    }
                }
            }
            & + .social{
                margin-top: 10px;
            }
        }

    }
    .wrapper-container{
        z-index: 2;
        position: relative;
        height: 100%;
    }
    .form-box-css{
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
        @extend .clearfix;
    }
    .bg-slider {
        position: fixed;
        list-style: none;
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
    .bg-slider li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        @extend .clearfix;
    }
    .bg-slider li:first-child {
        position: relative;
        float: left;
        height: 100%;
    }
    .bg-img-1{
        display: block;
        height: 100%;
        background: url("../img/bg/1.jpg") no-repeat;
        background-size: cover;
    }
    .bg-img-2{
        @extend .bg-img-1;
        background: url("../img/bg/2.jpg") no-repeat;
        background-size: cover;
    }
    .bg-img-3{
        @extend .bg-img-1;
        background: url("../img/bg/3.jpg") no-repeat;
        background-size: cover;
    }
    .footer{
        .copyright{
            font-family: $font-Regular;
            span{
                color: #fff;
            }
        }
        .footer-menu{
            li{
                float: left;
                a{
                    color: $color-a;
                }
            }
        }
        .langvich{
            .selected{
                color: #70b8b8;
                .icons{
                    background-position: 0 0;
                }
            }
            ul{
                background-color: rgba(255, 255, 255, 0.6);
                li{
                    a{
                        color: $color-a;
                    }
                }
            }
        }
    }

}

body{
    background: #dae0e2;
    font-family: $font-Regular;
}
.header{
    height: 60px;
    background-color: #fff;
    margin-bottom: 10px;
    .logo{
        padding-left: 10px;
        width: 100px;
        height: 60px;
        float: left;
        padding-right: 150px;
    }
    .search{
        line-height: 60px;
        position: relative;
        width: 480px;
        float: left;
        input{
            padding: 0 31px 0 30px;
            width: 419px;
            border: none;
            border-bottom: 1px solid $color-border-bottom;
            @include border-radius(0);
            height: 30px;
            background: none;
            cursor: pointer;
            font-family: $font-Regular;
            @include font-size-lh(15, 20);
            color: $color;
            @include placeholder(#949494, 1);
            &:focus{
                cursor: text;
            }
            &:hover{
                @include placeholder();
                border-bottom: 1px solid #1f2430;
            }
        }
        i.icons {
            background-position: 0 -30px;
            width: 21px;
            height: 20px;
            position: absolute;
            right: 9px;
            top: 20px;
            @include transition(0.35s);
        }
        &:hover{
            .icons{

            }
        }
    }
    .user-block{
        width: 215px;
        float: left;
        margin-left: 35px;
        & > ul {
            li{
                float: left;
                height: 60px;
                line-height: 60px;
                img{
                    display: block;
                    padding-top: 7px;
                }
            }
        }

        .letters{
            @extend .inline-block;
            vertical-align: middle;
            position: relative;
            background: url("../img/icons.png") no-repeat;
            background-position: -30px -30px;
            width: 24px;
            height: 19px;
            margin-left: 30px;
            span{
                display: block;
                position: absolute;
                right: -8px;
                top: -9px;
                width: 14px;
                height: 14px;
                @include border-radius(3px);
                background: $color-purple;
                color: #fff;
                text-align: center; 
                @include font-size-lh(10, 14);
            }
        }
        .alert{
            @extend .letters;
            background-position: -60px -30px;
            height: 24px;
            margin-left: 29px;
            margin-top: 4px;
        }
        .settings{
            @extend .inline-block;
            vertical-align: middle;
            position: relative;
            width: 24px;
            height: 24px;
            margin-left: 26px;
            cursor: pointer;
            .btn-settings{
                width: 24px;
                height: 24px;
                background: url("../img/icons.png") no-repeat;
                background-position: -90px -30px;
            }
            & > ul.list-settings{
                display: none;
                position: absolute;
                top:40px;
                right: -13px;
                padding: 15px 15px 15px 15px;
                background-color: #fff;
                z-index: 1000;
                li{
                    line-height: 24px;
                    height: auto;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        @include transition(0.35s);
                        color: $color-grey;

                        @include font-size-lh(15, 15);
                        &:hover{
                            color: $color-a;
                        }
                    }
                }
            }

        }

    }
}

.footer{
    height: 60px;
    background-color: #fff;
    margin: -60px auto 0;
    position: relative;
    .copyright{
        color: #030c0f;
        float: left;
        @include font-size-lh(15);
        width: 224px;
        margin-left: 20px;
        span{
            color: #fff;
            line-height: 60px;
        }
    }
    .footer-menu{
        @extend .inline-block;
        li{
            float: left;
            a{
                font-family: $font-Regular;
                padding: 0 16px;
                display: block;
                color: #70b8b8;
                @include font-size-lh(15, 60);
                @include transition(0.35s);
                &:hover{
                    color: $color;
                }
            }
        }
    }
    .langvich{
        @extend .inline-block;
        float: right;
        position: relative;
        .selected{
            color: #70b8b8;
            @include font-size-lh(15, 60);
            @include transition(0.35s);
            cursor: pointer;
            font-family: $font-Regular;
            &:hover{
                color: #000;
            }
            .icons{
                width: 16px;
                height: 20px;
                background-position: -120px -30px;
                margin-right: 10px;
            }
        }
        ul{
            display: none;
            position: absolute;
            left: -12px;
            padding: 15px 15px 5px 28px;
            top: -92px;
            background-color: #fff;
            li{
                line-height: 24px;
                a{
                    @include transition(0.35s);
                    font-family: $font-Regular;
                    color: #70b8b8;
                    &:hover{
                        color: $color;
                    }
                }
            }
        }
    }
}

.profile-cover{
    width: 990px;
    height: 420px;
    margin-bottom: 10px;
    .page-avatar{
        width: 260px;
        height: 420px;
        float: left;
        position: relative;
        .profile{
            position: absolute;
            top: 0;
            width: 200px;
            height: 330px;
            padding: 60px 30px 30px 30px;
            .avatar{
                padding-bottom: 25px;
                a{
                    .status-pet{
                        &.died{
                            left: 44px;
                            top: 180px;
                        }
                    }
                }
                img{
                    border: 1px solid #fff;
                    display: block;
                }
                .change-image{
                    right: 51px;
                    top: 19px;
                }
            }
            .status{
                background: $color-purple;
                color: #fff;
                @include font-size-lh(14, 20);
                padding: 3px 9px;
                position: absolute;
                top: 17px;
                left: 30px;
                font-family: $font-Regular;
                cursor: pointer;
                display: block;
                .icons{
                    height: 14px;
                    width: 13px;
                    background-position: -150px -30px;
                }
            }
            h1{
                font-family: $font-Regular;
                @include font-size-lh(30, 36);
                color: #fff;
                padding-bottom: 27px;
            }
            .town{
                font-family: $font-Regular;
                @include font-size-lh(14, 24);
                color: #fff;
            }
            .specialists{
                font-family: $font-Regular;
                @include font-size-lh(18, 18);
                color: #fff;
                padding-bottom: 5px;
                i.icons{
                    background-position: 0 -60px;
                    width: 20px;
                    height: 20px;
                    margin-left: 5px;
                }
            }
            .profile-breed{
                font-family: $font-Regular;
                @include font-size-lh(14, 24);
                color: #fff;
                width: 100%;
            }
            .profile-status{
                font-family: $font-Regular;
                @include font-size-lh(14, 24);
                color: #fff;
                width: 100%;
            }
            .age{
                font-family: $font-Regular;
                @include font-size-lh(14, 24);
                color: #fff;
            }
        }
    }

}
.cover-image-container{
    margin-left: 260px;
    position: relative;
    height: 420px;
}
.change-image{
    width: 52px;
    height: 52px;
    display: block;
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: 2;
    @include border-radius(52px);
    @include transition(0.5s);
    .icons{
        background-position: 0 -120px;
        width: 30px;
        height: 22px;
        display: block;
        margin-top: 14px;
        margin-left: 12px;
    }
    &:hover{
        background: url("../img/black-png.png") repeat;
    }
}
.pets{
    background: url("../img/black-png.png") repeat;
    height: 142px;
    padding-top: 17px;
    width: 730px;
    position: absolute;
    text-align: center;
    bottom: 0;
    ul{
        @extend .clearfix;
        @extend .inline-block;
        margin: 0 auto;
        li{
            float: left;
            margin: 0 20px;
            img{
                display: block;
                margin: 0 auto;
                width: 100px;
                height: 100px;
                @include border-radius(100px);
                margin-bottom: 6px;
            }
            a{
                text-align: center;
                font-family: $font-Regular;
                @include font-size-lh(14, 14);
                color: #fff;
                max-width: 100px;
                display: block;
                margin: 0 auto;
                @include transition(0.35s);
                position: relative;
                .add{
                    width: 100px;
                    height: 100px;
                    background: url("../img/add.png") no-repeat;
                    background-position: center center;
                    display: block;
                    margin-bottom: 6px;
                    box-shadow: inset  0 0 0 1px #cbd0d2;
                    @include border-radius(100px);
                }
                &:hover{
                    & .add{
                        box-shadow: 0 0 0 2px #cbd0d2;
                    }
                    & img{
                        box-shadow:  0 0 0 2px #cbd0d2;
                    }
                }
            }
        }
    }
}

.sidebar-left{
    width: 260px;
    float: left;
    .profile-main-actions{
        .button{
            width: 130px;
            float: left;
            padding: 0;
            height: 41px;
            text-align: center;
            span{
                line-height: 40px;
            }
            &.profile-message-send{
                .icons{
                    background-position: -30px -60px;
                    width: 24px;
                    height: 19px;
                    vertical-align: text-top;
                }
            }
            &.friend-status{
                margin-left: 0;
                .status-page{
                    margin-right: 12px;
                }
                &.friend{
                    .status-page{
                        vertical-align: text-top;
                        background-position: -60px -60px;
                        width: 22px;
                        height: 20px;
                    }
                    &:hover{
                        .status-page{
                            background-position: -120px -60px;
                            width: 22px;
                            height: 20px;
                        }
                    }
                }
                &.add{
                    .status-page{
                        background-position: -90px -60px;
                        width: 21px;
                        height: 21px;
                    }
                }

                .man{
                    background-position: -150px -60px;
                    width: 21px;
                    height: 21px;
                    vertical-align: text-top;
                }
            }
        }
    }
}
.module{
    background: #fff;
    & + .module{
        margin-top: 10px;
    }
    &.friends{
        background: #fff;
    }
    &.button-group{
        .button{
            float: left;
            width: 130px;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            & + .button{ 
                margin: 0;
            }
        }
    }

    &.discussion{
        background: #fff;
        .module-body{
            padding: 20px;
            width: 220px;
        }
        .row{
            & + .row{
                padding-top: 19px;
            }
        }
        a{
            width: 220px;
            display: block;
            color: $color;
            @include transition();
            &:hover{
                color: $color-a;
            }
        }
        .number-comments{
            float: right;
            @include font-size-lh(14);
            color: $color-grey;
            .icons{
                width: 14px;
                height: 12px;
                margin-left: 4px;
                background-position: -150px -90px;
            }
        }

    }
    &.progress-bar{
        position: relative;
        height: 30px;
        width: 100%;
        background: $color-grey;
        span{
            height: 30px;
            background: $color-purple;
            @extend .inline-block;
        }
        .status{
            position: absolute;
            top: 0;
            width: 100%;
            text-align: center;
            font-family: $font-Regular;
            @include font-size-lh(14, 20);
            line-height: 30px;
            height: 30px;
            color: #fff;
        }
    }
    .header-top{
        @include font-size-lh(18, 20);
        padding: 18px 20px 20px;
        border-bottom: 1px solid #dddddd;
        width: 220px;
        a{
            font-family: $font-Regular;
            color: $color;
            @include transition(0.35s);
            span{
                color: #a2a8aa;
            }
            &:hover{
                color: $color-a;
            }
        }
    }
    &.message{
        position: relative;
        .module-body{
            @include font-size-lh(14, 20);
            padding: 28px 20px 26px 20px;
            width: 220px;
            font-family: $font-Regular;
        }
        .close{
            top: 10px;
            right: 10px;
        }
    }
    .module-body{
        padding: 10px;
        width: 240px;
        .item{
            padding: 10px 10px 6px 10px;
            width: 100px;
            float: left;
            position: relative;
            a{
                .icons{
                    width: 20px;
                    height: 20px;
                    background-position: 0 -60px;
                    position: absolute;
                    top: 85px;
                    left: 14px;
                }
                .item-img{
                    width: 100px;
                    height: 100px;
                    overflow: hidden;
                    padding-bottom: 8px;
                    img{
                        display: block;
                    }
                }
                span{
                    font-family: $font-Regular;
                    @include font-size-lh(14, 20);
                    color: $color;
                    @include transition(0.35s);
                    width: 100%;
                    display: block;
                }
                &:hover{
                    span{
                        color: $color-a;
                    }
                }
            }
        }
    }
    &.family{
        .module-body{
            .item-img{
                img{
                    @include border-radius(100px);
                }
            }
            .item{
                .family{
                    color: $color-purple;
                }
            }
        }
    }
}
.page-body{
    margin-left: 270px;
    margin-bottom: 10px;
    @extend .clearfix;
    .page-menu{
        height: 60px;
        background: #fff;
        margin-bottom: 10px;
        ul{
            li{
                float: left;
                a{
                    height: 60px;
                    display: block;
                    padding: 0 18px;
                    font-family: $font-Regular;
                    @include font-size-lh(18, 60);
                    color: $color;
                    text-transform: uppercase;
                    &.active{
                        background: #6f7374;
                        color: #fff;
                        &:hover{
                            color: #fff;
                        }
                    }
                    &:hover{
                        color: $color-a;
                    }
                }
            }
        }
    }
}

.page-content{
    background: #fff;
    float: left;
    position: relative;
    .page-content-link{
        color: $color-a;
        font-size: 14px;
        line-height: 20px;
        position: absolute;
        right: 20px;
        top: 23px;
        @include transition();
        &:hover{
            color: $color-p;
        }
    }
    h2{
        padding: 18px 20px 20px;
        border-bottom: 1px solid #dddddd;
        font-family: $font-Regular;
        @include font-size-lh(24, 24);
        color: $color;
        span{
            color: $color-grey;
        }
    }
    a.edit{
        font-family: $font-Regular;
        @include font-size-lh(14, 20);
        color: $color-a;
        @include transition(0.35s);
        position: absolute;
        right: 20px;
        top: 23px;
        &:hover{
            color: $color;
        }
    }
    .save{
        font-family: $font-Regular;
        @include font-size-lh(14, 20);
        color: $color-grey;
        @include transition(0.35s);
        position: absolute;
        right: 20px;
        top: 23px;
        background: none;
        border: none;
        cursor: pointer;
        &:hover{
            color: $color;
        }
    }

    .section{
        float: left;
        width: 100%;
        &.specialist-body{
            display: none;
            .section-body{
                float: left;
                .section{
                    position: relative;
                    text-align: center;
                    .row{
                        text-align: left;
                        .item{
                            margin-bottom: 20px;
                            position: relative;
                            .remove{
                                display: block;
                                position: absolute;
                                right: 60px;
                                top: 100px;
                                width: 24px;
                                height: 24px;
                                cursor: pointer;
                                &:hover{
                                    opacity: 0.5;
                                }
                                .icons{
                                    width: 24px;
                                    height: 24px;
                                    display: block;
                                    background-position: -60px -90px;
                                }
                            }
                        }
                    }
                    .add{
                        cursor: pointer;
                        height: 24px;
                        @include font-size-lh(14, 24);
                        color: $color-grey;
                        @include transition(0.35s);
                        @extend .inline-block;
                        margin: 20px auto 0;
                        .icons{
                            background-position: -30px -90px;
                            width: 24px;
                            height: 24px;
                            margin: 0 auto;
                            margin-right: 10px;
                        }
                        &:hover{
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
        .section-body{
            padding: 12px 20px;
            float: left;
            &.photo-album{
                padding: 10px;
            }
            &.albums{
                padding: 10px;
                width: 700px;
                float: left; 
            }
            &.dialogues{
                padding: 12px 0 27px;
            }
            &.list-content{
                padding: 0;
            }
            &.post-wall{
                padding: 0;
            }
            h3{
                @include font-size-lh(18, 18);
                color: $color;
                font-family: $font-Regular;
            }
            .specialist-checkbox{
                h3{
                    cursor: pointer;
                    @include transition(0.35s);
                    &:hover{
                        color: $color-a;
                    }
                }
            }
            .message{
                @include font-size-lh(14, 20);
                color: $color-purple;
                padding-top: 19px;
            }
            table{
                width: 100%;
                tr{
                    td{
                        font-family: $font-Regular;
                        color: $color;
                        width: 470px;
                        height: 42px;
                        @include font-size-lh(18, 24);
                        p{
                            @include font-size-lh(18, 28);
                            & + p{
                                padding-top: 34px;
                            }
                            &:last-child{
                                padding-bottom: 10px;
                            }
                        }
                        &:first-child{
                            width: 210px;
                            color: #a2a8aa;
                        }
                        input{
                            padding-top: 12px;
                        }
                        li{
                            a{
                                font-family: $font-Regular;
                                @include font-size-lh(18, 24);
                                color: $color-a;
                                @include transition(0.35s);
                                &:hover{
                                    color: $color;
                                }
                            }
                        }

                        .field{
                            width: 122px;
                            @extend .inline-block;
                            margin-right: 49px;
                            position: relative;
                            border-bottom: 1px solid $color-grey;
                            text-align: right;
                            height: 40px;
                            input{
                                @include width(140, 29);
                                padding: 0;
                                border: none;
                                @extend .inline-block;
                                text-align: right;
                                padding-right: 15px;
                                padding-top: 5px;
                            }
                            & + .field{
                                margin-right: 0;
                            }
                            span{

                                font-family: $font-Regular;
                                font-size: 14px;
                                @extend .inline-block;
                                padding-top: 4px;
                            }
                        }

                    }
                    &:last-child{
                        td{

                        }
                    }
                }
            }
            input{
                @include width(300, 20);
            }
            .search-query{
                width: 300px;
                position: relative;
                @extend .clearfix;
                i.icons{
                    position: absolute;
                    right: 0;
                    top: 16px;
                    background-position: 0 -30px;
                    width: 21px;
                    height: 20px;
                }
                .search{
                    display: none;
                    position: absolute;
                    background: #f9f9f9;
                    padding: 10px 20px;
                    z-index: 5000;
                    @include width(300, 20);
                    li{
                        @include font-size-lh(14, 28);
                        color: $color;
                        cursor: pointer;
                        &:hover{
                            color: $color-a;
                        }
                    }
                }
            }
            .link{
                @extend .clearfix;
                position: relative;
                width: 460px;
                .row{
                    position: relative;
                }
                .item{
                    width: 300px;
                    position: relative;
                }
                .remove{
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 15px;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.5;
                    }
                    .icons{
                        width: 24px;
                        height: 24px;
                        display: block;
                        background-position: -60px -90px;
                    }
                }
                .add{
                    position: absolute;
                    z-index: 100;
                    right: 53px;
                    bottom: 7px;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.5;
                    }
                    .icons{
                        background-position: -30px -90px;
                        width: 24px;
                        height: 24px;
                        display: block;
                    }
                }
            }
        }
    }
    &.edit-page{
        .section{
            .section-body{
                table{
                    tr{
                        td{
                            height: auto;
                        }
                    }
                }
            }
        }
        textarea{
            @include width(300, 10);
            padding: 10px 10px;
            height: 100px;
            margin-top: 10px;
        }
    }

}

.footer{
    .copyright{
        font-family: $font-Regular;
        span{
            color: #a3a8aa;
        }
    }
}

.pop-up-form{
    padding: 25px 80px 39px 80px;
    h2{
        font-family: $font-Regular;
        @include font-size-lh(30, 30);
        color: $color;
        padding-bottom: 24px;
        text-align: center;
    }
    .description{
        @include font-size-lh(12, 18);
        color: $color;
        padding-bottom: 15px;
        display: block;
    }
    textarea{
        @include width(300, 10);
        padding: 10px 10px;
        height: 80px;
    }
    input{
        @include width(300, 20);
        padding: 0 20px;
    }
    .button{
        margin-top: 31px;
    }
    .section{
        & + .section{
            margin-top: 50px;
        }
    }
    &.settings{
        padding: 25px 78px 39px 78px;
        input{
            @include width(300, 20);
        }
        .field{
            padding-bottom: 20px;
        }
        .select-language{
            position: relative;
            .lang{
                position: absolute;
                left: 20px;
                top: 12px;
                color: $color;
                font-family: $font-Regular;
            }
        }
        .checkbox{
            span{
                width: 150px;
                float: left;
            }
            .description-checkbox{
                @include font-size-lh(12, 14);
                @extend .inline-block;
                width: 128px;
            }
        }
        .jq-selectbox__select-text{
            padding-left: 47px;
            padding-top: 6px;
        }
    }
    &.rules{
        padding: 45px 100px 40px 100px;
        p{
            @include font-size-lh(18, 30);
            font-family: $font-Regular;
            color: #71747b;
            padding-bottom: 40px;
        }
        strong{
            font-family: $font-SemiBold;
        }
    }
    .search-query{
        position: relative;
        input{
            @include width(300, 20);
            position: relative;
            @extend .clearfix;
        }
        i.icons{
            background-position: 0 -30px;
            height: 20px;
            position: absolute;
            right: 4px;
            top: 0;
            width: 21px;
        }
    }
    &.developers{
        padding: 25px 60px 39px 60px;
        textarea{
            @include width(340, 10);
            padding: 10px 10px;
            height: 80px;
        }
    }
    &.addalbum{
        h2{
            text-align: left;
        }
        textarea{
            margin-top: 19px;
            display: block;
            padding-left: 20px;
            width: 270px;
        }
    }
    &.add-new-photo{
        padding: 25px 60px 39px;
        h2{
            text-align: left;
            padding-bottom: 42px;
        }
        .added-photo{
            width: 100px;
            height: 100px;
            margin: 5px;
            float: left;
            img{
                width: 100px;
                height: 100px;
                display: block;
            }
            .add{
                width: 100px;
                height: 100px;
                background: url("../img/add.png") no-repeat;
                background-position: center center;
                display: block;
                margin-bottom: 6px;
                box-shadow: inset  0 0 0 1px #cbd0d2;
                @include border-radius(0);
                &:hover{
                    box-shadow: inset  0 0 0 2px #cbd0d2;
                }
            }
            span{
                width: 100px;
                display: block;
                text-align: center;
            }
        }
    }
    &.add-your-pet{
        input{
            padding-top: 31px;

        }
        .jq-selectbox{
            padding-top: 13px;
        }
        .description{
            padding: 0;
        }
    }
    &.add-group-pet{
        input{
            padding-top: 31px;

        }
        .jq-selectbox{
            margin-top: 23px;
            height: auto;
        }
        .description{
            padding: 0;
        }
        .search-query i.icons{
            top: 35px;
        }
        textarea{
            margin-top: 30px;
        }
    }
    .changed-file{
        position: relative;
        @extend .clearfix;
        height: 150px;
        width: 144px;
        margin-top: 36px;
        span{
            font-family: $font-Regular;
            color: $color-grey;
            @include font-size-lh(14, 20);
        }
        .selected-image{
            position: relative;
            width: 100px;
            height: 100px;
            box-shadow: inset  0 0 0 1px #cbd0d2;
            @include border-radius(100px);
            cursor: pointer;
            &:hover{
                box-shadow: 0 0 0 2px #cbd0d2;
            }
            i.icons{
                background-position: -60px -120px;
                display: block;
                height: 33px;
                margin: 0 auto;
                position: relative;
                top: 31px;
                width: 44px;

            }
        }
        .close{
            width: 12px;
            height: 12px;
            background: url("../img/icons.png") no-repeat;
            background-position: -150px 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &.photo-album{
        padding: 25px 80px 55px;
        .section{
            & + .section{
                margin-top: 37px;
            }
        }
        .quantity-photos{
            @include font-size-lh(14, 30);
            padding-bottom: 20px;
        }
        .big-photo{
            position: relative;
            height: 392px;
            .control{
                position: relative;
                top: -55%;
                height: 32px;
                .previous-photo{
                    left: 16px;
                    position: absolute;
                    @include transition();
                    cursor: pointer;
                    .icons{
                        width: 32px;
                        height: 32px;
                        display: block;
                        background-position: -60px -178px;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
                .next-photo{
                    right: 16px;
                    position: absolute;
                    @include transition();
                    cursor: pointer;
                    .icons{
                        width: 32px;
                        height: 32px;
                        display: block;
                        background-position: -118px -178px;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        .description-photo{
            position: relative;
            .description{
                width: 353px;
                float: left;
                padding-top: 18px;
                padding-bottom: 0;
                p{
                    @include font-size-lh(14);
                    color: #081024;
                }
                textarea{
                    width: 334px;
                    height: 18px;
                }
            }
            .delete-photo{
                position: absolute;
                right: 0;
                top: 42px;
            }
        }
    }
}

.like{
    padding-top: 18px;
    float: right;
    width: 248px;
    text-align: right;
    .quantity-like{
        @extend .inline-block;
        vertical-align: middle;
        text-align: right;
        span{
            vertical-align: middle;
            @include font-size-lh(14);
            color: $color-a;
            @extend .inline-block;
            padding-right: 4px;
            @include transition();
        }
        .icons{
            background-position: -30px -210px;
            width: 15px;
            height: 13px;
            margin-right: 9px;
        }
        &:hover{
            span{
                color: $color;
            }
        }
    }
    .date-time{
        float: right;
        @extend .inline-block;
        @include font-size-lh(14);
        color: $color-grey;
        padding-left: 25px;
        span{
            padding-left: 8px;
        }
    }
}

.jq-selectbox{
    width: 300px;
    height: 45px;
    cursor: pointer;
    font-family: $font-Regular;
    color: $color;
    border-bottom: 1px solid $color-grey;
    background: url("../img/arrow.png") no-repeat;
    background-position: right center;
    @include font-size-lh(14, 20);
    &:hover{
        border-bottom: 1px solid $color;
    }
    select{
        display: none;
    }
    .jq-selectbox__select-text{
        padding-left: 0;
        padding-top: 6px;
    }

    .jq-selectbox__select{
        padding: 5px 20px;
    }
    .jq-selectbox__dropdown{
        @include width(300, 20);
        padding: 5px 20px;
        background: #f9f9f9;
        li{
            @include font-size-lh(14, 28);
            color: $color;
            font-family: $font-Regular;
            padding-bottom: 10px;
            &:hover{
                color: $color-a;
            }
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
}

.pets-item{
    float: left;
    padding: 25px 0;
    height: 130px;
    &.odd{
        background: #f6f7fa;
    }
    .photo{
        float: left;
        width: 140px;
        margin-right: 19px;
        margin-top: 15px;
        img{
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 100px;
            @include border-radius(100px);
            margin-bottom: 6px;
        }
        a{
            position: relative;
            display: block;
            width: 100px;
            margin: 0 auto;
        }

    }
    .pets-body{
        float: left;
        width: 380px;
        position: relative;
        .status{
            color: #fff;
            font-family: $font-Regular;
            @include font-size-lh(16 ,20);
            background: $color-purple;
            padding: 3px 10px;
            @extend .inline-block;
        }
        h3{
            margin-top: 13px;
            padding-bottom: 13px;
            a{
                color: $color;
                font-family: $font-Regular;
                @include font-size-lh(24 ,24);
                @include transition(0.35s);
                &:hover{
                    color: $color-a;
                }
            }
            .he{
                width: 17px;
                height: 17px;
                background-position: -90px -90px;
                margin-left: 5px;
            }
            .she{
                width: 18px;
                height: 18px;
                background-position: -120px -90px;
                margin-left: 5px;
            }
        }
        .breed{
            color: $color-grey;
            font-family: $font-Regular;
            @include font-size-lh(13, 13);
            padding-bottom: 10px;
        }
        p{
            color: $color;
            font-family: $font-Regular;
            @include font-size-lh(14 ,20);
        }
    }
    .pedigree{
        float: left;
        width: 180px;
        &.add{
            a{
                .icons{
                    width: 100px;
                    height: 100px;
                    background: url("../img/add.png") no-repeat;
                    background-position: center center;
                    display: block;
                    margin-bottom: 6px;
                    box-shadow: inset  0 0 0 1px #cbd0d2;
                    @include border-radius(100px);
                }
                span{
                    color: $color-grey;
                    font-family: $font-Regular;
                    @include font-size-lh(14, 20);
                }
                &:hover{
                    .icons{
                        box-shadow: inset  0 0 0 2px #cbd0d2;
                    }
                }
            }

        }
        &.view{
            a{
                .icons{
                    width: 100px;
                    height: 100px;
                    background: url("../img/view.png") no-repeat;
                    background-position: center center;
                    display: block;
                    margin-bottom: 6px;
                    box-shadow: inset  0 0 0 1px #7cb5b2;
                    @include border-radius(100px);
                }
                span{
                    color: $color-a;
                    font-family: $font-Regular;
                    @include font-size-lh(14, 20);
                }
                &:hover{
                    span{
                        color: $color;
                    }
                    .icons{
                        box-shadow: inset  0 0 0 2px #7cb5b2;
                    }
                }
            }

        }
        a{
            display: block;
            width: 180px;
            text-align: center;
            &:hover{
                span{
                    color: $color-a;
                }
            }
        }
        .icons{
            margin: 5px auto 8px;
        }
        span{
            color: $color-grey;
            font-family: $font-Regular;
            @include font-size-lh(14, 20);
            @include transition(0.35s);
        }
    }
}
.ui-menu-item{
    background: #f9f9f9;
    padding: 5px 20px;
    @include width(300, 20);
    @include font-size-lh(14, 28);
    color: $color;
    cursor: pointer;
    width: 260px;
    font-family: $font-Regular;
    &:hover{
        color: $color-a;
    }
}
.tooltipster-default .tooltipster-content {
    font-family: $font-Regular;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 15px;
    overflow: hidden;
    text-align: center;
}
.status-pet{
    &.died{
        background-position: -30px -120px;
        height: 21px;
        left: 3px;
        position: absolute;
        top: 81px;
        width: 24px;
    }
}
.pet{
    .avatar img{
        @include border-radius(125px);
    }
    .cover-image-container{
        .pets{
            img{
                @include border-radius(0px);
            }
            .add{
                @include border-radius(0px);
            }
        }
    }
}

.change-status{
    padding: 25px 30px 39px;
    h2{
        text-align: center;
    }
    span{
        @include font-size-lh(12, 18);
        padding-bottom: 39px;
        display: block;
    }
    label{
        width: 100%;
        display: block;
        margin-bottom: 18px;
        cursor: pointer;
    }
    .jq-radio{
        width: 18px;
        height: 18px;
        background: url("../img/icons.png") no-repeat;
        background-position: 0  -150px;
        margin-right: 10px;
        vertical-align: middle;
        &.checked{
            background-position: -30px  -150px;
        }
    }
    .col-1{
        float: left;
        width: 208px;
    }
    .col-2{
        margin-left: 208px;
    }
    .button{
        margin-top: 20px;
        margin-left: 28px;
    }
    .row{
        overflow: hidden;
    }
}

.ui-front{
    z-index: 999999;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    margin: 0;
}


.album-description{
    position: relative;
    padding-top: 22px;
    @extend .clearfix;
    .photo-item{
        float: left;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        text-align: center;
        width: 155px;
        height: 155px;
        margin: 0 20px 0 0;
    }
    .add-photo{
        float: left;
        margin:0;
        width: 155px;
        height: 155px;
        .add{
            background: url("../img/add.png") no-repeat center center;
            display: block;
            height: 32px;
            width: 32px;
            margin: 46px auto 8px;
            @include transition(0.35s);
            @include rotate(0);
        }
        .text{
            text-align: center;
            display: block;
            color: $color-grey;
            @include font-size-lh(14, 20);
            @include transition(0.35s);
        }
        &:hover{
            .add{
                @include rotate(270);
            }
            .text{
                color: #000;
            }

        }
    }
    p{
        width: 450px;
        float: left;
        margin-top: 50px;
    }
    textarea{
        width: 446px;
        margin-left: 175px;
        padding: 10px 10px 10px 20px;
        height: 117px;
        display: block;
    }
}
.photo-album{
    padding: 10px;
}
.photo-item{
    margin: 10px;
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    .add-photo{
        float: left;
        margin:0;
        width: 155px;
        height: 155px;
        .add{
            background: url("../img/add.png") no-repeat center center;
            display: block;
            height: 32px;
            width: 32px;
            margin: 46px auto 8px;

            @include transition(0.35s);
            @include rotate(0);
        }
        .text{
            text-align: center;
            display: block;
            color: $color-grey;
            @include font-size-lh(14, 20);
            @include transition(0.35s);
        }
        &:hover{
            .add{
                @include rotate(270);
            }
            .text{
                color: #000;
            }

        }
    }
    .photo-pop-up{
        width: 155px;
        height: 155px;
        display: block;
    }
    .bottom{
        position: absolute;
        background: url("../img/black-png.png") repeat;
        height: 23px;
        bottom: -23px;
        width: 155px;
        .comments{
            float: left;
            padding-left: 7px;
            color: #fff;
            font-size: 14px;
            line-height: 23px;
            @extend .inline-block;
            .icons{
                margin-left: 4px;
                width: 14px;
                height: 11px;
                background-position: 0 -180px;
            }
        }
        .likes{
            float: right;
            padding-right: 7px;
            color: #fff;
            font-size: 14px;
            line-height: 23px;
            @extend .inline-block;
            .icons{
                margin-left: 4px;
                width: 15px;
                height: 13px;
                background-position: -30px -180px;
            }
        }
    }
    .ramove{
        position: absolute;
        width: 12px;
        height: 12px;
        top: 8px;
        right: 8px;
        display: block;
        cursor: pointer;
        @include transition(0.35s);
        .icons{
            background-position: -150px 0;
            width: 12px;
            height: 12px;
            display: block;
        }
        &:hover{
            opacity: 0.7;
        }
    }
}

.photo-album-edit{
   .photo-pop-up{
       opacity: 0.5;
       @include transition();
   }
   .photo-item:hover{
       .photo-pop-up{
           opacity: 1;
       }
   }
}
.scroll-pane{
    width: 100%;
    height: 200px;
    overflow: auto;
}


.comments{

    .comments-list{
        width: 480px;
        float: left;
    }
    .comments-item{
        padding-bottom: 47px;
        float: left;
        width: 480px;
        position: relative;
        .remove{
            width: 12px;
            height: 12px;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            .icons{
                width: 12px;
                height: 12px;
                background-position: -180px 0;
                display: block;
            }
            &:hover{
                .icons{
                    background-position: -150px 0;
                }
            }
        }
    }
    .avatars{
        width: 81px;
        height: 81px;
        float: left;
        img{
            display: block;
            width: 81px;
            height: 81px;
        }
    }
    .comments-body{
        margin-left: 100px;
        @extend .clearfix;
    }
    .name{
        padding-bottom: 6px;
        a{
            @include font-size-lh(18, 30);
        }
    }
    .coment{
        p{
            color: $color-p;
            @include font-size-lh(14, 20); 
            & + p{
                padding-top: 16px;
            }
        }
        padding-bottom: 10px;
    }
    .coment-footer{
        &.like{
            padding-top: 0;
            width: 100%;
            .date-time{
                float: left;
                padding-left: 0;
            }
            .reply{
                padding-left: 31px;
            }
        }

    }

}
.add-comments{
    .avatars{
        width: 81px;
        height: 81px;
        float: left;
        img{
            display: block;
            width: 81px;
            height: 81px;
        }
    }
    .comments-body{
        margin-left: 100px;
        position: relative;
        textarea{
            @include width(379, 13);
            padding: 5px 13px;
            height: 70px;
        }
        .button{
            right: 0;
            bottom: 0;
            position: absolute;
        }
    }
}
.albums{
    padding: 10px;
    .add-album{
        width: 100px;
        margin: 0 auto;
        margin-top: 36px;
        text-align: center;
        display: block;
        .add{
            background: url("../img/add.png") no-repeat center center;
            display: block;
            height: 50px;
            @include transition(0.35s);
            @include rotate(0);
        }
        .text{
            text-align: center;
            display: block;
            color: $color-grey;
            @include font-size-lh(14, 20);
            @include transition(0.35s);
        }
        &:hover{
            .add{
                @include rotate(270);
            }
            .text{
                color: #000;
            }

        }
    }
    .album-list{
        @extend .clearfix;
    }
    .album-item{
        width: 155px;
        height: 155px;
        float: left;
        position: relative;
        margin: 10px;
        overflow: hidden;

        .link-album{
            display: block;
            width: 155px;
            height: 155px;
        }
        .bottom{
            background: url("../img/black-png.png") repeat;
            position: absolute;
            top: 107px;
            width: 135px;
            padding: 10px;
            height: 135px;
            @include transition();
            h3{
                color: #fff;
                @include font-size-lh(14, 20);
                padding-bottom: 25px;
            }
            p{
                color: #fff;
                @include font-size-lh(14, 20);
            }
        }
    }
}
.show-all{
    font-family: $font-Regular;
    @include font-size-lh(14, 20);
    color: $color-a;
    @include transition(0.35s);
    position: absolute;
    right: 20px;
    top: 23px;
    background: none;
    border: none;
    cursor: pointer;
    &:hover{
        color: $color;
    }
}
.return-message{
    font-family: $font-Regular;
    @include font-size-lh(14, 20);
    color: $color-grey;
    @include transition(0.35s);
    position: absolute;
    right: 20px;
    top: 23px;
    background: none;
    border: none;
    cursor: pointer;
    &:hover{
        color: $color;
    }
}

.add-album{
    width: 100px;
    margin: 0 auto;
    margin-top: 36px;
    text-align: center;
    display: block;
    .add{
        background: url("../img/add.png") no-repeat center center;
        display: block;
        height: 50px;
        @include transition(0.35s);
        @include rotate(0);
    }
    .text{
        text-align: center;
        display: block;
        color: $color-grey;
        @include font-size-lh(14, 20);
        @include transition(0.35s);
    }
    &:hover{
        .add{
            @include rotate(270);
        }
        .text{
            color: #000;
        }

    }
}

.dialogues{
    width: 720px;
    .dialogues-list{
        @extend .clearfix;
        width: 680px;
        padding: 0 20px 20px;
    }
    .dialogue-item{
        @extend .clearfix;
        margin-bottom: 30px;
        .avatar{
            width: 81px;
            height: 81px;
            float: left;
            a, img{
                width: 81px;
                height: 81px;
                display: block;
            }
            img{
                margin-top: 8px;
            }
        }
        .dialogue-body{
            margin-left: 100px;
            @extend .clearfix;
            h3{
                padding-bottom: 6px;
                a{
                    @include font-size-lh(18);

                }
            }
            .content-message{
                @extend .clearfix;
                p{
                    @include font-size-lh(14, 20);
                    color: $color-p;
                }
            }
            .dialogue-content{
                float: left;
                width: 418px;
            }
            .dialogue-date-time{
                float: left;
                width: 120px;
                margin-left: 20px;
                .date-time{
                    margin-top: 34px;
                    color: $color-grey;
                    span{
                        padding-left: 7px;
                    }
                }
            }
        }
    }
    .add-massage{
        margin-top: 15px;
        border-top: 1px solid #dddddd;
        padding-top: 15px;
        .row{
            padding: 0 20px;
            width: 680px;
        }
        .avatar{
            width: 81px;
            height: 81px;
            float: left;
            a, img{
                width: 81px;
                height: 81px;
                display: block;
            }
        }
        .add-massage-body{
            margin-left: 100px;
            @extend .clearfix;
            textarea{
                min-height: 56px;
                @include width(418, 20);
                padding: 12px 20px;
            }
        }
    }
    .send-massage{
        margin-left: 20px;
        margin-top: 26px;
        width: 519px;
        .button{
            float: left;
            margin-left: 100px;
        }

        .smile{
            float: right;
            margin-top: 6px;
            width: 24px;
            height: 23px;
            cursor: pointer;
            .icons {
                width: 24px;
                height: 24px;
                display: block;
                background-position: 0 -210px;
            }
        }
    }

    .dialogues-list{
        height: 560px;
    }
    .jspVerticalBar{
        right: 20px;
    }
}

.jspVerticalBar{
    .jspDrag{
        background: #f4f4f4;
    }
    .jspTrack{
        background: #fff;
    }
}

.list-content{
    .list-content__item{
        width: 720px;
        padding-top: 20px;
        padding-bottom: 20px;
        &.gray{
            background: #f6f7fa;
        }
        .list-content__photo{
            float: left;
            margin-right: 10px;
            width: 140px;
            padding-top: 3px;
            a{
                width: 100px;
                height: 100px;
                display: block;
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                .icons{
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    background-position: 0 -60px;
                    bottom: 4px;
                    left: 4px;
                }
            }
            img{
                width: 100px;
                height: 100px;
                display: block;
            }
        }
    }
    .list-content__body{
        position: relative;
        width: 380px;
        float: left;
        h3{
            padding-bottom: 3px;
            a{
                @include font-size-lh(18, 24);
                color: $color;
                @include transition();
                &:hover{
                    color: $color-a;
                }
            }
        }
        .description{
            color: $color-grey;
            @include font-size-lh(14, 20);
            padding-bottom: 14px;
        }
        .list-content__pets{
            li{
                float: left;
                margin-right: 10px;
                a{
                    width: 50px;
                    height: 50px;
                    display: block;
                    overflow: hidden;
                    @include border-radius(50px);
                    img{
                        width: 50px;
                        height: 50px;
                        display: block;
                    }
                }
            }
        }
    }
    .list-content__link{
        float: left;
        width: 170px;
        padding-top: 8px;
        li{
            & + li{
                padding-top: 20px;
            }
            a{
                &:hover{
                    @include transition();
                }
            }
        }
    }
    &.group{
        .list-content__photo{
            float: left;
            width: 120px;
            padding-top: 3px;
            a{
                width: 81px;
                height: 81px;
                display: block;
                margin: 0 auto;
                overflow: hidden;
                position: relative;
            }
            img{
                width: 81px;
                height: 81px;
                display: block;
            }
        }
        .list-content__body{
            width: 400px;
            padding-right: 20px;
        }
    }
}

.search__results-list{
    position: absolute;
    width: 480px;
    background: #fff;
    z-index: 9999;
    line-height: 18px;
    padding-bottom: 10px;
    .result-item{
        @extend .clearfix;
        .result-item__name{
            padding: 16px 30px 5px;
            width: 419px;
            border-bottom: 1px solid $color-grey;
            a{
                @include font-size-lh(15, 20);
                color: $color-a;
                @include transition();
                &:hover{
                    color: $color;
                }
            }
        }
        &.search-pet .result-item__photo a{
            @include border-radius(45px);
        }
    }
    .result-item__wrapper{
        @extend .clearfix;
        .search-item{
            @extend .clearfix;
            padding: 10px 30px 0;
        }
        .result-item__photo{
            width: 45px;
            height: 45px;
            float: left;
            padding-right: 23px;
            a{
                width: 45px;
                height: 45px;
                display: block;
                overflow: hidden;

            }
            img{
                width: 45px;
                height: 45px;
                display: block;
            }
        }
        .result-item__body{
            margin-left: 68px;
            h3{
                padding-bottom: 3px;
                a{
                    color: $color;
                    @include transition();
                    &:hover{
                        color: $color-a;
                    }
                }
            }
        }
        .result-item__description{
            color: $color-grey; 
        }
    }
    .more-results{
        text-align: center;
        padding: 10px 0 0 0;
        a{
            @include transition();
        }
    }
}

.module-search{
    background: none;
    .tabs {
        height: 48px;
        background: #fff;
        margin-bottom: 10px;
        display: table;
        width: 100%;
        li{
            height: 48px;
            display: table-cell;
            text-align: center;
            font-family: $font-Regular;
            @include font-size-lh(14, 48);
            color: $color;
            cursor: pointer;
            &.current{
                background: #6f7374;
                color: #fff;
                &:hover{
                    color: #fff;
                }
            }
            &:hover{
                color: $color-a;
            }
        }
    }
    .box{
        display: none;
        &.visible {
            display: block;
        }
        background: #fff;
        padding: 20px 20px;
        .description-checkbox{
            @extend .inline-block;
            vertical-align: middle;
            font-size: 14px;
        }
        .jq-checkbox{
            vertical-align: middle;
        }
        .search-query{
            width: 190px;
            position: relative;
            height: 40px;
            .ui-autocomplete-input{
                width: 150px;
            }
            .icons{
                background-position: 0 -30px;
                height: 20px;
                position: absolute;
                right: 0;
                top: 12px;
                width: 21px;
                display: block;
            }
        }
        .jq-selectbox{
            width: 190px;
            height: 40px;
            .jq-selectbox__dropdown{
                width: 150px;
                border-top: 1px solid $color-grey;
            }
        }
        .row-checkbox{
            margin-top: 15px;
        }

    }

}
.page-search{
    .ui-autocomplete{
        width: 190px;
        .ui-menu-item{
            width: 170px;
        }
    }
}

.group-pets{
    .page-avatar{
        .profile{
            h1{
                @include font-size-lh(24, 36);
                padding: 0;
            }
            .number-participants{
                @include font-size-lh(18, 36);
                color: #fff;
            }
        }
    }
    .album-description{
        padding-bottom: 20px;
    }

}

.post-wall{
    .post-item{
        float: left;
        width: 720px;
        & + .post-item{
            border-top: 1px solid #dddddd;
        }
    }
    .post{
        margin: 17px 0 20px 20px;
        width: 660px;
        float: left;
        position: relative;
        .remove{
            width: 12px;
            height: 12px;
            position: absolute;
            right: 0;
            top: 6px;
            cursor: pointer;
            .icons{
                width: 12px;
                height: 12px;
                background-position: -180px 0;
                display: block;
            }
            &:hover{
                .icons{
                    background-position: -150px 0;
                }
            }
        }
        .avatar{
            left: 0;
            position: absolute;
            top: 6px;
            a, img{
                width: 100px;
                height: 100px;
                display: block;
            }
        }
        .info{
            margin-left: 119px;
            h3.name{
                padding-bottom: 9px;
                a{
                    color: $color-a;
                    @include font-size-lh(18);
                    @include transition();
                    &:hover{
                        color: $color-p;
                    }
                }
                span{
                    color: $color-grey;
                    padding-left: 15px;
                    @include font-size-lh(14, 18);
                }
            }
            .text{
                padding-bottom: 18px;
                p{
                    @include font-size-lh(14, 22);
                    color: $color-p;
                    & + p{
                        padding-top: 15px;
                    }
                }
            }
            .thumbs{
                padding-bottom: 12px;
                img{

                }
            }
        }
        .signed{
            margin-left: 119px;
            .date-time{
                @extend .inline-block;
                @include font-size-lh(14);
                color: $color-grey;
            }
            .quantity-comments{
                @extend .inline-block;
                vertical-align: middle;
                text-align: right;
                span{
                    vertical-align: middle;
                    @include font-size-lh(14);
                    color: $color-a;
                    @extend .inline-block;
                    padding-right: 4px;
                    @include transition(); 
                }
                .icons{
                    background-position: -150px -120px;
                    width: 15px;
                    height: 13px;
                    margin-right: 9px;
                }
                &:hover{
                    span{
                        color: $color;
                    }
                }
            }
            .like{
                float: right;
                padding-top: 0;
                text-align: right;
                width: 248px;
                padding-right: 0;
            }
        }
    }

    .wall-comments{
        margin-top: 50px;
        float: left;
    }
    .comment-item{
        @extend .post;
        width: 660px;
        border: none;
        padding: 0;
        margin: 0;
        float: left;
        position: relative;
        & + .comment-item{
            margin-top: 20px;
        }
        .avatar{
            left: 16px;
            top: 7px;
            a, img{
                width: 80px;
                height: 80px;
            }
        }
        .signed{
            .reply{
                vertical-align: middle;
                margin-left: 25px;
            }
        }
        &.add-comment{
            position: relative;
            margin-top: 40px;
            .avatar{
                top: 0;
            }
            textarea{
                width: 500px;
                min-height: 70px;
            }
            .button{
                padding: 12px 22px;
                margin-top: 19px;
            }
        }
    }

    .replies{
        @extend .comment-item;
        width: 540px;
        border: none;
        margin-left: 119px;
        .reply-item{
            float: left;
            position: relative;
            margin-top: 18px;
            width: 100%;
            .avatar{
                left: 0;
                top: 7px;
                a, img{
                    width: 59px;
                    height: 59px;
                }
            }
            .info{
                margin-left: 80px;
                h3{
                    padding-bottom: 0;
                }
                .text{
                    padding-bottom: 5px;
                }
            }
            .signed{
                margin-left: 80px;
            }
            &.add-reply{
                position: relative;
                .avatar{
                    top: 0;
                }
                textarea{
                    width: 289px;
                    display: block;
                    padding: 2px 20px 0;
                }
                .button{
                    padding: 12px 22px;
                    bottom: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

.group-wall-add{
    float: left;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    .add-body{
        margin: 20px 20px 10px 20px;
        position: relative;
    }
    textarea{
        width: 480px;
        padding: 2px 20px 0;
    }
    .button{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .row{
        position: relative;
    }

    .add-application{
        float: left;
        width: 520px;
        padding-top: 10px;
        .application-body{
            float: right;
        }
        .attach{
            width: 25px;
            height: 25px;
            float: left;
            padding-left: 16px;
            cursor: pointer;
            .icons{
                width: 25px;
                height: 25px;
                background-position: 0 -242px;
            }
        }
        .smilies{
            width: 24px;
            height: 24px;
            float: left;
            padding-left: 16px;
            cursor: pointer;
            .icons{
                width: 24px;
                height: 24px;
                background-position: 0 -210px;
            }
        }
    }
}

.group-discussion{
    float: left;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    .group-discussion-body{
        margin: 20px 20px 10px 20px;
        position: relative;
        width: 655px;
    }
    .col-l{
        float: left;
        width: 209px;
        color: #a2a8aa;
        @include font-size-lh(18);
    }
    .col-r{
        margin-left: 209px;
        input{
            width: 406px;
            @include placeholder(#a2a8aa);
            @include font-size-lh(14);
        }
    }
    .subject{
        padding-bottom: 10px;
        margin-bottom: 19px;
        
        span{
            color: $color;
            @include font-size-lh(14);
            padding-left: 10px;
        }
    }
    textarea{
        width: 406px;
        height: 80px;
    }
    .button{
        margin-top: 20px;
    }
}
.post-filter{
    margin-left: 229px;
    margin-top: 3px;
    span{
        padding-right: 15px;
        color: $color-grey;
        @include font-size-lh(14, 30);
    }
    a{
        padding-right: 15px;
        color: $color-a;
        @include transition();
        @include font-size-lh(14, 30);
        &.active{
            color: $color;
        }
        &:hover{
            color: $color;
        }
    }
}

#discussion-page-list{
    .topic{
        padding-bottom: 3px;
        a{
            color: $color;
            @include font-size-lh(18, 30);
            @include transition();
            &:hover{
                color: $color-a;
            }
        }
    }
    h3.name{
        a{
            @include font-size-lh(14);
        }
    }
    .last-reply{
        @include font-size-lh(14);
        padding-bottom: 10px;
        color: $color-grey;
        a{
            color: $color-a;
            @include transition();
            &:hover{
                color: $color;
            }
        }
    }
}





























