<!-- <a href="" class="edit" ng-show="savingData">Saved</a> -->
<a href="" class="edit" ng-if="userInfo.isProf === 'yes'" ng-click="profy('no')" ng-bind="text.im_not_a_specialist"></a>
<a href="" class="edit" ng-if="userInfo.isProf === 'no'" ng-click="profy('yes')" ng-bind="text.im_a_specialist"></a>
<form>
    <div class="section" ng-if="userInfo.isProf === 'yes'">
        <h2>
            <strong ng-bind="text.specialization"></strong>
            <strong ng-if="userInfo.profession.name">{[{' - '+userInfo.profession.name}]}</strong>
        </h2>
        <div class="section-body">
            <div class="section">
                <div class="row">
                    <div class="item">
                        <table>
                            <tr>
                                <td><span ng-bind="text.specialization"></span>:</td>
                                <td>
                                    <select ng-model="userInfo.profession" ng-options="item.name for item in professions track by item.priority" class="specialization_select">
                                        <option ng-hide="userInfo.profession" value="">------</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span ng-bind="text.work_place"></span>:</td>
                                <td><input type="text" ng-model="userInfo.career" placeholder="{[{text.work_place_palceholder}]}" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div><!-- .section -->
        </div>
    </div><!-- .section -->
    <div class="section">
        <h2 ng-bind="text.main_information"></h2>
        <div class="section-body">
            <table>
                <tr>
                    <td><span ng-bind="text.location"></span>:</td>
                    <td>
                        <div ng-if="userInfo.location.formated && !changeLocation" ng-bind="userInfo.location.formated" ng-click="changeLocationFn()" style="cursor:pointer"></div>
                        <div class="search-query" ng-if="!userInfo.location.formated || changeLocation">
                            <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="currentLocation.formated" details="currentLocation.detailes" options="autocompleteOptions"/>
                            <i class="icons"></i>
                        </div>
                    </td>
                </tr>
                <tr ng-if="userInfo.isProf === 'yes'">
                    <td><span ng-bind="text.website"></span>:</td>
                    <td>
                        <div class="link">
                            <a href="" class="add_it" ng-click="addItem('sites')">
                                <i class="icons"></i>
                            </a>
                            <div class="row">
                                <div class="item" ng-repeat="site in userInfo.sites">
                                    <input ng-model="site.name" type="text" placeholder="{[{text.website_palceholder}]}" />
                                    <a href="" class="remove_it"  ng-click="removeItem('sites',$index)">
                                        <i class="icons"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="userInfo.isProf === 'yes'">
                    <td><span ng-bind="text.phone_number"></span>:</td>
                    <td>
                        <div class="link">
                            <a href="" class="add_it" ng-click="addItem('phones')">
                                <i class="icons"></i>
                            </a>
                            <div class="row">
                                <div class="item" ng-repeat="phone in userInfo.phones">
                                    <input ng-model="phone.name" type="text"/>
                                    <a href="" class="remove_it"  ng-click="removeItem('phones',$index)">
                                        <i class="icons"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span ng-bind="text.tags"></span>:</td>
                    <td><textarea ng-model="userInfo.tags" placeholder="{[{text.tags_palceholder}]}"></textarea></td>
                </tr>
            </table>
        </div>
    </div><!-- .section -->
    <div class="section">
        <h2 ng-bind="text.organizations"></h2>
        <div class="section-body">
            <table>
                <tr>
                    <td><span ng-bind="text.organizations"></span>:</td>
                    <td>
                        <div class="link">
                            <a href="" class="add_it" ng-click="addItem('organizations')">
                                <i class="icons"></i>
                            </a>
                            <div class="row">
                                <div class="item" ng-repeat="organization in userInfo.organizations">
                                    <input ng-model="organization.name" type="text" placeholder="{[{text.organizations_palceholder}]}" />
                                    <a href="" class="remove_it"  ng-click="removeItem('organizations',$index)">
                                        <i class="icons"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div><!-- .section -->
    <div class="about_form_buttons">
        <button class="button green" ng-click="saveUser()" ng-bind="text.save"></button>
        <button class="button green" ng-click="editMode()" ng-bind="text.save_and"></button>
    </div>
</form>