<a href="" class="edit" ng-if="isPageOwner" ng-click="editMode()" ng-bind="text.edit_information"></a>
<div class="section">
    <h2 ng-bind="text.main_information"></h2>
    <div class="section-body">
        <table>
<!--             <tr ng-if="userInfo.age">
                <td>Вік:</td>
                <td ng-bind="userInfo.age"></td>
            </tr> -->
            <tr ng-if="userInfo.location.formated">
                <td><span ng-bind="text.location"></span>:</td>
                <td ng-bind="userInfo.location.formated"></td>
            </tr>
            <tr ng-if="userInfo.phones.length" ng-repeat="phone in userInfo.phones">
                <td><span ng-bind="text.phone_number"></span>:</td>
                <td ng-bind="phone.name"></td>
            </tr>
            <tr ng-if="userInfo.sites.length" ng-repeat="site in userInfo.sites">
                <td><span ng-bind="text.website"></span>:</td>
                <td ng-bind="site.name"></td>
            </tr>
            <tr ng-if="userInfo.tags">
                <td><span ng-bind="text.tags"></span>:</td>
                <td ng-bind="userInfo.tags"></td>
            </tr>
        </table>
    </div>
</div><!-- .section -->
<div class="section" ng-if="userInfo.profession">
    <h2 ng-bind="text.specialization"></h2>
    <div class="section-body">
        <table>
            <tr>
                <td><span ng-bind="text.specialization"></span>:</td>
                <td ng-bind="userInfo.profession.name"></td>
            </tr>
            <tr ng-if="userInfo.career">
                <td><span ng-bind="text.work_place"></span>:</td>
                <td ng-bind="userInfo.career"></td>
            </tr>
        </table>
    </div>
</div><!-- .section -->
<div class="section" ng-if="userInfo.organizations.length">
    <h2 ng-bind="text.organizations"></h2>
    <div class="section-body">
        <table>
            <tr ng-repeat="organization in userInfo.organizations">
                <td><span ng-bind="text.organizations"></span>:</td>
                <td ng-bind="organization.name"></td>
            </tr>
        </table>
    </div>
</div><!-- .section -->

