<div class="module-search">
    <div class="row module module-search">
        <ul class="tabs">
            <li ng-class="{'current':outputData.type==='users'}" ng-click="setType(types[0])">Люди</li>
            <li ng-class="{'current':outputData.type==='pets'}" ng-click="setType(types[1])">Тварини</li>
        </ul>
        <div class="box" ng-show="outputData.type==='users'">
            <div class="row">
                <div class="search-query">
                    <input ng-model="outputData.query" ng-change="checkThisName()" type="text" placeholder="Введіть Ім’я"/>
                    <i class="icons"></i>
                </div>
            </div>
            <div class="row row-checkbox" ng-click="addOrRemoveProfession(profession._id, $event)" ng-repeat="profession in professions">
                <input type="checkbox" />
                <label class="description-checkbox" ng-bind="profession.name"></label>
            </div>
        </div><!-- .box -->
        <div class="box" ng-show="outputData.type==='pets'">

            <div class="row">
                <select name="" ng-model="outputData.petType" id="">
                    <option value="all">Всі</option>
                    <option value="cat">Кіт</option>
                    <option value="dog">Собака</option>
                </select>
            </div>
            <div class="row">
                <div class="search-query">
                    <input ng-model="outputData.query" ng-change="checkThisName()" type="text" placeholder="Введіть Ім’я"/>
                    <i class="icons"></i>
                </div>
            </div>
            <div class="row" ng-if="outputData.petType !== 'all'">
                <div class="search-query">
                    {# <input class="species" value="" type="text" placeholder="Введіть породу"/> #}
                    <angucomplete id="ex1"
                                  placeholder="Введіть породу"
                                  pause="100"
                                  selectedobject="selectedCountry"
                                  localdata="breeds"
                                  searchfields="ua"
                                  titlefield="ua"
                                  minlength="1"
                                  inputclass="species"/>
                    <i class="icons"></i>
                </div>
            </div>
            <div class="row row-checkbox"><input type="checkbox"/><label class="description-checkbox">Спеціаліст</label></div>
            <div class="row row-checkbox"><input type="checkbox"/><label class="description-checkbox">Спеціаліст</label></div>
            <div class="row row-checkbox"><input type="checkbox"/><label class="description-checkbox">Спеціаліст</label></div>
        </div><!-- .box -->
    </div><!-- .section -->
</div><!-- .section -->