<!-- Блок-приклад мережі -->
<div class="WhyRegister" style="width:640px; padding:26px 0; background-color: rgba(255, 255, 255, 0.85); position: relative; left: 50%; top: 50%; margin-left: -320px;">
    <h2 style="font-size: 30px; line-height: 30px; color: #1f2430; text-align: center; padding-bottom: 24px;">Welcome!</h2>
    <p style="margin: 0px 70px; font-size: 12px; line-height: 18px; color: #1f2430; padding-bottom: 15px; display: block;">
        We’re glad to see you on the test version of portal for pet owners animals! We're willing to gather present and future champions and their owners.
    </p>
    <p style="margin: 0px 70px; font-size: 12px; line-height: 18px; color: #1f2430; padding-bottom: 15px; display: block; font-weight: bold;">Here you can:</p>
    <ul style="list-style: initial; padding: 0 70px; font-size: 12px; line-height: 18px; color: #1f2430; padding-bottom: 15px; display: block;">
        <li>Create a personal page and tell us more about yourself; Only in our service you can describe yourself as specialist - breeder, veterinarian, groomer etc.
        </li>
        <li>Create individual page for your pet (or several pages for your pets);</li>
        <li>Add information about family of your pet and tell more about noble ancestors and beautiful children!</li>
    </ul>
    <div class="ExcamplePages" style="width:100%; margin:10px 70px; ">
        <a class="fancybox-effects-c" style="padding: 0px 5px;" href="UserPage.jpg" title="Personal page"><img src="UserPageSmall.jpg" alt="" /></a>
        <a class="fancybox-effects-c" style="padding: 0px 5px;" href="PetPage.jpg" title="Personal page of your pet"><img src="PetPageSmall.jpg" alt="" /></a>
        <a class="fancybox-effects-c" style="padding: 0px 5px;" href="Pedigree.jpg" title="Family of your pet"><img src="PedigreeSmall.jpg" alt="" /></a>
    </div>
</div>
<!-- Кінець Блок-приклад мережі -->