<div class="row page-content edit-page"  ng-controller="{{ controller|raw }}">
    <div ng-show="!loadView" class="spiner">
        <img src="/resource/img/loader.gif">
    </div>
    <div ng-show="loadView">
        <div ng-if="isPageOwner">
            <div class="first_enter_block" ng-if="!userInfo.isProf">
                <h2 ng-bind="text.question"></h2>
                <div class="choose_is_profy">
                	<button class="button green" ng-click="isProfy('yes')" ng-bind="text.yes"></button>
                	<button class="button green" ng-click="isProfy('no')" ng-bind="text.no"></button>
                </div>
            </div>
            <div ng-if="userInfo.isProf">
                <div ng-if="isEditMode">
                    <div ng-include="'/resource/js/modules/user/edit_info.html'"></div>
            	</div>
            	<div ng-if="!isEditMode" ng-include="'/resource/js/modules/user/show_info.html'"></div>
            </div>
        </div>
        <div ng-if="!isPageOwner">
            <div ng-include="'/resource/js/modules/user/show_info.html'"></div>
        </div>
    </div>
</div><!-- .page-content-->