<div class="pop-up-form add-new-photo">
    <h2>Додати нові фото</h2>

    <div class="section">
        <div class="row">
            <div class="uploadFileThumb" ng-repeat="item in uploader.queue" ng-click="item.remove()">
                <div class="added-photo" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                <div ng-show="uploader.isHTML5" class="ProgressBarThumb" ng-if="item.progress">
                    <div class="uploadProgressBar">
                        <div ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </div>
            </div>

            <div class="added-photo">
                <span class="add">
                    <input type="file" nv-file-select="" uploader="uploader" multiple  />
                </span>
                    <!-- <span>Додати ще</span> -->
            </div><!-- .added-photo-->

        </div>
        <div class="row">
            <button class="button green" ng-click="uploader.uploadAll()" ng-if="uploader.getNotUploadedItems().length">
            Завантажити</button>
            <button class="button green" ng-click="popapClose()" >
            Відмінити</button>
        </div>
    </div>

</div>