<div class="pop-up-form photo-album">

    <div class="section">

        <div class="quantity-photos">
            <span ng-bind="currentPhotoIndex+1"></span> з 
            <span ng-bind="photos.length"></span> фото
        </div>

        <div class="big-photo">
            <img ng-src="{[{currentPhoto.photo.url_medium}]}" alt=""/>
            <div class="control_wrap">
                <div class="control">
                    <div class="previous-photo" ng-click="prevPhoto(currentPhotoIndex)"><i class="icons"></i></div>
                    <div class="next-photo" ng-click="nextPhoto(currentPhotoIndex)"><i class="icons"></i></div>
                </div>
            </div>
        </div><!-- .big-photo -->

        <div class="row description-photo">
            <div class="description">
                <p ng-bind="currentPhoto.body"></p>
            </div>
            <div class="like">
                <a class="quantity-like" href="" ng-click="likeThisPhoto(currentPhoto.id,currentPhotoIndex)">
                    <span ng-bind="currentPhoto.likes"></span>
                    <i class="icons"></i>
                    <span>Круто!</span>
                </a>
                <div class="date-time">{[{currentPhoto.time*1000 | date:'dd/MM/yyyy H:mm'}]}</div>
            </div>
        </div><!-- .description-photo -->

    </div><!-- .section -->
    <div class="post-wall photo_view">
        <replies parent="currentPhoto"></replies>
    </div>
</div>