<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1567472006817146',
            xfbml      : true,
            version    : 'v2.3'
        });

        // ADD ADDITIONAL FACEBOOK CODE HERE
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<h1 id="fb-welcome"></h1>
<script>
    // Place following code after FB.init call.

    function onLogin(response) {
        if (response.status == 'connected') {
            FB.api('/me?fields=first_name', function(data) {
                var welcomeBlock = document.getElementById('fb-welcome');
                welcomeBlock.innerHTML = 'Hello, ' + data.first_name + '!';
            });
        }
    }

    FB.getLoginStatus(function(response) {
        // Check login status on load, and if the user is
        // already logged in, go directly to the welcome message.
        if (response.status == 'connected') {
            onLogin(response);
        } else {
            // Otherwise, show Login dialog first.
            FB.login(function(response) {
                onLogin(response);
            }, {scope: 'user_friends, email'});
        }
    });


    /* make the API call */
    FB.api(
            "/me/invitable_friends",
            function (response) {
                if (response && !response.error) {
                    /* handle the result */
//                    {
//                        "data": [
//                        {
//                            "id": "AVkgK9fLFxasdvXNbDV_gYogR6lXa9SKLnH...",
//                            "name": "Anita Sujarit",
//                            "picture": {
//                                "data": {
//                                    "is_silhouette": false,
//                                    "url": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c0.0.50.50/p50x50/1470158_10201991701127909_302023572_t.jpg"
//                                }
//                            }
//                        },
//                            ...
//                        {
//                            "id": "AVlzYTkXshfBqLe58zR9tY5dZ7L0wltTUkWKT0Z5V87zkwv-39...",
//                                "name": "Guy Cross",
//                                "picture": {
//                            "data": {
//                                "is_silhouette": false,
//                                        "url": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t5.0-1/623782_622770420_2109148508_q.jpg"
//                            }
//                        }
//                        }
//                    ],
//                        "paging": {
//                        "next": "https://graph.facebook.com/v2.0/500535225/invitable_friends?limit=25&pretty=1&after=MTAxNTM5NjI0NDE5MjA2MzI=",
//                                "cursors": {
//                            "before": "NzM3OTE3Mzc2MjQ4ODkx",
//                                    "after": "MTAxNTM5NjI0NDE5MjA2MzI="
//                        }
//                    }
//                    }
                }
            }
    );

    /* make the API call */
    FB.api(
            "/me/invitable_friends?excluded_ids=['AVlzYTkXshfBqLe58zR9tY5dZ7L0wltTUkWKT0Z5V87zkwv-39',
    'AVmT0LpyfvRMStEo2BW5seybtX1KbySRJtTb0wv0PqHVhT4sr7Le3',
            'AVk97lyKZQSXIJqOYJywIS3wR6gMo88tSF960l6m7Dm_j4']",
    function (response) {
        if (response && !response.error) {
            /* handle the result */
        }
    }
    );
</script>