<div class="replies">
    <div class="reply-item" ng-repeat="comment in comments">
        <div class="avatar">
            <a href="/user/{[{comment.attr.author.id}]}">
                <img ng-src="{[{comment.attr.author.photo}]}" ng-show="comment.attr.author.photo" alt=""/>
                <img ng-src="/resource/img/default_user_avatar.png" ng-show="!comment.attr.author.photo" alt=""/>
            </a>
        </div><!-- .image -->
        <div class="info">
            <h3 class="name">
                <a href="/user/{[{comment.attr.author.id}]}">{[{comment.attr.author.first_name}]} {[{comment.attr.author.last_name}]}</a>
                <span ng-bind="comment.attr.author.profession"></span>
            </h3>
            <div class="text" ng-bind-html="comment.body | emoticons"></div>
            <div class="thumbs" ng-if="comment.data.length>0">
                <a class="photo-pop-up" href="photo-album.html" ng-repeat="content in comment.data">
                    <img alt="" ng-src="{[{content}]}">
                </a>
            </div>
        </div><!-- .info -->
        <div class="signed">
            <div class="date-time">
                {[{comment.time*1000 | date:'dd/MM/yyyy H:mm'}]}
                <span></span>
            </div>
            <div class="like">
                <a class="quantity-like" href="" ng-click="likeThisPost(comment.id, $index)">
                    <span ng-bind="comment.likes"></span>
                    <i class="icons"></i>
                    <span ng-bind="text.cool"></span>
                </a>
            </div>
        </div><!-- .signed -->
        <div class="remove" ng-show="iCanDelThis(comment)" ng-click="delThisPost(comment.id)">
            <i class="icons"></i>
        </div>
     </div><!-- .reply-item -->
     <div class="reply-item add-reply">
        <div class="avatar">
            <a href="/user/{[{currentUser.id}]}">
                <img ng-src="{[{currentUser.photo}]}" ng-show="currentUser.photo" alt=""/>
                <img ng-src="/resource/img/default_user_avatar.png" ng-show="!currentUser.photo" alt=""/>
            </a>
        </div><!-- .avatar -->
         <div class="info" >
             <form>
                 <textarea placeholder="{[{text.yourComment}]}" class="commentInput" ng-model="newComment"></textarea>
                 <button class="button green" ng-click="addNewComment()" ng-bind="text.send"></button>
             </form>
         </div><!-- .info -->
    </div><!-- .reply-item -->
</div><!-- .replies -->