<div class="section">
    <div ng-show="waitForData" class="spiner">
        <img src="/resource/img/loader.gif">
    </div>
    <div class="section-body list-content" ng-show="!waitForData">
        <div ng-show="!inputData.hits.length"><h2>Немає співпаді</h2></div>
        <div class="section list-content__item" ng-class="{'gray':$index % 2 !== 0}" ng-repeat="item in inputData.hits">
            <div ng-if="item._type==='user'">
                <div class="list-content__photo">
                    <a href="/user/{[{item._source.id}]}" class="avatar-user">
                        <img src="{[{item._source.photo}]}" ng-if="item._source.photo" alt=""/>
                        <i class="icons" ng-if="item._source.profession" title="{[{item._source.profession}]}"></i>
                    </a>
                </div>
                <div class="list-content__body">
                    <h3>
                        <a href="/user/{[{item._source.id}]}">
                            <span ng-bind="item._source.first_name"></span> 
                            <span ng-bind="item._source.last_name"></span>
                        </a>
                    </h3>
                    <div class="description"></div>
                    <div class="row">
                        <ul class="list-content__pets">
                            <li><a href="#"><img src="assets/img/pets/small/2.png" alt=""/></a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="list-content__link">
                    <ul>
                        <li><a href="#">Написати повідомлення</a></li>
                        <li><a href="#">Видалити з друзів</a></li>
                        <li><a href="#">Переглянути профіль</a></li>
                    </ul>
                </div>   -->  
            </div><!--. users block -->
            <div ng-if="item._type==='pet'">
                <div class="list-content__photo">
                    <a href="/pet/{[{item._source.id}]}">
                        <img src="assets/img/avatars/medium/2.png" alt=""/>
                        <!-- <i class="icons"></i> -->
                    </a>
                </div>
                <div class="list-content__body">
                    <h3>
                        <a href="/pet/{[{item._source.id}]}">
                            <span ng-bind="item._source.hNick"></span>
                        </a>
                    </h3>
                    <div class="description" ng-bind="item._source.ancestry"></div>
                    <div class="row">
                        <ul class="list-content__pets">
                            <li><a href="#"><img src="assets/img/pets/small/2.png" alt=""/></a></li>
                        </ul>
                    </div>
                </div>
<!--                 <div class="list-content__link">
                    <ul>
                        <li><a href="#">Написати повідомлення</a></li>
                        <li><a href="#">Видалити з друзів</a></li>
                        <li><a href="#">Переглянути профіль</a></li>
                    </ul>
                </div>  -->   
            </div><!--. pets block -->
           
        </div><!--.list-content__item -->
    </div><!-- .friends-list -->
</div><!-- .section -->