{% for item in messages %}
	<div class="dialogue-item">
		<div class="avatar cover-avatar avatar-user">
			<a href="/user/{{ item.userId }}">
				{% if users[item.userId].profile.photo %}<img class="cover-avatar"
															  src="{{ users[item.userId].profile.photo }}"
															  alt=""/>{% endif %}
			</a>
		</div>
		<div class="dialogue-body">
			<div class="dialogue-content">
				<h3>
					<a href="/user/{{ item.userId }}">{{ users[item.userId].profile.first_name }} {{ users[item.userId].profile.last_name }}</a>
				</h3>

				<div class="content-message">
					<p class="txt" id="{{ item._id }}">{{ item.message|raw }}</p>
				</div>
			</div>
			<div class="dialogue-date-time" id="time_{{ item._id }}">

			</div>
			<script>
				var timestamp = {{ item.time }}000;
				var date = new Date();
				date.setTime(timestamp);
				$("#time_{{ item._id }}").append('<div class="date-time">' + date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + '<span>' + date.getHours() + ':' + date.getMinutes() + '</span></div>');
			</script>
		</div>
	</div><!-- .dialogue-item -->
{% endfor %}
<script>
	$(document).find('.txt').each(function () {
		var data = $(this).html();
		data = data.replace(new RegExp("[=][)]", 'g'), "<span class=\"em emj3\"></span>");
		data = data.replace(new RegExp("[:][)]", 'g'), "<span class=\"em emj3\"></span>");
		data = data.replace(new RegExp("[:][-][)]", 'g'), "<span class=\"em emj3\"></span>");
		data = data.replace(new RegExp("[:][(]", 'g'), "<span class=\"em emj19\"></span>");
		data = data.replace(new RegExp("[:][-][(]", 'g'), "<span class=\"em emj19\"></span>");

		data = data.replace(new RegExp("[:]D", 'g'), "<span class=\"em emj1\"></span>");
		data = data.replace(new RegExp("[:][-]D", 'g'), "<span class=\"em emj1\"></span>");

		data = data.replace(new RegExp("[:]P", 'g'), "<span class=\"em emj13\"></span>");
		data = data.replace(new RegExp("[:][-]P", 'g'), "<span class=\"em emj13\"></span>");

		data = data.replace(new RegExp("[;][)]", 'g'), "<span class=\"em emj5\"></span>");
		data = data.replace(new RegExp("[;][-][)]", 'g'), "<span class=\"em emj5\"></span>");
		$(this).html(data);
	});
	$("#page_count_message").html("(" + $("div .dialogue-item").length + ")");
</script>