<div class="cover-image-container">
	<div class="base-cover cover" id="croppicPetCover">
		{% if pet.cover %}<img class="base-cover" id="coverImage" src="{{ pet.cover }}" alt=""/>{% endif %}
	</div>
	{% if isYourPet %}<a id="cropPetCoverButton" class="change-image" href="#"><i class="icons"></i></a>{% endif %}
	<div class="pets">
		<div class="h-signature toTranslate">
			_t_owners_t_
		</div>
		<ul>
			{% for item in owners %}
			<li class="cover-avatar avatar-user">
				<a href="{{ item.url }}">
					<div class="cover-avatar avatar-user">
						{% if item.photo %}<img src="{{ item.photo }}" alt=""/>{% endif %}
					</div>
					<span>{{ item.first_name }} {{ item.last_name }}</span>
				</a>
			</li>
			{% endfor %}
			{% if isYourPet %}
			<li>
				<a class="tooltip" title="{{ tooltips.add_your_owner }}" href="#" onclick='openPopup("mp_popup_add_owner", "petId={{ pet.id }}");return false;'>
					<span class="add"></span>
					<span>{{ tooltip.span.html }}</span>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>

{% if isYourPet %}
<script>
	var croppicPetCover = new Croppic('croppicPetCover', {
		uploadUrl:'/petCover/upload?petId={{ pet.id }}',
		cropUrl:'/petCover/crop?petId={{ pet.id }}',
		customUploadButtonId:'cropPetCoverButton',
		modal:false,
		loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
		onBeforeImgUpload: function(){ $("#croppicPetCover").empty() },
		onAfterImgUpload: function(){  },
		onImgDrag: function(){  },
		onImgZoom: function(){  },
		onBeforeImgCrop: function(){  },
		onAfterImgCrop:function(){ $(".cropControlsUpload").empty() }
	});
</script>
{% endif %}
