<div class="page-avatar">
	<img src="/resource/mypet/assets/img/page_avatar_default.jpg" alt=""/>
	<div class="profile">
		{% if isYourPet %}
		<a  href="#" class="status mp_popup_status toTranslate tooltip" title="{{ pagecontent.tooltip}}"><i class="icons"></i>
			{% if pet.status %}_t_{{ pet.status }}_t_{% else %}{{ section.status }}{% endif %}
		</a>
		{% else %}
			{% if pet.status %}<a  href="#" class="status toTranslate">_t_{{ pet.status }}_t_</a>{% else %}{% endif %}
		{% endif %}


		<div class="avatar">
			{% if isYourPet %}<a id="cropPetAvatarButton" class="change-image" href="#"><i class="icons"></i></a>{% endif %}
				<span class="bg"></span>
				<div class="base-avatar avatar-{{ pet.type }}" id="croppicPetAvatar">
					{% if pet.photo %}<img class="base-avatar" src="{{ pet.photo }}" alt=""/>{% endif %}
					{% if pet.isDead %}<i class="icons status-pet died-2"></i>{% endif %}
				</div>

		</div>
		<h1>{{ pet.hNick }}</h1>
		<div class="profile-breed">{{ pet.breed_translate }}</div>
		{% if pet.isDead %}<div class="profile-status toTranslate">_t_is_dead_t_</div>{% endif %}
		<div class="age">{{ pet.age }}</div>
	</div>
</div>

{% if isYourPet %}
<script>
	var croppicPetAvatar = new Croppic('croppicPetAvatar', {
		uploadUrl:'/petAvatar/upload?petId={{ pet.id }}',
		cropUrl:'/petAvatar/crop?petId={{ pet.id }}',
		customUploadButtonId:'cropPetAvatarButton',
		modal:false,
		loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
		onBeforeImgUpload: function(){  },
		onAfterImgUpload: function(){  },
		onImgDrag: function(){  },
		onImgZoom: function(){  },
		onBeforeImgCrop: function(){  },
		onAfterImgCrop:function(){ $(".cropControlsUpload").empty();kmcore.api.send("/clientApi/updateProgress", {}, function(data){}); }
	});

	$('.mp_popup_status').click(function () {
		openPopup("mp_popup_status", "petId={{ pet.id }}");
		return false;
	});
</script>
{% endif %}
