<div class="cover-image-container">
	<div class="base-cover cover" id="croppicCover">
		{% if profile.cover %}<img class="base-cover" id="coverImage" src="{{ profile.cover }}" alt=""/>{% endif %}
	</div>
	{% if isYou %}<a id="cropCoverButton" class="change-image" href="#"><i class="icons"></i></a>{% endif %}
	<div class="pets">
		<div class="h-signature toTranslate">
			_t_pets_t_
		</div>
		<ul>
			{% for item in pets %}
				<li>
					<a href="/pet/{{ item.id }}">
						<div class="cover-avatar avatar-{{ item.type }}">
							{% if item.photo %}<img src="{{ item.photo }}" alt=""/>{% endif %}
						</div>
						<span>{{ item.hNick }}</span>
						{% if item.isDead %}<i class="icons status-pet died"></i>{% endif %}
					</a>
				</li>
			{% endfor %}

			{% if profile.isYou %}
			<li>
				<a class="tooltip mp_popup_add_your_pet" title="{{ tooltips.add_your_pet }}" href="#">
					<span class="add"></span>
					<span>{{ tooltip.span.html }}</span>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>

{% if profile.isYou %}
<script>
	var croppicCover = new Croppic('croppicCover', {
		uploadUrl:'/userCover/upload',
		cropUrl:'/userCover/crop',
		customUploadButtonId:'cropCoverButton',
		modal:false,
		loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
		onBeforeImgUpload: function(){ },
		onAfterImgUpload: function(){ },
		onImgDrag: function(){ },
		onImgZoom: function(){ },
		onBeforeImgCrop: function(){ },
		onAfterImgCrop:function(){ $(".cropControlsUpload").empty() }
	});

	$('.mp_popup_add_your_pet').click(function () {
		openPopup("mp_popup_add_your_pet");
		return false;
	});
</script>
{% endif %}