<div class="page-avatar">
	<img src="/resource/mypet/assets/img/page_avatar_default.jpg" alt=""/>
	<div class="profile">
		<div class="avatar">
			{% if profile.isYou %}<a id="cropAvatarButton" class="change-image" href="#"><i class="icons"></i></a>{% endif %}
				<span class="bg"></span>
				<div class="base-avatar avatar-user" id="croppicAvatar">
					{% if profile.photo %}<img class="base-avatar"  src="{{ profile.photo }}" alt=""/>{% endif %}
				</div>
		</div>
		<h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
		{% if profile.isProf == "yes" %}<div class="specialists">{{ profile.profession_render }}<i class="icons"></i></div>{% endif %}
		<div class="town">{{ profile.city_render }}</div>
	</div>
</div>

{% if profile.isYou %}
<script>
	var croppicAvatar = new Croppic('croppicAvatar', {
		uploadUrl:'/userAvatar/upload',
		cropUrl:'/userAvatar/crop',
		customUploadButtonId:'cropAvatarButton',
		modal:false,
		loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
		onBeforeImgUpload: function(){ $("#croppicAvatar").empty() },
		onAfterImgUpload: function(){  },
		onImgDrag: function(){  },
		onImgZoom: function(){  },
		onBeforeImgCrop: function(){  },
		onAfterImgCrop:function(){ $(".cropControlsUpload").empty();kmcore.api.send("/clientApi/updateProgress", {}, function(data){}); }
	});
</script>
{% endif %}