	<div class="row module progress-bar">
		<span id="progress-line" style="width: {{ profile.progress }}%"></span>
		<div class="status" title="">{{ pagecontent.progress }} {{ profile.progress }}%</div>
	</div>

	<div id="progress-bar-tooltip" class="row module message" style="display: none">
		<div class="module-body">
		</div>
	</div>

<script>
	if (kmcore.loggedIn && kmcore.api.isYou) {
		$(".progress-bar").mouseenter(function () {
				updateProgressTooltip();
		});
//		$("#progress-bar-tooltip").mouseover(function(){updateProgressTooltip();});
		$(".progress-bar").mouseleave(function () {
			$("#progress-bar-tooltip").hide();
		});

		function updateProgressTooltip() {
			kmcore.api.send("/clientApi/getProgressBarInfo", {}, function (data) {
				html = '<ul>';
				html += '<b>' + mypet_translate.translateByKey("_f_user_fields_f_") + ':</b>';
				for (key in data.response.info.user.ok) {
					html += '<li class="green-text">' + mypet_translate.translateByKey("_f_" + key + "_f_") + ' <img src="/resource/img/ok.png"></li>';
				}
				for (key in data.response.info.user.cr) {
					html += '<li class="red-text">' + mypet_translate.translateByKey("_f_" + key + "_f_") + ' <img src="/resource/img/cr.png"></li>';
				}
				html += '<br>';
				html += '<b>' + mypet_translate.translateByKey("_f_pet_fields_f_") + ':</b>';
				for (key in data.response.info.pet.ok) {
					html += '<li class="green-text">' + mypet_translate.translateByKey("_f_" + key + "_f_") + ' <img src="/resource/img/ok.png"></li>';
				}
				for (key in data.response.info.pet.cr) {
					html += '<li class="red-text">' + mypet_translate.translateByKey("_f_" + key + "_f_") + ' <img src="/resource/img/cr.png"></li>';
				}
				html += '</ul>';

				$("#progress-bar-tooltip .module-body").html(html);
				$("#progress-bar-tooltip").show()
			});
		}
	}
</script>