<div class="row module white">
	<div class="row header-top">
		{% if petId %}
			<a href="/specialists/{{ petId }}">
				<block_trn class="toTranslate">_t_specialists_t_</block_trn> <span>({{ count }})</span>
			</a>
		{% else %}
			<a href="/friends/{{ userId }}">
				<block_trn class="toTranslate">_t_friends_and_specialist_t_</block_trn> <span>({{ count }})</span>
			</a>
		{% endif %}
	</div>
	<div class="row module-body">
		{% if petId %}
			{% for item in specialists %}
				{% if item.id %}
					<div class="item">
						<a href="/user/{{ item.id }}">
							<div class="item-img cover-avatar avatar-user">
								{% if item.photo %}<img class="cover-avatar" src="{{ item.photo }}" alt=""/>{% endif %}
								<i class="icons"></i>
							</div>
							<span>{{ item.first_name }} {{ item.last_name }}</span>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		{% else %}
			{% for item in friends %}
				{% if item.profile.id %}
					<div class="item">
						<a href="/user/{{ item.profile.id }}">
							<div class="item-img cover-avatar avatar-user">
								{% if item.profile.photo %}<img class="cover-avatar" src="{{ item.profile.photo }}" alt=""/>{% endif %}
								{% if item.profile.isProf == "yes" %}<i class="icons"></i>{% endif %}
							</div>
							<span>{{ item.profile.first_name }} {{ item.profile.last_name }}</span>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}

	</div>
</div><!-- .module -->