<div class="row module white">
	<div class="row header-top">
		<a href="/familys/{{ petId }}">
			<block_trn class="toTranslate">_t_family_t_</block_trn> <span>({{ count }})</span>
		</a>
	</div>
	<div class="row module-body">
		{% for item in pets %}
		<div class="item">
			<a href="/pet/{{ item.id }}">
				<div class="item-img cover-avatar avatar-{{ item.type }}">
					{% if item.photo %}<img class="cover-avatar" src="{{ item.photo }}" alt=""/>{% endif %}
				</div>
				<span>{{ item.hNick }}</span>
				<span class="family toTranslate">{{ item.family }}</span>
			</a>
		</div>
		{% endfor %}
	</div>
</div><!-- .module -->