<div class="module-search-color">
<div class="row module module-search ">
	<ul class="tabs">
		<li class="current toTranslate">_t_people_t_</li>
		<li class="toTranslate">_t_pet_t_</li>
	</ul>

	<div class="box visible">
		<div class="row">
			<div class="search-query">
				<input class="country searchUserType" value="" type="text" placeholder="{{ pagecontent.fields.search|raw }}"/>
				<i class="icons"></i>
			</div>
		</div>

		<div class="row">
			<select class="user_gender" id="">
				<option value="0" class="toTranslate">_t_not_selected_t_</option>
				<option value="1" class="toTranslate">_t_man_t_</option>
				<option value="2" class="toTranslate">_t_woman_t_</option>
			</select>
		</div>

		{% for item in professions %}
			<div class="row row-checkbox"><input type="checkbox" class="specialist" value="{{ item._id }}" /><label class="description-checkbox">{% if item[langName] %}{{ item[langName] }}{% else %}{{ item.en }}{% endif %}</label></div>
		{% endfor %}
	</div><!-- .box -->

	<div class="box">
		<div class="row">
			<select class="pet_type" id="">
				<option value="cat" class="toTranslate">_t_cat_t_</option>
				<option value="dog" class="toTranslate">_t_dog_t_</option>
			</select>
		</div>

		<div class="row">
			<input type="text" id="breed" name="input_breed" list="breed_list" class="maxlength128">
			<datalist name="breed" id="breed_list">
			</datalist>
		</div>

		<script>
			$(".pet_type").change(function () {
				var val = $(".pet_type :selected").val();
				selectBreeds(val, "listBreed", "breed_list", "breed");
			});

			$("#breed").attr('placeholder', mypet_translate.translateByKey("_t_breed_t_"));
			selectBreeds('cat', "listBreed", "breed_list", "breed");
		</script>

		<div class="row">
			<div class="search-query">
				<input class="species searchPetType" value="" type="text" placeholder="{{ pagecontent.fields.search|raw }}"/>
				<i class="icons"></i>
			</div>
		</div>

		<div class="row">
			<select class="pet_gender" id="">
				<option value="0" class="toTranslate">_t_not_selected_t_</option>
				<option value="1" class="toTranslate">_t_he_t_</option>
				<option value="2" class="toTranslate">_t_she_t_</option>
			</select>
		</div>

		<div class="row row-checkbox"><input type="checkbox" class="status" value="looking_for_a_partner"/><label class="description-checkbox toTranslate">_t_looking_for_a_partner_t_</label></div>
		<div class="row row-checkbox"><input type="checkbox" class="status" value="need_help"/><label class="description-checkbox toTranslate">_t_need_help_t_</label></div>
		<div class="row row-checkbox"><input type="checkbox" class="status" value="looking_owner"/><label class="description-checkbox toTranslate">_t_looking_owner_t_</label></div>
		<div class="row row-checkbox"><input type="checkbox" class="status" value="waiting_for_offspring"/><label class="description-checkbox toTranslate">_t_waiting_for_offspring_t_</label></div>
		<div class="row row-checkbox"><input type="checkbox" class="status" value="lost"/><label class="description-checkbox toTranslate">_t_lost_t_</label></div>
		<div class="row row-checkbox"><input type="checkbox" class="status" value="''"/><label class="description-checkbox toTranslate">_t_none_t_</label></div>
	</div><!-- .box -->
</div>
</div><!-- .section -->