{% if profile.isYou or loggedIn == false %}
{% else %}
<div class="row module profile-main-actions" id="action_buttons">
	<a href="#" class="button green profile-message-send message_create"><span><i class="icons"></i></span></a>
	<a href="#" onclick='' class="button grey friend-status friend_button {% if isYouFriend %}{% if profile.status == 1 or profile.status == 3 %}friend{% elseif profile.status == 2 %}add{% else %}man{% endif %}{% else %}add{% endif %}"><!-- friend or add or man -->
                                <span>
                                    <i class="icons status-page"></i>
                                    <i class="icons man"></i>
                                </span>
	</a>
</div>

	<script>
		$('.message_create').click(function () {
			kmcore.api.message.create("{{ profile.id }}", function(data){
				if(data.success && data.response._id)
				{
					openPopup("mp_popup_new_message", "friendId={{ profile.id }}&dialogId="+data.response._id);
					return false;
				}
			});
		});

		$('.friend_button').click(function () {
			{% if isYouFriend %}{% if profile.status == 1 or profile.status == 3 %}kmcore.api.friend.deleteFriend("{{ profile.friendId }}"){% elseif profile.status == 2 %}kmcore.api.friend.confimFriend("{{ profile.friendId }}"){% endif %}("{{ profile.friendId }}"){% else %}kmcore.api.friend.addFriend("{{ profile.friendId }}"){% endif %}
		});
	</script>
{% endif %}