<div class="row page-content">

	{% if isMessages %}
	<a href="/message" class="return-message">{{ pagecontent.return_message.html|raw }}</a>
	<div class="section">
		<h2>{{ pagecontent.section.h2.html|raw }} <span id="page_count_message">({{ count }})</span></h2>
		<div class="section-body dialogues">
			<input type="hidden" value="{{ dialogId }}" id="dialogId">
			<div class="row add-massage">
				<div class="row">
					<div class="avatar base-avatar avatar-user">
						{% if profile.photo %}<img src="{{ profile.photo }}" alt=""/>{% endif %}
					</div>
					<div class="add-massage-body">
						<textarea id="text" placeholder="{{ pagecontent.section.body.add_massage.text.placeholder|raw }}"></textarea>
					</div>
				</div>

			</div>

			<div class="row send-massage">
				<div class="row">
					<button class="button green" onclick='kmcore.api.message.send($("#dialogId").val(), $("#text").val(), false);'>{{ pagecontent.section.body.send_massage.button.html|raw }}</button>
					{#<div class="smile" onclick='$("#text").val($("#text").val()+":)");'>#}
						{#<i class="icons"></i>#}
					{#</div>#}
				</div>
			</div>

			<div id="block_message" class="container_post row dialogues-list scroll-pane">
				{% for item in messages %}
				<div class="item_post dialogue-item" id="{{ item._id }}">
					<div class="avatar cover-avatar avatar-user">
						<a href="/user/{{ item.userId }}">
							{% if users[item.userId].profile.photo %}<img class="cover-avatar" src="{{ users[item.userId].profile.photo }}" alt=""/>{% endif %}
						</a>
					</div>
					<div class="dialogue-body">
						<div class="dialogue-content">
							<h3><a href="/user/{{ item.userId }}">{{ users[item.userId].profile.first_name }} {{ users[item.userId].profile.last_name }}</a></h3>
							<div class="content-message">
								<p class="txt" id="text_{{ item._id }}">{{ item.message|raw }}</p>
							</div>
						</div>
						<div class="dialogue-date-time" id="time_{{ item._id }}">

						</div>
						<script>
							var timestamp = {{ item.time }}000;
							var date = new Date();
							date.setTime(timestamp);
							$("#time_{{ item._id }}").append('<div class="date-time">'+date.getDate()+'/'+(date.getMonth()+1)+'/'+date.getFullYear()+'<span>'+date.getHours()+':'+date.getMinutes()+'</span></div>');
						</script>
					</div>
				</div><!-- .dialogue-item -->
				{% endfor %}
			</div><!-- .dialogues-list -->
			<div id="pagination_post">
				{% set last_page = pages %}
				{% for i in 0..last_page %}
					<a href="/message/{{ dialogId }}/{{ i }}" {% if page+1 == i %}class="next_post"{% endif %}>{{ i }}</a>
				{% endfor %}
			</div>
			<script>
				var ias = $.ias({
					container:  ".container_post",
					item:       ".item_post",
					pagination: "#pagination_post",
					next:       ".next_post"
				});

				ias.extension(new IASSpinnerExtension());            // shows a spinner (a.k.a. loader)
				ias.extension(new IASTriggerExtension({offset: 3})); // shows a trigger after page 3
				ias.extension(new IASNoneLeftExtension({
					text: 'There are no more pages left to load.'      // override text when no pages left
				}));
			</script>
<script>
	var isCtrl = false;
	$("#text").keyup(function(event) {
		if (event.which == 17) { // escape
			isCtrl = false;
		}
	}).keydown(function (event) {
				if(event.which == 17) isCtrl=true;
				else if(event.which == 13 && isCtrl == true) {
					kmcore.api.message.send($("#dialogId").val(), $("#text").val(), false);
				}
			});

	$(document).ready(function(){window.location.href = '#text';});
</script>
		</div>
	</div><!-- .section -->

	{% elseif isDialogs %}
		<div class="section">
		<h2>{{ pagecontent.section.h2.dialog|raw }} <span>({{ count }})</span></h2>
		<div class="section-body dialogues">

		<div class="row dialogues-list scroll-pane">
		{% for item in dialogs %}
			<div class="dialogue-item" id="{{ item._id }}">
				<div class="avatar base-avatar avatar-user">
				<a href="/message/{{ item._id }}">
					{% if item.user.profile.photo %}<img src="{{ item.user.profile.photo }}" alt=""/>{% endif %}
				</a>
				</div>

				<div class="dialogue-body">
					<h3><a href="/message/{{ item._id }}">{% if item.user.profile.last_name %}{{ item.user.profile.first_name }} {{ item.user.profile.last_name }}{% else %}{{ item._id }}{% endif %}</a><span class="new-message-icons"></span></h3>
					<div class="content-message">
						{% for elm in item.messages %}
							<div class="content-message-avatar">
								<a href="/user/{{ elm.userId }}">
									{% if users[elm.userId].profile.photo %}<img class="search-avatar" src="{{ users[elm.userId].profile.photo }}" alt=""/>{% endif %}
								</a>
							</div>
							<p class="content-description">{{ elm.message|raw }}</p>
							<div class="dialogue-date-time" id="time_{{ elm._id }}">
							</div>
							<script>
								var timestamp = {{ elm.time }}000;
								var date = new Date();
								date.setTime(timestamp);
								$("#time_{{ elm._id }}").append('<div class="date-time">'+date.getDate()+'/'+(date.getMonth()+1)+'/'+date.getFullYear()+'<span>'+date.getHours()+':'+date.getMinutes()+'</span></div>');
							</script>
						{% endfor %}
					</div>
				</div>
				<div class="close remove-dialog" id="{{ item._id }}"></div>
			</div><!-- .dialogue-item -->
		{% endfor %}
		</div><!-- .dialogues-list -->
			<div id="pagination_post">
			{% set last_page = pages %}
			{% for i in 0..last_page %}
			<a href="/message/{{ i }}" {% if page+1 == i %}class="next_post"{% endif %}>{{ i }}</a>
			{% endfor %}
			</div>
			<script>
			var ias = $.ias({
			container:  ".container_post",
			item:       ".item_post",
			pagination: "#pagination_post",
			next:       ".next_post"
			});

			ias.extension(new IASSpinnerExtension());            // shows a spinner (a.k.a. loader)
			ias.extension(new IASTriggerExtension({offset: 3})); // shows a trigger after page 3
			ias.extension(new IASNoneLeftExtension({
			text: 'There are no more pages left to load.'      // override text when no pages left
			}));

			$(".remove-dialog").click(function(){
				var dialogId = $(this).attr('id');
				kmcore.api.message.deleteDialog(dialogId)
			});
			</script>
		</div>
		</div><!-- .section -->
	{% endif %}

</div><!-- .page-content-->