<script>
	kmcore.api.ancestry.initAncestry("{{ me.id }}", "{{ me.type }}", "child", {{ isYou }});
	kmcore.api.ancestry.profiles = {{ profiles|json_encode|raw }};
</script>
<div class="row page-content">
	<ul class="pedigree-menu">
		<li><a href="/ancestry/{{ me.id }}" class="tooltip" title="{{ pagecontent.pedigree_menu.tooltip_parent }}">{{ pagecontent.pedigree_menu.parent }}</a></li>
		<li><a class="active tooltip" href="/ancestry/{{ me.id }}/child" title="{{ pagecontent.pedigree_menu.tooltip_child }}">{{ pagecontent.pedigree_menu.child }}</a></li>
	</ul>

	<div class="section">
		<h2>{{ pagecontent.h2.html }}</h2>

		<div class="section-body">
			<div class="children-page">
				{% if isYou %}
				<div class="add-children">
					<button class="button green" onclick='openPopup("mp_popup_ancestry_add_pet", "petId={{ me.id }}");return false;'>{{ pagecontent.pedigree_page.add_children }}</button>
				</div>
				{% endif %}
				<div class="children-list">
					{% for item in childs %}
					<div class="children-item">
						{% if item.status %}<div class="status toTranslate">_t_{{ item.status }}_t_</div>{% endif %}
						<a href="#" onclick='kmcore.api.ancestry.baseId = "{{ me.id }}"; openAncestryCardPopup("mp_popup_ancestry_card_pet", {{ item|json_encode }}, 570)'>
							<div class="img base-avatar avatar-{{ me.type }}">
								{% if item.photo %}<img alt="" src="{{ item.photo }}">{% endif %}
							</div>
							<div class="name">{{ item.hNick }}{% if item.gender %}<i class="icons {% if item.gender == 1 %}he{% else %}she{% endif %}"></i>{% endif %}</div>

							{% if  item.age %}
								<span class="description">
                                        {{ item.age }}
                                    </span>{% endif %}
							{% if  item.death_y %}<i class="icons status-pet died"></i>{% endif %}
						</a>
					</div><!-- .children-item -->
					{% endfor %}
				</div><!-- .children-list -->
			</div><!--children-page-->
		</div>
	</div>
	<!-- .section -->
</div>