<script>
	kmcore.api.ancestry.initAncestry("{{ me.id }}", "{{ me.type }}", "parent", {{ isYou }});
	kmcore.api.ancestry.profiles = {{ profiles|json_encode|raw }};
</script>
<div class="row page-content">
	<ul class="pedigree-menu">
		<li><a class="active tooltip" title="{{ pagecontent.pedigree_menu.tooltip_parent }}" href="/ancestry/{{ me.id }}">{{ pagecontent.pedigree_menu.parent }}</a></li>
		<li><a href="/ancestry/{{ me.id }}/child" class="tooltip" title="{{ pagecontent.pedigree_menu.tooltip_child }}">{{ pagecontent.pedigree_menu.child }}</a></li>
	</ul>

	<div class="section">
		<h2>{{ pagecontent.h2.html }}</h2>

		<div class="section-body">
			<div class="pedigree-page">
				<div class="level1">
					<a href="#" onclick='kmcore.api.ancestry.baseId = "{{ me.id }}"; openAncestryCardPopup("mp_popup_ancestry_card_pet", {{ me|json_encode }}, 570)'>
						<div class="img base-avatar avatar-{{ me.type }}">
							{% if me.photo %}<img height="219px" width="219px" alt="" src="{{ me.photo }}">{% endif %}
						</div>
						<div class="name">{{ me.hNick }}{% if me.gender %}<i class="icons {% if me.gender == 1 %}he{% else %}she{% endif %}"></i>{% endif %}</div>
						{% if  me.age %}
							<span class="description ancestry-age">
							{{ me.age }}
							</span>{% endif %}
						{% if  me.death_y %}<i class="icons status-pet died"></i>{% endif %}
					</a>
					{#<a href="add-parents.html" class="lightbox pedigree-add">#}
						{#<span class="icons"></span>#}
						{#<span>Додати</span>#}
					{#</a>#}
				</div>

				<div class="level2 father">
					{% if parents[me.fatherId] %}
					<a href="#" onclick='kmcore.api.ancestry.baseId = "{{ me.id }}"; openAncestryCardPopup("mp_popup_ancestry_card_pet", {{ parents[me.fatherId]|json_encode }}, 570)'>
						<div class="img base-avatar avatar-{{ me.type }}">
							{% if parents[me.fatherId].photo %}<img alt="" src="{{ parents[me.fatherId].photo }}">{% endif %}
						</div>
						<div class="name">{{ parents[me.fatherId].hNick }}{% if parents[me.fatherId].gender %}<i class="icons {% if parents[me.fatherId].gender == 1 %}he{% else %}she{% endif %}"></i>{% endif %}</div>

						{% if  parents[me.fatherId].age %}
							<span class="description ancestry-age">
                                         {{ parents[me.fatherId].age }}
                                    </span>{% endif %}
						{% if  parents[me.fatherId].death_y %}<i class="icons status-pet died"></i>{% endif %}
					</a>
					{% elseif isYou %}
						<a href="#" class="pedigree-add" onclick='openPopup("mp_popup_ancestry_add_pet", "petId={{ me.id }}&gender=1");return false;'>
							<span class="icons"></span>
							<span>{{ pagecontent.pedigree_page.add_father }}</span>
						</a>
					{% else %}
							<div class="img base-avatar avatar-{{ me.type }}">
							</div>
					{% endif %}
				</div>
				<div class="level2 mother">
					{% if parents[me.motherId] %}
					<a href="#" onclick='kmcore.api.ancestry.baseId = "{{ me.id }}"; openAncestryCardPopup("mp_popup_ancestry_card_pet", {{ parents[me.motherId]|json_encode }}, 570)'>
						<div class="img base-avatar avatar-{{ me.type }}">
							{% if parents[me.motherId].photo %}<img alt="" src="{{ parents[me.motherId].photo }}">{% endif %}
						</div>
						<div class="name">{{ parents[me.motherId].hNick }}{% if parents[me.motherId].gender %}<i class="icons {% if parents[me.motherId].gender == 1 %}he{% else %}she{% endif %}"></i>{% endif %}</div>

						{% if  parents[me.motherId].age %}
							<span class="description ancestry-age">
                                       {{ parents[me.motherId].age }}
                                    </span>{% endif %}
						{% if  parents[me.motherId].death_y %}<i class="icons status-pet died"></i>{% endif %}
					</a>
					{% elseif isYou %}
						<a href="#" class="pedigree-add" onclick='openPopup("mp_popup_ancestry_add_pet", "petId={{ me.id }}&gender=2");return false;'>
							<span class="icons"></span>
							<span>{{ pagecontent.pedigree_page.add_mother }}</span>
						</a>
					{% else %}
						<div class="img base-avatar avatar-{{ me.type }}">
						</div>
					{% endif %}
				</div>
				<div class="level3 father-father">
					{% if fatherParents[parents[me.fatherId].fatherId] %}
					<a href="#" onclick='kmcore.api.ancestry.baseId = "{{ me.fatherId }}"; openAncestryCardPopup("mp_popup_ancestry_card_pet", {{ fatherParents[parents[me.fatherId].fatherId]|json_encode }}, 570)'>
						<div class="img base-avatar avatar-{{ me.type }}">
							{% if fatherParents[parents[me.fatherId].fatherId].photo %}<img alt="" src="{{ fatherParents[parents[me.fatherId].fatherId].photo }}">{% endif %}
						</div>
						<div class="name">{{ fatherParents[parents[me.fatherId].fatherId].hNick }}{% if fatherParents[parents[me.fatherId].fatherId].gender %}<i class="icons {% if fatherParents[parents[me.fatherId].fatherId].gender == 1 %}he{% else %}she{% endif %}"></i>{% endif %}</div>

						{% if  fatherParents[parents[me.fatherId].fatherId].age %}
							<span class="description ancestry-age">
                                        {{  fatherParents[parents[me.fatherId].fatherId].age }}
                                    </span>{% endif %}
						{% if  fatherParents[parents[me.fatherId].fatherId].death_y %}<i class="icons status-pet died"></i>{% endif %}
					</a>
					{% elseif parents[me.fatherId] and isYou %}
						<a href="#" class="pedigree-add" onclick='openPopup("mp_popup_ancestry_add_pet", "petId={{ me.fatherId }}&gender=1");return false;'>
							<span class="icons"></span>
							<span>{{ pagecontent.pedigree_page.add_grandfather }}</span>
						</a>
					{% else %}
						<div class="img base-avatar avatar-{{ me.type }}">
						</div>
					{% endif %}
				</div>
				<div class="level3 mother-father">
					{% if fatherParents[parents[me.fatherId].motherId] %}
					<a href="#" onclick='kmcore.api.ancestry.baseId = "{{ me.fatherId }}"; openAncestryCardPopup("mp_popup_ancestry_card_pet", {{ fatherParents[parents[me.fatherId].motherId]|json_encode }}, 570)'>
						<div class="img base-avatar avatar-{{ me.type }}">
							{% if fatherParents[parents[me.fatherId].motherId].photo %}<img alt="" src="{{ fatherParents[parents[me.fatherId].motherId].photo }}">{% endif %}
						</div>
						<div class="name">{{ fatherParents[parents[me.fatherId].motherId].hNick }}{% if fatherParents[parents[me.fatherId].motherId].gender %}<i class="icons {% if fatherParents[parents[me.fatherId].motherId].gender == 1 %}he{% else %}she{% endif %}"></i>{% endif %}</div>

						{% if  fatherParents[parents[me.fatherId].motherId].age %}
							<span class="description ancestry-age">
                                       {{  fatherParents[parents[me.fatherId].motherId].age }}
                                    </span>{% endif %}
						{% if  fatherParents[parents[me.fatherId].motherId].death_y %}<i class="icons status-pet died"></i>{% endif %}
					</a>
					{% elseif parents[me.fatherId] and isYou %}
						<a href="#" class="pedigree-add" onclick='openPopup("mp_popup_ancestry_add_pet", "petId={{ me.fatherId }}&gender=2");return false;'>
							<span class="icons"></span>
							<span>{{ pagecontent.pedigree_page.add_grandmother }}</span>
						</a>
					{% else %}
						<div class="img base-avatar avatar-{{ me.type }}">
						</div>
					{% endif %}
				</div>
				<div class="level3 father-mother">
					{% if motherParents[parents[me.motherId].fatherId] %}
					<a href="#" onclick='kmcore.api.ancestry.baseId = "{{ me.motherId }}"; openAncestryCardPopup("mp_popup_ancestry_card_pet", {{ motherParents[parents[me.motherId].fatherId]|json_encode }}, 570)'>
						<div class="img base-avatar avatar-{{ me.type }}">
							{% if motherParents[parents[me.motherId].fatherId].photo %}<img alt="" src="{{ motherParents[parents[me.motherId].fatherId].photo }}">{% endif %}
						</div>
						<div class="name">{{ motherParents[parents[me.motherId].fatherId].hNick }}{% if motherParents[parents[me.motherId].fatherId].gender %}<i class="icons {% if motherParents[parents[me.motherId].fatherId].gender == 1 %}he{% else %}she{% endif %}"></i>{% endif %}</div>

						{% if  motherParents[parents[me.motherId].fatherId].age %}
							<span class="description ancestry-age">
                                        {{  motherParents[parents[me.motherId].fatherId].age }}
                                    </span>{% endif %}
						{% if  motherParents[parents[me.motherId].fatherId].death_y %}<i class="icons status-pet died"></i>{% endif %}
					</a>
					{% elseif parents[me.motherId] and isYou %}
						<a href="#" class="pedigree-add" onclick='openPopup("mp_popup_ancestry_add_pet", "petId={{ me.motherId }}&gender=1");return false;'>
							<span class="icons"></span>
							<span>{{ pagecontent.pedigree_page.add_grandfather }}</span>
						</a>
					{% else %}
						<div class="img base-avatar avatar-{{ me.type }}">
						</div>
					{% endif %}
				</div>
				<div class="level3 mother-mother">
					{% if motherParents[parents[me.motherId].motherId] %}
					<a href="#" onclick='kmcore.api.ancestry.baseId = "{{ me.motherId }}"; openAncestryCardPopup("mp_popup_ancestry_card_pet", {{ motherParents[parents[me.motherId].motherId]|json_encode }}, 570)'>
						<div class="img base-avatar avatar-{{ me.type }}">
							{% if motherParents[parents[me.motherId].motherId].photo %}<img alt="" src="{{ motherParents[parents[me.motherId].motherId].photo }}">{% endif %}
						</div>
						<div class="name">{{ motherParents[parents[me.motherId].motherId].hNick }}{% if motherParents[parents[me.motherId].motherId].gender %}<i class="icons {% if motherParents[parents[me.motherId].motherId].gender == 1 %}he{% else %}she{% endif %}"></i>{% endif %}</div>

						{% if  motherParents[parents[me.motherId].motherId].age %}
							<span class="description ancestry-age">
                                        {{  motherParents[parents[me.motherId].motherId].age }}
                                    </span>{% endif %}
						{% if  motherParents[parents[me.motherId].motherId].death_y %}<i class="icons status-pet died"></i>{% endif %}
					</a>
					{% elseif parents[me.motherId] and isYou %}
						<a href="#" class="pedigree-add" onclick='openPopup("mp_popup_ancestry_add_pet", "petId={{ me.motherId }}&gender=2");return false;'>
							<span class="icons"></span>
							<span>{{ pagecontent.pedigree_page.add_grandmother }}</span>
						</a>
					{% else %}
						<div class="img base-avatar avatar-{{ me.type }}">
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- .section -->
</div>
<!-- .page-content-->