<div class="row page-content">
	{% if loggedIn %}
		<a class="page-content-link" href="/search">{{ pagecontent.content_link.html|raw }}</a>
	{% endif %}

	<div class="section">
		<h2>{{ pagecontent.section.h2.html|raw }} <span>({{ count }})</span></h2>
		<div class="container_post section-body list-content">

			{% for item in friends %}
				<div class="item_post section list-content__item {% if (loop.index0 % 2) != 0  %}gray{% endif %}">
					<div class="list-content__photo">
						<a href="/user/{{ item.userId }}">
							<div class="cover-avatar avatar-user">
							<img class="cover-avatar" src="{% if item.profile.photo %}{{ item.profile.photo }}{% endif %}" alt=""/>
							{% if item.profile.isProf == "yes" %}<i class="icons"></i>{% endif %}
							</div>
						</a>
					</div>
					<div class="list-content__body">
						<h3><a href="/user/{{ item.userId }}">{{ item.profile.first_name }} {{ item.profile.last_name }}</a></h3>
						<div class="description">{% if item.profile.status %}{{ item.profile.status }},{% endif %} {{ item.profile.age }}</div>
						<div class="row">
							<ul class="list-content__pets ">
								{% for petId,pet in item.profile.pets_photo %}
									<li class="search-avatar avatar-{{ pet.type }}"><a href="/pet/{{ petId }}">{% if pet.photo %}<img src="{{ pet.photo }}" alt=""/>{% endif %}</a></li>
								{% endfor %}
							</ul>
						</div>

					</div>
					<div class="list-content__link">
						<ul>
							{% if isYou %}
							<li><a onclick='kmcore.api.message.create("{{ item.userId }}", function(data){
                                        if(data.success && data.response._id)
                                        {
                                            openPopup("mp_popup_new_message", "friendId={{ item.userId }}&dialogId="+data.response._id);
                                            return false;
                                        }
                                        });' href="#">{{ pagecontent.section.body.create|raw }}</a></li>
							<li><a href="#" onclick='kmcore.api.friend.deleteFriend("{{ item.userId }}")'>{{ pagecontent.section.body.deleteFriend|raw }}</a></li>
							{% endif %}
							{#<li><a href="/user/{{ item.userId }}">{{ pagecontent.section.body.view|raw }}</a></li>#}
						</ul>
					</div>
				</div><!--.list-content__item -->
			{% endfor %}
		</div><!-- .friends-list -->
		<div id="pagination_post">
			{% set last_page = pages %}
			{% for i in 0..last_page %}
				<a href="/friends/{{ userId }}/{{ i }}" {% if page+1 == i %}class="next_post"{% endif %}>{{ i }}</a>
			{% endfor %}
		</div>
		<script>
			var ias = $.ias({
				container:  ".container_post",
				item:       ".item_post",
				pagination: "#pagination_post",
				next:       ".next_post"
			});

			ias.extension(new IASSpinnerExtension());            // shows a spinner (a.k.a. loader)
			ias.extension(new IASTriggerExtension({offset: 3})); // shows a trigger after page 3
			ias.extension(new IASNoneLeftExtension({
				text: 'There are no more pages left to load.'      // override text when no pages left
			}));
		</script>
	</div><!-- .section -->
</div><!-- .page-content-->