{% if isYourPet %}
<div class="row page-content edit-page">
<a href="/pet/{{ pet.id }}" class="edit">{{ pagecontent.view.html|raw }}</a>
<form id="formEditPetData" method="POST" action="/petApi/editPetData" method="POST" onsubmit="return false;">
<div class="section">
	<h2>{{ pagecontent.section.h2.html|raw }}</h2>
	<div class="section-body">
		<input name="petId" value="{{ pet.id }}" type="hidden"/>
		<table>
			<tr>
				<td>{{ pagecontent.section.body.hNick|raw }}:</td>
				<td><input name="hNick" value="{{ pet.hNick}}" type="text" class="maxlength128"/></td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.type|raw }}:</td>
				<td>
					<select name="type" id="type">
						<option value="" class="toTranslate">_t_not_selected_t_</option>
						<option value="cat" {% if pet.type == "cat" %}selected=""{% endif %} class="toTranslate">_t_cat_t_</option>
						<option value="dog" {% if pet.type == "dog" %}selected=""{% endif %} class="toTranslate">_t_dog_t_</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.breed|raw }}:</td>
				<td id="listBreed">
					<input type="text" id="breed" name="input_breed" list="breed_list" class="maxlength128">
					<datalist name="breed" id="breed_list">
						<option value="" class="toTranslate">_t_not_selected_t_</option>
						{% for item in breeds %}
							<option value="{% if item[langName] %}{{ item[langName] }}{% else %}{{ item.en }}{% endif %}" id="{{ item._id }}"></option>
						{% endfor %}
					</datalist>
				</td>
			</tr>
			<script>
				$("#type").change(function () {
					var val = $("#type :selected").val();
					selectBreeds(val, "listBreed", "breed_list", "breed");
				});

				var valIdBreed = "{{ pet.breed }}";
				$("#breed").val($("#"+valIdBreed).val());
			</script>
			<tr>
				<td>{{ pagecontent.section.body.gender|raw }}:</td>
				<td>
					<select name="gender" id="">
						<option value="0" {% if pet.gender == 0 %}selected=""{% endif %} class="toTranslate">_t_gender_t_</option>
						<option value="1" {% if pet.gender == 1 %}selected=""{% endif %} class="toTranslate">_p_he_p_</option>
						<option value="2" {% if pet.gender == 2 %}selected=""{% endif %} class="toTranslate">_p_she_p_</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.birthday|raw }}:</td>
				<td>
					<input  autocomplete="off" class="birthday dateForm" name="birthday" type="text" value="{% if pet.birth_y and pet.birth_m and pet.birth_d %}{{ pet.birth_d }}/{{ pet.birth_m }}/{{ pet.birth_y }}{% endif %}"/>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.deathday|raw }}:</td>
				<td>
					<input  autocomplete="off" class="birthday dateForm" name="deathday" type="text" value="{% if pet.death_y and pet.death_m and pet.death_d %}{{ pet.death_d }}/{{ pet.death_m }}/{{ pet.death_y }}{% endif %}"/>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.country|raw }}:</td>
				<td>
					<input type="text" id="country" name="input_country" list="country_list" class="maxlength128">
					<datalist name="country" id="country_list">
						<option value=""></option>
						{% for country_l in countrys %}
							<option value="{% if country_l[langName] %}{{ country_l[langName] }}{% else %}{{ country_l.en }}{% endif %}" id="{{ country_l._id }}"></option>
						{% endfor %}
					</datalist>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.region|raw }}:</td>
				<td id="listRegion">
					<input type="text" id="region" name="input_region" list="region_list" class="maxlength128">
					<datalist name="region" id="region_list">
						<option value=""></option>
						{% for region_l in regions %}
							<option value="{% if region_l[langName] %}{{ region_l[langName] }}{% else %}{{ region_l.en }}{% endif %}" id="{{ region_l._id }}"></option>
						{% endfor %}
					</datalist>
				</td>
			</tr>

			<tr>
				<td>{{ pagecontent.section.body.city|raw }}:</td>
				<td id="listCity">
					<input type="text" id="city" name="input_city" list="city_list" class="maxlength128">
					<datalist name="city" id="city_list">
						<option value="" class="toTranslate">_t_not_selected_t_</option>
						{% for city_l in cities %}
							<option value="{% if city_l[langName] %}{{ city_l[langName] }}{% else %}{{ city_l.en }}{% endif %}" id="{{ city_l._id }}"></option>
						{% endfor %}
					</datalist>
				</td>
			</tr>

			<script>
				$("#country").change(function () {
					var valCountry = $("#country").val();
					selectRegions($('#country_list [value="'+valCountry+'"]').attr('id'));
				});
				$("#listRegion").change(function () {
					var valRegion = $("#region").val();
					selectCities($('#region_list [value="'+valRegion+'"]').attr('id'));
				});

				var valIdCountry = "{{ pet.country }}";
				$("#country").val($("#"+valIdCountry).val());
				var valIdRegion = "{{ pet.region }}";
				$("#region").val($("#"+valIdRegion).val());

				var valIdCity = "{{ pet.city }}";
				var valueCity = $("#"+valIdCity).val();
				if(valueCity)
				{
					$("#city").val(valueCity);
				}
				else
				{
					$("#city").val(valIdCity);
				}
			</script>
			{#<tr>#}
				{#<td>Місто:</td>#}
				{#<td>#}
					{#<input class="city" name="city" type="text" name="city" value="{{ city }}" placeholder="{{ city }}"/>#}
				{#</td>#}
			{#</tr>#}
			<tr>
				<td class="textarea">{{ pagecontent.section.body.signs|raw }}:</td>
				<td><textarea name="signs" class="maxlength248">{{ pet.signs }}</textarea></td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.marks|raw }}:</td>
				<td><input name="marks" value="{{ pet.marks }}" type="text" class="maxlength128"/></td>
			</tr>
		</table>
	</div>
</div><!-- .section -->

<div class="section">
	<h2>{{ pagecontent.section_1.h2.html|raw }}</h2>
	<div class="section-body">
		<table>
				<tr>
					<td>{{ pagecontent.section_1.body.owner|raw }}:</td>
					<td>
						<div class="link">
							<a href="#" class="add">
								<i class="icons"></i>
							</a>
							<div class="row">
							{% if owners %}
								{% for user in owners %}
								<div class="item">
									<input class="owner_hidden" name="owners[]" value="{% if user.id %}{{ user.id }}{% else %}{{ user.first_name }}{% endif %}" type="hidden"/>
									<input class="owner searchUser maxlength128" type="text" typeSearch="user" value="{{ user.first_name }} {{ user.last_name }}" type="text"/>
									<i class="icons"></i>
									<div class="result">
									</div>
									<a href="#" class="remove">
										<i class="icons"></i>
									</a>
								</div>
								{% endfor %}
							{% else %}
								<div class="item">
									<input class="owner_hidden" name="owners[]" value="" type="hidden"/>
									<input class="owner searchUser maxlength128" type="text" typeSearch="user" value="" type="text"/>
									<i class="icons"></i>
									<div class="result">
									</div>
									<a href="#" class="remove">
										<i class="icons"></i>
									</a>
								</div>
							{% endif %}
							</div>
						</div>
					</td>
				</tr>
			<tr>
				<td>{{ pagecontent.section_1.body.ringleader|raw }}:</td>
				<td>
					<div class="link">
						<div class="row">
							<div class="item">
								<input class="owner_hidden" name="ringleader" value="{% if ringleader.id %}{{ ringleader.id }}{% else %}{{ ringleader.first_name }}{% endif %}" type="hidden"/>
								<input class="owner searchUser maxlength128" type="text" typeSearch="user" value="{{ ringleader.first_name }} {{ ringleader.last_name }}" type="text"/>
								<i class="icons"></i>
								<div class="result">
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div><!-- .section -->

<div class="section">
	<h2>{{ pagecontent.section_2.h2.html|raw }}</h2>
	<div class="section-body">
		<table>
		{% for item in professions %}
			<tr>
				<td>{% if item[langName] %}{{ item[langName] }}{% else %}{{ item.en }}{% endif %}:</td>
				<td>
					<div class="link">
						<a href="#" class="add">
							<i class="icons"></i>
						</a>
						<div class="row">
							{% if specialists[item._id] %}
								{% for user in specialists[item._id] %}
									<div class="item" id="{{ item._id }}_{{ user.id }}">
										<input class="owner_hidden" name="{{ item._id }}[]" value="{% if user.id %}{{ user.id }}{% else %}{{ user.first_name }}{% endif %}" type="hidden"/>
										<input class="owner searchUser maxlength128" type="text" typeSearch="{{ item._id }}" value="{{ user.first_name }} {{ user.last_name }}" type="text"/>
										<i class="icons"></i>
										<div class="result">
										</div>
										<a href="#" class="remove">
											<i class="icons"></i>
										</a>
									</div>
								{% endfor %}
							{% else %}
								<div class="item" id="new_{{ item._id }}">
									<input class="owner_hidden" name="{{ item._id }}[]" value="" type="hidden"/>
									<input class="owner searchUser maxlength128" type="text" typeSearch="{{ item._id }}" value="" type="text"/>
									<i class="icons"></i>
									<div class="result">
									</div>
									<a href="#" class="remove">
										<i class="icons"></i>
									</a>
								</div>
							{% endif %}
						</div>
					</div>
				</td>
			</tr>
		{% endfor %}

		</table>
	</div>
</div><!-- .section -->

<div class="section">
	<h2>{{ pagecontent.section_3.h2.html|raw }}</h2>
	<div class="section-body">
		<table>
			<tr>
				<td>{{ pagecontent.section_3.body.nick|raw }}:</td>
				<td>
					<input type="text" name="nick" value="{{ nick }}" class="maxlength128"/>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section_3.body.ancestry_code|raw }}:</td>
				<td>
					<input type="text" name="ancestry_code" value="{{ ancestry_code }}" class="maxlength128"/>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section_3.body.chip|raw }}:</td>
				<td>
					<input type="text" name="chip" value="{{ chip }}" class="maxlength128"/>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section_3.body.passport|raw }}:</td>
				<td>
					<input type="text" name="passport" value="{{ passport }}" class="maxlength128"/>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section_3.body.color|raw }}:</td>
				<td>
					<input type="text" name="color" value="{{ color }}" class="maxlength128"/>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section_3.body.hair|raw }}:</td>
				<td>
					<input type="text" name="hair" value="{{ hair }}" class="maxlength128"/>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section_3.body.size|raw }}:</td>
				<td>
					<input type="text" name="size" value="{{ size }}" class="maxlength128"/>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section_3.body.weight|raw }}:</td>
				<td>
					<input type="text" name="weight" value="{{ weight }}" class="maxlength128"/>
				</td>
			</tr>
			<tr>
				<td class="textarea">{{ pagecontent.section_3.body.about|raw }}:</td>
				<td>
					<textarea name="about" class="maxlength248">{{ about }}</textarea>
				</td>
			</tr>

		</table>
	</div>
</div><!-- .section -->

<div class="section">
	<div class="section-body">
		<table>
			<tr>
				<td></td>
				<td><button class="button green">{{ pagecontent.button_save }}</button></td>
				<td class="toTranslate"><a href="#" onclick='kmcore.api.unlockRemove();openQuestion();return false;'>_t_remove_my_pet_t_</a></td>
			</tr>
			<tr>
				<td></td>
				<td><div class="message" id="responseEdit"></div></td>
			</tr>
		</table>
	</div>
</div><!-- .section -->
</form>
<script>
	$().ready(function() {
		// validate formLogin form on keyup and submit
		$("#formEditPetData").validate({
			rules: {
				input_country: {
					datalistCountry: true
				},
				input_region: {
					datalistRegion: true
				}
			},
			submitHandler: function(form) {
				mpEditPetData(form);
			}
		});
	});
</script>
</div><!-- .page-content-->
{% endif %}
<script>
	var html = '<div class="pop-up-form delete-card">';
	html += '<h2>{{ popup.h2.html|raw }}</h2>';
	html += '<form onsubmit="return false;">';
	html += '<div class="section">';
	html += '<div class="row">';
	html += '<div class="description">{{ popup.section.description.html|raw }}</div>';
	html += '</div>';
	html += '<div class="row">';
	html += '<button class="button green" onclick="location.reload();">'+mypet_translate.translateByKey("_t_no_t_")+'</button>';
	html += '<button class="button grey" onclick=\'kmcore.api.removeMyPet("{{ pet.id }}");\'>'+mypet_translate.translateByKey("_t_yes_t_")+'</button>';
	html += '</div>';
	html += '</div>';
	html += '</form>';
	html += '</div>';

	function openQuestion()
	{
		$.fancybox({
			content     : html,
			maxWidth	: 460,
			fitToView	: false,
			width		: '460px',
			height		: 'auto',
			autoSize	: false,
			closeClick	: false,
			openEffect	: 'fade',
			closeEffect	: 'fade',
			padding     : 0,
			closeBtn    : true,
			wrapCSS     : "spinner",
			helpers: {
				overlay: {
					locked: false
				}
			}
		});
	}
</script>