<div class="row page-content">
	{% if loggedIn %}
		<a class="page-content-link" href="/search">{{ pagecontent.content_link.html|raw }}</a>
	{% endif %}
	<div class="section">
		<h2>{{ pagecontent.section.h2.html|raw }} <span>({{ count }})</span></h2>
		<div class="container_post section-body list-content">

			{% for item in specialists %}
				<div class="item_post section list-content__item {% if (loop.index0 % 2) != 0  %}gray{% endif %}">
					<div class="list-content__photo">
						<a href="/user/{{ item.id }}">
							<div class="cover-avatar avatar-user">
							<img class="cover-avatar" src="{% if item.photo %}{{ item.photo }}{% endif %}" alt=""/>
							{% if item.isProf == "yes" %}<i class="icons"></i>{% endif %}
							</div>
						</a>
					</div>
					<div class="list-content__body">
						<h3><a href="/user/{{ item.id }}">{{ item.first_name }} {{ item.last_name }}</a></h3>
						<div class="description toTranslate">{% if item.profession %}{{ item.profession }}{% endif %} {{ item.age }}</div>
						<div class="row">
							{#<ul class="list-content__pets ">#}
								{#{% for petId,pet in item.pets_photo %}#}
									{#<li class="search-avatar avatar-{{ pet.type }}"><a href="/pet/{{ petId }}">{% if pet.photo %}<img src="{{ pet.photo }}" alt=""/>{% endif %}</a></li>#}
								{#{% endfor %}#}
							{#</ul>#}
						</div>

					</div>

					{% if isYourPet %}
					<div class="list-content__link">
						<ul>
							{% if item.id != userId %}
							<li><a onclick='kmcore.api.message.create("{{ item.id }}")' href="#">{{ pagecontent.section.body.create|raw }}</a></li>
							<li><a href="#" onclick='kmcore.api.friend.deleteFriend("{{ item.id }}")'>{{ pagecontent.section.body.deleteFriend|raw }}</a></li>
							{% endif %}
							{#<li><a href="/user/{{ item.userId }}">{{ pagecontent.section.body.view|raw }}</a></li>#}
						</ul>
					</div>
					{% endif %}
				</div><!--.list-content__item -->
			{% endfor %}
		</div><!-- .friends-list -->
	</div><!-- .section -->
</div><!-- .page-content-->