<div class="row page-content">
    <div class="section">
        <div class="container_post section-body list-content" id="search_body">
            {% if type == 'pet' %}
                {% for item in pets %}
                <div class="item_post section list-content__item {% if (loop.index0 % 2) != 0 %}gray{% endif %}">
                    <div class="list-content__photo">
                        <a href="/pet/{{ item.id }}">
                            <div class="cover-avatar avatar-{{ item.type }}">
                                {% if item.photo %}<img
                                    style="width: 100px; height: 100px;  -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius:10px; border-radius: 10px;"
                                    class="cover-avatar" src="{{ item.photo }}"
                                    alt=""/>{% endif %}
                                {#<i class="icons"></i>#}
                            </div>
                        </a>
                    </div>
                    <div class="list-content__body">
                        <h3><a href="/pet/{{ item.id }}">{{ item.hNick }}</a></h3>

                        <div id="gender_{{ item.id }}" class="description toTranslate"></div>
                        {#<div class="description toTranslate">_t_{{ item.status }}_t_</div>#}
                        <div class="description">{{ item.render_city }}</div>
                        <div class="description">{{ item.breed }}</div>
                        <div class="description">{{ item.age }}</div>

                        <div class="row">
                            <ul class="list-content__users">
                                {% for user in item.users %}
                                    <li class="search-avatar avatar-user">
                                        <a href="/user/{{ user.id }}">{% if user.photo %}<img
                                                style="width: 40px; height: 40px" src="{{ user.photo }}"
                                                alt=""/>{% endif %}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="list-content__link">
                        <ul>
                        </ul>
                    </div>
                </div><!--.list-content__item -->
                <script>
                    var gender = {% if item.gender == 1 %}"_t_he_t_"
                    {% elseif item.gender == 2 %}"_t_she_t_"
                    {% else %}"_t__t_"{% endif %};
                    var gender_render = mypet_translate.translateByKey(gender);
                    $("#gender_{{ item.id }}").html(gender_render);
                </script>
                {% endfor %}
            {% else %}
                {% for item in users %}
                <div class="item_post section list-content__item {% if (loop.index0 % 2) != 0 %}gray{% endif %}">
                    <div class="list-content__photo">
                        <a href="/user/{{ item.id }}">
                            <div class="cover-avatar avatar-user">
                                {% if item.photo %}<img class="cover-avatar" src="{{ item.photo }}" alt=""/>{% endif %}
                                {% if item.isProf == "yes" %}<i class="icons"></i>{% endif %}
                            </div>
                        </a>
                    </div>
                    <div class="list-content__body">
                        <h3><a href="/user/{{ item.id }}">{{ item.first_name }} {{ item.last_name }}</a></h3>
                        {% if item.isProf == "yes" %}
                        <div id="profession_{{ item.id }}" class="description toTranslate"></div>{% endif %}
                        <div id="gender_{{ item.id }}" class="description toTranslate"></div>
                        <div class="description">{{ item.render_city }}</div>

                        <div class="row">
                            <ul class="list-content__pets">
                                {% for pet in item.pets %}
                                    <li class="search-avatar avatar-{{ pet.type }}">
                                        <a href="/pet/{{ pet.id }}">{% if pet.photo %}<img src="{{ pet.photo }}"
                                                                                           alt=""/>{% endif %}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="list-content__link">
                        <ul>
                        </ul>
                    </div>
                </div><!--.list-content__item -->
                <script>
                    var gender = {% if item.gender == 1 %}"_t_man_t_"
                    {% elseif item.gender == 2 %}"_t_woman_t_"
                    {% else %}"_t__t_"{% endif %};
                    var gender_render = mypet_translate.translateByKey(gender);
                    $("#gender_{{ item.id }}").html(gender_render);

                    {% if item.isProf == "yes" %}
                    var profession = "_t_{{ item.profession }}_t_";
                    var profession_render = mypet_translate.translateByKey(profession);

                    $("#profession_{{ item.id }}").html(profession_render);
                    {% endif %}

                </script>
                {% endfor %}
            {% endif %}
        </div>
        <!-- .friends-list -->
        {% if item %}
            <div id="pagination_post">
                {% set last_page = pages %}
                {% for i in 0..last_page %}
                    <a href="/search/{{ i }}?type={{ type }}&query={{ query }}"
                       {% if page+1 == i %}class="next_post"{% endif %}>{{ i }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <!-- .section -->
</div><!-- .page-content-->
{#<script>mypet_translate.findAndTranslate();</script>#}