<div class="row page-content">

	<a href="/" class="return-message">{{ pagecontent.return_message.html|raw }}</a>

	<div class="section">
		<h2>{{ pagecontent.section.h2.html|raw }}</h2>
		<div class="section-body dialogues">

			<div class="row dialogues-list scroll-pane">
				{% for item in requests %}
					<div class="dialogue-item" id="item_{{ item.type }}{{ item.date }}">
						{% if item.type == 'invite_confirm' %}
							<div class="avatar search-avatar avatar-user">
								<a href="/user/{{ item.attributes.payload.id }}">
									{% if item.attributes.payload.photo %}<img class="search-avatar" src="{{ item.attributes.payload.photo }}" alt=""/>{% endif %}
								</a>
							</div>
							<div class="dialogue-body">
								<div class="dialogue-content">
									<h3><a href="/user/{{ item.attributes.payload.id }}">{{ item.attributes.first_name }} {{ item.attributes.last_name }}</a></h3>
									<div class="content-message">
										<p class="toTranslate" id="{{ item.id }}">_t_{{ item.type }}_t_</p>
										<script>
											var id = "{{ item.id }}";
											var text = mypet_translate.translateByKey("_t_{{ item.type }}_t_");
											var payload = {{ item.attributes.payload|json_encode|raw }};
											text = sprintf(text, payload);

											var html = $("#"+id).html().replace(new RegExp("_t_{{ item.type }}_t_", 'g'), text);
											$("#"+id).html(html);
										</script>
									</div>
								</div>
								<div class="dialogue-date-time" id="time_{{ item.type }}{{ item.date }}">

									<div><a href="#" onclick='kmcore.api.inbox.collectRequest("{{ item.id }}", function(){$("#item_{{ item.type }}{{ item.date }}").remove();})' class="toTranslate">_t_confirm_t_</a></div>
									<div><a href="#" onclick='kmcore.api.inbox.removeRequest("{{ item.id }}", function(){$("#item_{{ item.type }}{{ item.date }}").remove();})' class="toTranslate">_t_cancel_t_</a></div>
								</div>
								<script>
									var timestamp = {{ item.date }}000;
									var date = new Date();
									date.setTime(timestamp);
									$("#time_{{ item.type }}{{ item.date }}").append('<div class="date-time">'+date.getDate()+'/'+(date.getMonth()+1)+'/'+date.getFullYear()+'<span>'+date.getHours()+':'+date.getMinutes()+'</span></div>');
								</script>
							</div>
						{% elseif item.type == 'ancestry_rem_relation_confirm' or item.type == 'ancestry_add_relation_confirm' %}
							<div class="avatar search-avatar avatar-user">
								<a href="/user/{{ item.attributes.payload.user.id }}">
									{% if item.attributes.payload.user.photo %}<img class="search-avatar" src="{{ item.attributes.payload.user.photo }}" alt=""/>{% endif %}
								</a>
							</div>
							<div class="dialogue-body">
								<div class="dialogue-content">
									<h3><a href="/user/{{ item.attributes.payload.user.id }}">{{ item.attributes.payload.user.first_name }} {{ item.attributes.payload.user.last_name }}</a></h3>
									<div class="content-message">
										<p class="toTranslate" id="{{ item.id }}">_t_{{ item.type }}_t_</p>
										<script>
											var id = "{{ item.id }}";
											var text = mypet_translate.translateByKey("_t_{{ item.type }}_t_");
											var payload = {{ item.attributes.payload|json_encode|raw }};

											var petId = payload.pet.id;
											var petRelationId = payload.petRelation.id;

											if(payload.pet.hasOwnProperty("gag"))
											{
												payload.pet.href = '#';
											}
											else
											{
												payload.pet.href = '/pet/'+petId;
											}

											if(payload.petRelation.hasOwnProperty("gag"))
											{
												payload.petRelation.href = '#';
											}
											else
											{
												payload.petRelation.href = '/pet/'+petRelationId;
											}

											text = sprintf(text, payload);

											var html = $("#"+id).html().replace(new RegExp("_t_{{ item.type }}_t_", 'g'), text);
											$("#"+id).html(html);
										</script>
									</div>
								</div>
								<div class="dialogue-date-time" id="time_{{ item.type }}{{ item.date }}">

									<div><a href="#" onclick='kmcore.api.inbox.collectRequest("{{ item.id }}", function(){$("#item_{{ item.type }}{{ item.date }}").remove();})' class="toTranslate">_t_confirm_t_</a></div>
									<div><a href="#" onclick='kmcore.api.inbox.removeRequest("{{ item.id }}", function(){$("#item_{{ item.type }}{{ item.date }}").remove();})' class="toTranslate">_t_cancel_t_</a></div>
								</div>
								<script>
									var timestamp = {{ item.date }}000;
									var date = new Date();
									date.setTime(timestamp);
									$("#time_{{ item.type }}{{ item.date }}").append('<div class="date-time">'+date.getDate()+'/'+(date.getMonth()+1)+'/'+date.getFullYear()+'<span>'+date.getHours()+':'+date.getMinutes()+'</span></div>');
								</script>
							</div>
                        {% else %}
                            <div class="avatar search-avatar avatar-user">
                                <a href="/user/{{ item.attributes.payload.id }}">
                                    {% if item.attributes.payload.photourl %}<img class="search-avatar" src="{{ item.attributes.payload.photourl }}" alt=""/>{% endif %}
                                </a>
                            </div>
                            <div class="dialogue-body">
                                <div class="dialogue-content">
                                    <h3><a href="/user/{{ item.attributes.payload.id }}">{{ item.attributes.payload.first_name }} {{ item.attributes.payload.last_name }}</a></h3>
                                    <div class="content-message">
                                        <p class="toTranslate" id="{{ item.attributes.uniqid }}"></p>
                                        <script>
                                            var id = "{{ item.id }}";
                                            var uniqid = "{{ item.attributes.uniqid }}";
                                            var type = "{{ item.type }}";
                                            var text = mypet_translate.translateByKey("_t_{{ item.type }}_{{ item.attributes.type }}_t_");
                                            var payload = {{ item.attributes.payload|json_encode|raw }};

                                            text = sprintf(text, payload);

                                            {#var html = $("#"+id).html().replace(new RegExp("_t_{{ item.type }}_{{ item.attributes.type }}_t_", 'g'), text);#}
                                            $("#"+uniqid).html(text);
                                        </script>
                                    </div>
                                </div>
                                <div class="dialogue-date-time" id="time_{{ item.attributes.uniqid }}">

                                    <div><a href="#" onclick='kmcore.api.inbox.collectRequest("{{ item.id }}", function(){$("#item_{{ item.type }}{{ item.date }}").remove();})' class="toTranslate">OK</a></div>
                                    {#<div><a href="#" onclick='kmcore.api.inbox.removeRequest("{{ item.id }}", function(){$("#item_{{ item.id }}").remove();})' class="toTranslate">_t_cancel_t_</a></div>#}
                                </div>
                                <script>
                                    var timestamp = {{ item.date }}000;
                                    var date = new Date();
                                    date.setTime(timestamp);
                                    $("#time_{{ item.attributes.uniqid }}").append('<div class="date-time">'+date.getDate()+'/'+(date.getMonth()+1)+'/'+date.getFullYear()+'<span>'+date.getHours()+':'+date.getMinutes()+'</span></div>');
                                </script>
                            </div>
						{% endif %}
					</div><!-- .dialogue-item -->
				{% endfor %}

			</div><!-- .dialogues-list -->
		</div>
	</div><!-- .section -->
</div><!-- .page-content-->