<div class="row page-menu">
	<ul>
		{% for item in menu %}
			<li><a {% if item.name == current %}class="active"{% endif %} href="{{ item.href }}">{{ item.title }}</a></li>
		{% endfor %}
	</ul>
</div>