<div id="page_name">
	<p>
		{{ page_name }}
	</p>
</div>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		{% for item in faqs %}
			<li><a {% if loop.index0 == 0%}class="selected"{% endif %} href="#{{ item.priority }}">{{ item.title|raw }}</a></li>
		{% endfor %}
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		{% for item in faqs %}
			<ul id="{{ item.priority }}" class="cd-faq-group">
				<li class="cd-faq-title"><h2>{{ item.title|raw }}</h2></li>
				{{ item.text|raw }}
			</ul> <!-- cd-faq-group -->
		{% endfor %}
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->