	<div class="row page-content">
		{% if isYourPet %}<a href="/pet/{{ pet.id }}/edit" class="edit">{{ pagecontent.edit.html|raw }}</a>{% endif %}
		<div class="section">
			<h2>{{ pagecontent.section.h2.html|raw }}</h2>
			<div class="section-body">
				<table>
					{% if pet.hNick %}
					<tr>
						<td>{{ pagecontent.section.body.hNick|raw }}:</td>
						<td>{{ pet.hNick }}</td>
					</tr>
					{% endif %}
					{% if pet.type %}
					<tr>
						<td>{{ pagecontent.section.body.type|raw }}:</td>
						<td class="toTranslate">_t_{{ pet.type }}_t_</td>
					</tr>
					{% endif %}
					{% if pet.breed %}
					<tr>
						<td>{{ pagecontent.section.body.breed|raw }}:</td>
						<td>{{ pet.breed_translate }}</td>
					</tr>
					{% endif %}
					{% if pet.gender %}
					<tr>
						<td>{{ pagecontent.section.body.gender|raw }}:</td>
						<td class="toTranslate">_p_{{ pet.gender_name }}_p_</td>
					</tr>
					{% endif %}
					{% if pet.birth_y > 0 %}
					<tr>
						<td>{{ pagecontent.section.body.birthday|raw }}:</td>
						<td>{{ pet.birth_d }}/{{ pet.birth_m }}/{{ pet.birth_y }}</td>
					</tr>
					{% endif %}
					{% if pet.death_y > 0 %}
					<tr>
						<td>{{ pagecontent.section.body.deathday|raw }}:</td>
						<td>{{ pet.death_d }}/{{ pet.death_m }}/{{ pet.death_y }}</td>
					</tr>
					{% endif %}
					{% if pet.country_render %}
					<tr>
						<td>{{ pagecontent.section.body.country|raw }}:</td>
						<td>{{ pet.country_render }}</td>
					</tr>
					{% endif %}
					{% if pet.region_render %}
						<tr>
							<td>{{ pagecontent.section.body.region|raw }}:</td>
							<td>{{ pet.region_render }}</td>
						</tr>
					{% endif %}
					{% if pet.city_render %}
						<tr>
							<td>{{ pagecontent.section.body.city|raw }}:</td>
							<td>{{ pet.city_render }}</td>
						</tr>
					{% endif %}
					{% if pet.signs %}
					<tr>
						<td>{{ pagecontent.section.body.signs|raw }}:</td>
						<td>{{ pet.signs }}</td>
					</tr>
					{% endif %}
					{% if pet.marks %}
					<tr>
						<td>{{ pagecontent.section.body.marks|raw }}:</td>
						<td>{{ pet.marks }}</td>
					</tr>
					{% endif %}
				</table>
			</div>
		</div><!-- .section -->

		{% if (owners or ringleader.last_name) %}
		<div class="section">
			<h2>{{ pagecontent.section_1.h2.html|raw }}</h2>
			<div class="section-body">
				<table>
					{% for item in owners %}
						<tr>
							<td>{{ pagecontent.section_1.body.owner|raw }}:</td>
							{% if item.id %}
								<td><a href="/user/{{ item.id }}">{{ item.first_name }} {{ item.last_name }}</a></td>
							{% else %}
								<td>{{ item.first_name }}</td>
							{% endif %}
						</tr>
					{% endfor %}
					{% if ringleader.last_name %}
					<tr>
						<td>{{ pagecontent.section_1.body.ringleader|raw }}:</td>
						{% if ringleader.id %}
						<td><a href="/user/{{ ringleader.id }}">{{ ringleader.first_name }} {{ ringleader.last_name }}</a></td>
						{% else %}
							<td>{{ ringleader.first_name }}</td>
						{% endif %}
					</tr>
					{% endif %}
				</table>
			</div>
		</div><!-- .section -->
		{% endif %}

		{% if specialists %}
		<div class="section">
			<h2>{{ pagecontent.section_2.h2.html|raw }}</h2>
			<div class="section-body">
				<table>
					{% for type, users in specialists %}
						{% for user in users %}
							<tr>
								<td>{{ user.profession }}:</td>
								{% if user.id %}
								<td><a href="/user/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
								{% else %}
									<td>{{ user.first_name }}</td>
								{% endif %}
							</tr>
						{% endfor %}
					{% endfor %}
				</table>
			</div>
		</div><!-- .section -->
		{% endif %}

		<div class="section">
			<h2>{{ pagecontent.section_3.h2.html|raw }}</h2>
			<div class="section-body">
				<table>
					{% if pet.nick %}
					<tr>
						<td>{{ pagecontent.section_3.body.nick|raw }}:</td>
						<td>{{ pet.nick }}</td>
					</tr>
					{% endif %}
					{% if pet.ancestry_code %}
					<tr>
						<td>{{ pagecontent.section_3.body.ancestry_code|raw }}:</td>
						<td>{{ pet.ancestry_code }}</td>
					</tr>
					{% endif %}
					{% if pet.chip %}
						<tr>
							<td>{{ pagecontent.section_3.body.chip|raw }}:</td>
							<td>{{ pet.chip }}</td>
						</tr>
					{% endif %}
					{% if pet.passport %}
					<tr>
						<td>{{ pagecontent.section_3.body.passport|raw }}:</td>
						<td>{{ pet.passport }}</td>
					</tr>
					{% endif %}
					{% if pet.color %}
					<tr>
						<td>{{ pagecontent.section_3.body.color|raw }}:</td>
						<td>{{ pet.color }}</td>
					</tr>
					{% endif %}
					{% if pet.hair %}
					<tr>
						<td>{{ pagecontent.section_3.body.hair|raw }}:</td>
						<td>{{ pet.hair }}</td>
					</tr>
					{% endif %}
					{% if pet.size %}
					<tr>
						<td>{{ pagecontent.section_3.body.size|raw }}:</td>
						<td>{{ pet.size }}</td>
					</tr>
					{% endif %}
					{% if pet.weight %}
					<tr>
						<td>{{ pagecontent.section_3.body.weight|raw }}:</td>
						<td>{{ pet.weight }}</td>
					</tr>
					{% endif %}
					{% if pet.about %}
					<tr>
						<td>{{ pagecontent.section_3.body.about|raw }}:</td>
						<td>{{ pet.about }}</td>
					</tr>
					{% endif %}
				</table>
			</div>
		</div><!-- .section -->

	</div><!-- .page-content-->