{% if profile.isYou %}
<div class="row page-content edit-page">
<a href="/user/me/view" class="edit">{{ pagecontent.view.html|raw }}</a>

<form id="formEditUserData" method="POST" action="/userApi/editUserData" method="POST" onsubmit="return false;">
<div class="section">
	<h2>{{ pagecontent.section.h2.html|raw }}</h2>
	<div class="section-body">
		<table>
			<tr>
				<td>{{ pagecontent.section.body.gender|raw }}:</td>
				<td>
					<select name="gender">
						<option value="0"{% if profile.gender == 0 %}selected{% endif %} class="toTranslate">_t_not_selected_t_</option>
						<option value="1" {% if profile.gender == 1 %}selected{% endif %} class="toTranslate">_t_man_t_</option>
						<option value="2"{% if profile.gender == 2 %}selected{% endif %} class="toTranslate">_t_woman_t_</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.birthday|raw }}:</td>
				<td><input type="text" autocomplete="off" class="birthday dateForm" name="birthday" value="{% if profile.birth_y and profile.birth_m and profile.birth_d %}{{ profile.birth_d }}/{{ profile.birth_m }}/{{ profile.birth_y }}{% endif %}"/></td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.user_country|raw }}:</td>
				<td>
					<input type="text" id="country" name="input_country" list="country_list">
					<datalist name="country" id="country_list" class="maxlength128">
						{% for country_l in countrys %}
							<option value="{% if country_l[langName] %}{{ country_l[langName] }}{% else %}{{ country_l.en }}{% endif %}" id="{{ country_l._id }}"></option>
						{% endfor %}
					</datalist>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.region|raw }}:</td>
				<td id="listRegion">
					<input type="text" id="region" name="input_region" list="region_list">
					<datalist name="region" id="region_list" class="maxlength128">
						<option value="" class="toTranslate">_t_not_selected_t_</option>
						{% for region_l in regions %}
							<option value="{% if region_l[langName] %}{{ region_l[langName] }}{% else %}{{ region_l.en }}{% endif %}" id="{{ region_l._id }}"></option>
						{% endfor %}
					</datalist>
				</td>
			</tr>

			<tr>
				<td>{{ pagecontent.section.body.city|raw }}:</td>
				<td id="listCity">
					<input type="text" id="city" name="input_city" list="city_list" class="maxlength128">
					<datalist name="city" id="city_list">
						<option value="" class="toTranslate">_t_not_selected_t_</option>
						{% for city_l in cities %}
							<option value="{% if city_l[langName] %}{{ city_l[langName] }}{% else %}{{ city_l.en }}{% endif %}" id="{{ city_l._id }}"></option>
						{% endfor %}
					</datalist>
				</td>
			</tr>

			<script>
				$("#country").change(function () {
					var valCountry = $("#country").val();
					selectRegions($('#country_list [value="'+valCountry+'"]').attr('id'));
				});
				$("#listRegion").change(function () {
					var valRegion = $("#region").val();
					selectCities($('#region_list [value="'+valRegion+'"]').attr('id'));
				});

				var valIdCountry = "{{ profile.user_country }}";
				$("#country").val($("#"+valIdCountry).val());
				var valIdRegion = "{{ profile.region }}";
				$("#region").val($("#"+valIdRegion).val());

				var valIdCity = "{{ profile.city }}";
				var valueCity = $("#"+valIdCity).val();
				if(valueCity)
				{
					$("#city").val(valueCity);
				}
				else
				{
					$("#city").val(valIdCity);
				}
			</script>
			{#<tr>#}
				{#<td>Місто:</td>#}
				{#<td>#}
					{#<input class="city" name="city" type="text" name="city" value="{{ profile.city }}" placeholder="{{ profile.city }}"/>#}
				{#</td>#}
			{#</tr>#}
			<tr>
				<td>{{ pagecontent.section.body.phone|raw }}:</td>
				<td>
					<div class="link">
						<a href="#" class="add">
							<i class="icons"></i>
						</a>
						<div class="row">
							{% if profile.phone %}
								{% for item in profile.phone %}
									<div class="item">
										<input type="text" name="phone[]" value="{{ item }}" class="phone maxlength128"/>
										<a href="#" class="remove">
											<i class="icons"></i>
										</a>
									</div>
								{% endfor %}
							{% else %}
								<div class="item">
									<input type="text" name="phone[]" class="phone maxlength128"/>
									<a href="#" class="remove">
										<i class="icons"></i>
									</a>
								</div>
							{% endif %}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>{{ pagecontent.section.body.socLinks|raw }}:</td>
				<td>
					<div class="link">
						<a href="#" class="add">
							<i class="icons"></i>
						</a>
						<div class="row">
							{% if profile.socLinks %}
							{% for item in profile.socLinks %}
								<div class="item">
									<input type="text" name="socLinks[]" value="{{ item }}" class="maxlength128"/>
									<a href="#" class="remove">
										<i class="icons"></i>
									</a>
								</div>
							{% endfor %}
							{% else %}
								<div class="item">
									<input type="text" name="socLinks[]" class="maxlength128"/>
									<a href="#" class="remove">
										<i class="icons"></i>
									</a>
								</div>
							{% endif %}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="textarea">{{ pagecontent.section.body.about|raw }}:</td>
				<td><textarea name="about" class="maxlength248">{{ profile.about }}</textarea></td>
			</tr>
		</table>
	</div>
</div><!-- .section -->

<div class="section organization-body" >
	<h2 class="toTranslate">_t_organization_t_</h2>
	<div class="section-body">
		<div class="section">
			<div class="row" key="organizations">
				{% if works.organization.work %}
				{% for item in works.organization.work %}
					<div class="item organizations" id="{{ item._id }}">
						<a href="#" class="remove">
							<i class="icons"></i>
						</a>
						<table>
							<input type="hidden" name="_id" value="{{ item._id }}"/>
							<tr>
								<td class="toTranslate">_t_name_t_:</td>
								<td><input type="text" name="name" value="{{ item.name }}" class="maxlength128"/></td>
							</tr>
							<tr>
								<td class="toTranslate">_t_period_t_:</td>
								<td class="dateRangeFrom">
									<div class="field"><span class="toTranslate">_t_from_t_</span><input autocomplete="off" id="{{ item._id }}_organization" class="from_date" type="text" name="birthday_s" value="{% if item.start_y and item.start_m and item.start_d %}{{ item.start_d }}/{{ item.start_m }}/{{ item.start_y }}{% endif %}"/></div>
									<div class="field"><span class="toTranslate">_t_on_t_</span><input autocomplete="off" id="{{ item._id }}_organization_to" class="to_date" type="text" name="birthday_e" value="{% if item.end_y and item.end_m and item.end_d %}{{ item.end_d }}/{{ item.end_m }}/{{ item.end_y }}{% endif %}"/></div>
								</td>
							</tr>
						</table>
					</div>
				{% endfor %}
				{% else %}
					<div class="item organizations" id="rnd_0">
						<a href="#" class="remove">
							<i class="icons"></i>
						</a>
						<table>
							<tr>
								<td class="toTranslate">_t_name_t_:</td>
								<td><input type="text" name="name" value="" class="maxlength128"/></td>
							</tr>
							<tr>
								<td class="toTranslate">_t_period_t_:</td>
								<td class="dateRangeFrom">
									<div class="field"><span class="toTranslate">_t_from_t_</span><input autocomplete="off" id="new_organization" class="from_date" type="text" name="birthday_s"/></div>
									<div class="field"><span class="toTranslate">_t_on_t_</span><input autocomplete="off" id="new_organization_to" class="to_date" type="text" name="birthday_e"/></div>
								</td>
							</tr>
						</table>
					</div>
				{% endif %}
			</div>
			<a class="add addUserBlock toTranslate" href="#"><i class="icons"></i>_t_add_more_t_</a>
		</div><!-- .section -->
	</div>
</div><!-- .section -->

<div class="section">
	<div class="section-body">
		<label class="specialist-checkbox" >
			<input type="checkbox" name="isSpecialist" {% if profile.isSpecialist %}checked{% endif %}/>
			<h3>{{ pagecontent.isSpecialist.html|raw }}</h3>
		</label>
	</div>
</div><!-- .section -->
<div class="section specialist-body">
<h2>{{ pagecontent.view.html|raw }}</h2>
<div class="section-body">
	<table>
<tr>
	<td class="toTranslate">_t_general_profession_t_:</td>
	<td class="tooltip" title="{{ pagecontent.view.tooltip}}">
		<select name="profession">
			{% for item in professions %}
				<option value="{{ item._id }}" {% if profile.profession == item._id %}selected{% endif %}>{% if item[langName] %}{{ item[langName] }}{% else %}{{ item.en }}{% endif %}</option>
			{% endfor %}
		</select>
		{#<input type="text" class="profession" name="profession" value="{{ profile.profession }}"/>#}
	</td>
</tr>
<tr>
	<td class="toTranslate">_t_skills_t_:</td>
	<td>
		<div class="link">
			<a href="#" class="add">
				<i class="icons"></i>
			</a>
			<div class="row">
				{% if profile.skills %}
					{% for item in profile.skills %}
						<div class="item">
							<input type="text" name="skills[]" value="{{ item }}" class="maxlength128"/>
							<a href="#" class="remove">
								<i class="icons"></i>
							</a>
						</div>
					{% endfor %}
				{% else %}
					<div class="item">
						<input type="text" name="skills[]" class="maxlength128"/>
						<a href="#" class="remove">
							<i class="icons"></i>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</td>
	</table>
</div>
</div><!-- .section -->

<div class="section specialist-body">
	<div class="section">
		<h2 class="toTranslate">_t_specialization_t_</h2>
		<div class="section-body">
			<div class="section">
				<div class="row" key="specializations">
					{% if works.specialization.work %}
						{% for item in works.specialization.work %}
							<div class="item specializations" id="{{ item._id }}">
								<a href="#" class="remove">
									<i class="icons"></i>
								</a>
								<table>
									<input type="hidden" name="_id" value="{{ item._id }}"/>
									<tr>
										<td class="toTranslate">_t_name_t_:</td>
										<td><input type="text" name="name" value="{{ item.name }}" class="maxlength128"/></td>
									</tr>
									<tr>
										<td class="toTranslate">_t_type_t_:</td>
										<td><input type="text" name="type" value="{{ item.params[0].value }}" class="maxlength128"/></td>
									</tr>
									<tr>
										<td class="toTranslate">_t_breed_t_:</td>
										<td><input type="text" name="breed" value="{{ item.params[1].value }}" class="maxlength128"/></td>
									</tr>
									<tr>
										<td class="toTranslate">_t_period_t_:</td>
										<td class="dateRangeFrom">
											<div class="field"><span class="toTranslate">_t_from_t_</span><input autocomplete="off" id="{{ item._id }}_specialization" class="from_date" type="text" name="birthday_s" value="{% if item.start_y and item.start_m and item.start_d %}{{ item.start_d }}/{{ item.start_m }}/{{ item.start_y }}{% endif %}"/></div>
											<div class="field"><span class="toTranslate">_t_on_t_</span><input autocomplete="off" id="{{ item._id }}_specialization_to" class="to_date" type="text" name="birthday_e" value="{% if item.end_y and item.end_m and item.end_d %}{{ item.end_d }}/{{ item.end_m }}/{{ item.end_y }}{% endif %}"/></div>
										</td>
									</tr>
								</table>
							</div>
						{% endfor %}
					{% else %}
						<div class="item specializations" id="rnd_1">
							<a href="#" class="remove">
								<i class="icons"></i>
							</a>
							<table>
								<tr>
									<td class="toTranslate">_t_name_t_:</td>
									<td><input type="text" name="name" class="maxlength128"/></td>
								</tr>
								<tr>
									<td class="toTranslate">_t_type_t_:</td>
									<td><input type="text" name="type" class="maxlength128"/></td>
								</tr>
								<tr>
									<td class="toTranslate">_t_breed_t_:</td>
									<td><input type="text" name="breed" class="maxlength128"/></td>
								</tr>
								<tr>
									<td class="toTranslate">_t_period_t_:</td>
									<td class="dateRangeFrom">
										<div class="field"><span class="toTranslate">_t_from_t_</span><input autocomplete="off" id="new_specialization"  class="from_date" type="text" name="birthday_s]"/></div>
										<div class="field"><span class="toTranslate">_t_on_t_</span><input autocomplete="off" id="new_specialization_to"  class="to_date" type="text" name="birthday_e"/></div>
									</td>
								</tr>
							</table>
						</div>
					{% endif %}
				</div>
				<a class="add addUserBlock toTranslate" href="#"><i class="icons"></i>_t_add_more_t_</a>
			</div><!-- .section -->

		</div>
	</div><!-- .section -->

	<div class="section">
		<h2 class="toTranslate">_t_career_t_</h2>
		<div class="section-body">
			<div class="section">
				<div class="row" key="careers">
					{% if works.career.work %}
						{% for item in works.career.work %}
							<div class="item careers" id="{{ item._id }}">
								<a href="#" class="remove">
									<i class="icons"></i>
								</a>
								<table>
									<input type="hidden" name="_id" value="{{ item._id }}"/>
									<tr>
										<td class="toTranslate">_t_name_t_:</td>
										<td><input type="text" name="name" value="{{ item.name }}" class="maxlength128"/></td>
									</tr>
									<tr>
										<td class="toTranslate">_t_position_t_:</td>
										<td><input type="text" name="position" value="{{ item.params[0].value }}" class="maxlength128"/></td>
									</tr>
									<tr>
										<td class="toTranslate">_t_period_t_:</td>
										<td class="dateRangeFrom">
											<div class="field"><span class="toTranslate">_t_from_t_</span><input autocomplete="off" id="{{ item._id }}_career"  class="from_date" type="text" name="birthday_s" value="{% if item.start_y and item.start_m and item.start_d %}{{ item.start_d }}/{{ item.start_m }}/{{ item.start_y }}{% endif %}"/></div>
											<div class="field"><span class="toTranslate">_t_on_t_</span><input autocomplete="off" id="{{ item._id }}_career_to" class="to_date" type="text" name="birthday_e" value="{% if item.end_y and item.end_m and item.end_d %}{{ item.end_d }}/{{ item.end_m }}/{{ item.end_y }}{% endif %}"/></div>
										</td>
									</tr>
								</table>
							</div>
						{% endfor %}
					{% else %}
						<div class="item careers" id="rnd_2">
							<a href="#" class="remove">
								<i class="icons"></i>
							</a>
							<table>
								<tr>
									<td class="toTranslate">_t_name_t_:</td>
									<td><input type="text" name="name" class="maxlength128"/></td>
								</tr>
								<tr>
									<td class="toTranslate">_t_position_t_:</td>
									<td><input type="text" name="position" class="maxlength128"/></td>
								</tr>
								<tr>
									<td class="toTranslate">_t_period_t_:</td>
									<td class="dateRangeFrom">
										<div class="field"><span class="toTranslate">_t_from_t_</span><input autocomplete="off" id="new_career" class="from_date" name="birthday_s" type="text"/></div>
										<div class="field"><span class="toTranslate">_t_on_t_</span><input autocomplete="off" id="new_career_to"  class="to_date" name="birthday_e" type="text"/></div>
									</td>
								</tr>
							</table>
						</div>
					{% endif %}
				</div>
				<a class="add addUserBlock toTranslate" href="#" ><i class="icons"></i>_t_add_more_t_</a>
			</div>
		</div>
	</div><!-- .section -->
</div><!-- .section -->

<div class="section">
	<div class="section-body">
		<table>
			<tr>
				<td></td>
				<td><button class="button green">{{ pagecontent.button_save }}</button></td>
				<td class="toTranslate"><a href="#" onclick="kmcore.api.unlockRemove();openQuestion();return false;">_t_remove_me_t_</a></td>
			</tr>
			<tr>
				<td></td>
				<td><div class="message" id="responseEdit"></div></td>
			</tr>
		</table>
	</div>
</div><!-- .section -->
</form>
<script>
	$().ready(function() {
		// validate formLogin form on keyup and submit
		$("#formEditUserData").validate({
			rules: {
				input_country: {
					datalistCountry: true
				},
				input_region: {
					datalistRegion: true
				},
				phone: {
					digits: true
				}
			},
			submitHandler: function(form) {
				mpEditUserData(form);
			}
		});
	});
</script>
</div><!-- .page-content-->

	{% if profile.isProf == "yes" %}
		<script>
			$(".specialist-body").slideDown();
		</script>
	{% endif %}
{% endif %}
<script>
	var html = '<div class="pop-up-form delete-card">';
	html += '<h2>{{ popup.h2.html|raw }}</h2>';
	html += '<form onsubmit="return false;">';
	html += '<div class="section">';
	html += '<div class="row">';
	html += '<div class="description">{{ popup.section.description.html|raw }}</div>';
	html += '</div>';
	html += '<div class="row">';
	html += '<button class="button green" onclick="location.reload();">'+mypet_translate.translateByKey("_t_no_t_")+'</button>';
	html += '<button class="button grey" onclick=\'kmcore.api.removeMe();\'>'+mypet_translate.translateByKey("_t_yes_t_")+'</button>';
	html += '</div>';
	html += '</div>';
	html += '</form>';
	html += '</div>';

	function openQuestion()
	{
		$.fancybox({
			content     : html,
			maxWidth	: 460,
			fitToView	: false,
			width		: '460px',
			height		: 'auto',
			autoSize	: false,
			closeClick	: false,
			openEffect	: 'fade',
			closeEffect	: 'fade',
			padding     : 0,
			closeBtn    : true,
			wrapCSS     : "spinner",
			helpers: {
				overlay: {
					locked: false
				}
			}
		});
	}
</script>