<div class="container_post row page-content">
	{% for item in pets %}
		<div class="item_post section pets-item {% if (loop.index0 % 2) != 0  %}odd{% endif %}">
			<div class="photo">
				<a href="/pet/{{ item.id }}" class="cover-avatar avatar-{{ item.type }}">
					{% if item.photo %}<img src="{{ item.photo }}" alt=""/>{% endif %}
					{% if item.isDead %}<i class="icons status-pet died"></i>{% endif %}
				</a>
			</div>
			<div class="pets-body">
				{% if item.status %}<span class="status toTranslate">_t_{{ item.status }}_t_</span>{% endif %}
				<h3><a href="/pet/{{ item.id }}">{{ item.hNick }} {% if item.gender > 0 %}<i class="icons {% if item.gender == 1 %}he{% else %}she{% endif %}">{% endif %}</i></a></h3>
				<div class="breed">{% if breed %}{{ item.breed }}, {% endif %}{{ item.age }}
					<span class="family toTranslate">{{ item.family }}</span></div>
				<p>{{ item.breed }}</p>
			</div>
		</div><!-- .section .pets-item -->
	{% endfor %}
</div><!-- .page-content-->