
<div class="container_post row page-content">
	{% for item in pets %}
		<div class="item_post section pets-item {% if (loop.index0 % 2) != 0  %}odd{% endif %}">
			<div class="photo">
				<a href="/pet/{{ item.id }}" class="cover-avatar avatar-{{ item.type }}">
					{% if item.photo %}<img src="{{ item.photo }}" alt=""/>{% endif %}
					{% if item.isDead %}<i class="icons status-pet died"></i>{% endif %}
				</a>
			</div>
			<div class="pets-body">
				{% if item.status %}<span class="status toTranslate">_t_{{ item.status }}_t_</span>{% endif %}
				<h3><a href="/pet/{{ item.id }}">{{ item.hNick }} {% if item.gender > 0 %}<i class="icons {% if item.gender == 1 %}he{% else %}she{% endif %}">{% endif %}</i></a></h3>
				<div class="breed">{% if item.breed %}{{ item.breed }}, {% endif %}{{ item.age }}</div>
				<p>{{ item.about }}</p>
			</div>
			{% if item.ancestry %}
				<div class="pedigree view">
					<a href="/ancestry/{{ item.id }}">
						<span class="icons"></span>
						<span>{{ pagecontent.pedigree.view.html }}</span>
					</a>
				</div>
			{% elseif item.isYou %}
				<div class="pedigree add-rnd">
					<a href="/ancestry/{{ item.id }}">
						<span class="icons"></span>
						<span>{{ pagecontent.pedigree.add.html }}</span>
					</a>
				</div>
			{% endif %}
		</div><!-- .section .pets-item -->
	{% endfor %}
</div><!-- .page-content-->
<div id="pagination_post">
	{% set last_page = pages %}
	{% for i in 0..last_page %}
		<a href="/pets/{{ userId }}/{{ i }}" {% if page+1 == i %}class="next_post"{% endif %}>{{ i }}</a>
	{% endfor %}
</div>
<script>
	var ias = $.ias({
		container:  ".container_post",
		item:       ".item_post",
		pagination: "#pagination_post",
		next:       ".next_post"
	});

	ias.extension(new IASSpinnerExtension());            // shows a spinner (a.k.a. loader)
	ias.extension(new IASTriggerExtension({offset: 3})); // shows a trigger after page 3
	ias.extension(new IASNoneLeftExtension({
		text: 'There are no more pages left to load.'      // override text when no pages left
	}));
</script>