	<div class="row page-content">
		{% if profile.isYou %}<a href="/user/me/edit" title="{{ pagecontent.edit.tooltip }}" class="edit tooltip">{{ pagecontent.edit.html|raw }}</a>{% endif %}
		{#<a href="#mp_page_about_me_edit" class="edit">Редагувати інформацію</a>#}
		<div class="section">
			<h2>{{ pagecontent.section.h2.html|raw }}</h2>
			<div class="section-body">
				<table>
					{% if profile.age %}
					<tr>
						<td>{{ pagecontent.section.body.age|raw }}:</td>
						<td>{{ profile.age }}</td>
					</tr>
					{% endif %}
					{% if profile.user_country_render %}
					<tr>
						<td>{{ pagecontent.section.body.user_country|raw }}:</td>
						<td>{{ profile.user_country_render }}</td>
					</tr>
					{% endif %}
					{% if profile.region_render %}
					<tr>
						<td>{{ pagecontent.section.body.region|raw }}:</td>
						<td>{{ profile.region_render }}</td>
					</tr>
					{% endif %}
					{% if profile.city_render %}
						<tr>
							<td>{{ pagecontent.section.body.city|raw }}:</td>
							<td>{{ profile.city_render }}</td>
						</tr>
					{% endif %}
					{% if profile.phone %}
						<tr>
							<td>{{ pagecontent.section.body.phone|raw }}:</td>
							<td>
								<ul>
									{% for item in profile.phone %}
										<li>{{ item }}</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
					{% endif %}
					{% if profile.socLinks %}
					<tr>
						<td>{{ pagecontent.section.body.socLinks|raw }}:</td>
						<td>
							<ul>
								{% for item in profile.socLinks %}
									<li><a href="{{ item }}">{{ item }}</a></li>
								{% endfor %}
							</ul>
						</td>
					</tr>
					{% endif %}
					{% if profile.about %}
					<tr>
						<td>{{ pagecontent.section.body.about|raw }}:</td>
						<td>{{ profile.about }}</td>
					</tr>
					{% endif %}
					{% if profile.isProf === 'yes' and profile.profession %}
						<tr>
							<td>{{ pagecontent.section.body.profession|raw }}:</td>
							<td>{{ profile.profession_render }}</td>
						</tr>
					{% endif %}
					{% if profile.isProf === 'yes' and profile.skills %}
						<tr>
							<td>{{ pagecontent.section.body.skills|raw }}:</td>
							<td>
								<ul>
									{% for item in profile.skills %}
										<li>{{ item }}</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
					{% endif %}
				</table>
			</div>
		</div><!-- .section -->
			{% for item in works %}
				<div class="section">
					<h2 class="toTranslate">_t_{{ item.type }}_t_</h2>
					{% for result in item.work %}
						<div class="section-body">
							<table>
								<tr>
									<td class="toTranslate">_t_name_t_:</td>
									<td>{{ result.name }}</td>
								</tr>
								{% if result.start_y or result.end_y %}
								<tr>
									<td class="toTranslate">_t_period_t_:</td>
									<td>{{ result.start_y }} - {{ result.end_y }}</td>
								</tr>
								{% endif %}
								{% for elm in result.params %}
								{% if elm.type and elm.value %}
									<tr>
										<td class="toTranslate">_t_{{ elm.type }}_t_:</td>
										<td>{{ elm.value }}</td>
									</tr>
								{% endif %}
								{% endfor %}
							</table>
						</div>
					{% endfor %}
				</div><!-- .section -->
			{% endfor %}
	</div><!-- .page-content-->