<div class="pop-up-form add-your-pet">
	<h2>{{ popup.h2.html|raw }}</h2>

	<div class="section">
		<form autocomplete="off" action="/petApi/addNewPet" id="formAddNewPet" method="POST" onsubmit="return false;">
			<div class="row"><span class="description">{{ popup.section.description.html|raw }}</span></div>
			<div class="row">
				<input name="hNick" value="" type="text" placeholder="{{ popup.section.form.hNick|raw }}"/>
			</div>
			<div class="row">
				<select name="type" id="type_popup">
					<option value="cat" class="toTranslate">_t_cat_t_</option>
					<option value="dog" class="toTranslate">_t_dog_t_</option>
				</select>
			</div>
			<div class="row">
				<select name="gender">
					<option value="0" class="toTranslate">_t_gender_t_</option>
					<option value="1" class="toTranslate">_p_he_p_</option>
					<option value="2" class="toTranslate">_p_she_p_</option>
				</select>
			</div>
			<div class="row" id="listBreedPopup">
				<input id="breed_popup" value="" type="text" placeholder="{{ popup.section.form.breed|raw }}" class="maxlength128" list="breed_list_popup"/>
				<datalist id="breed_list_popup">
					<option value="" class="toTranslate">_t_not_selected_t_</option>
					{% for item in breeds %}
						<option value="{% if item[langName] %}{{ item[langName] }}{% else %}{{ item.en }}{% endif %}" id="{{ item._id }}"></option>
					{% endfor %}
				</datalist>
			</div>
			<script>
				$("#type_popup").change(function () {
					var val = $("#type_popup :selected").val();
					selectBreeds(val, "listBreedPopup", "breed_list_popup", "breed_popup");
				});

				var valIdBreed = "{{ breed }}";
				$("#breed_popup").val($("#"+valIdBreed).val());
			</script>
			<div class="row">
				<input name="birthday" class="birthday dateForm" value="" type="text" placeholder="{{ popup.section.form.birthday|raw }}"/>
			</div>

			<div class="row">
				<button class="button green">{{ popup.section.button.html|raw }}</button>
			</div>
		</form>
		<script>
			$().ready(function() {
				// validate formLogin form on keyup and submit
				$("#formAddNewPet").validate({
					rules: {
						hNick: {
							required: true,
							minlength: 3
						}
					},
					submitHandler: function(form) {
						mpAddNewPet(form);
					}
				});
				mypet_translate.findAndTranslate();
			});
		</script>
	</div>
</div>