<div class="pop-up-form delete-card">
	<h2>{{ popup.h2.html|raw }}</h2>
	<form onsubmit="return false;">
		<div class="section">
			<div class="row">
				<div class="description">{{ popup.section.description.html|raw }}</div>
			</div>
		</div>
	</form>
</div>