<div class="pop-up-form new-message-l">
	<h2>{{ popup.h2.html|raw }}</h2>
	{#<form action="/userApi/sendMessage" id="formSendMessage" method="POST" onsubmit="return false;">#}
		<div class="section">
			<div class="row">
				<div class="avatar search-avatar avatar-user">
					{% if profile.photo %}<img class="search-avatar" src="{{ profile.photo }}" alt=""/>{% endif %}
				</div>
				<h3><a href="#">{{ profile.first_name }} {{ profile.last_name }}</a></h3>
			</div>
			<input type="hidden" value="{{ dialogId }}" id="dialogId">
			<div class="row">
				<textarea placeholder="{{ popup.block.form.message|raw }}" id="text"></textarea>
			</div>
			<div class="row">
				<button class="button green" onclick='kmcore.api.message.send($("#dialogId").val(), $("#text").val(), true);location.reload();'>{{ popup.section.button.html|raw }}</button>
			</div>
		</div>
	{#</form>#}
	<script>
		var isCtrl = false;
		$("#text").keyup(function(event) {
			if (event.which == 17) { // escape
				isCtrl = false;
			}
		}).keydown(function (event) {
					if(event.which == 17) isCtrl=true;
					else if(event.which == 13 && isCtrl == true) {
						kmcore.api.message.send($("#dialogId").val(), $("#text").val(), true);location.reload();
					}
				});
	</script>
	{#<script>#}
		{#$().ready(function() {#}
			{#// validate formLogin form on keyup and submit#}
			{#$("#formSendMessage").validate({#}
				{#rules: {#}
					{#message: {#}
						{#required: true,#}
						{#minlength: 3,#}
						{#maxlength: 64#}
					{#}#}
				{#},#}
				{#submitHandler: function(form) {#}
					{#mpEditProfile(form);#}
				{#}#}
			{#});#}
		{#});#}
	{#</script>#}
</div>
