<div class="pop-up-form create-t-card">
	<span class="block-status-message" id="popup_status_dialog" style="opacity: 0;"></span>
	<h2>{{ popup.h2.html|raw }}</h2>
	<div class="section">
		<div class="row">
			<span class="description">{{ popup.section.description.html|raw }}</span>
		</div>
		<div class="row">
				<form action="/ancestryApi/addGag" id="formAncestryAddGag" method="POST" onsubmit="return false;">
					<input name="petId" value="{{ petId }}" type="hidden"/>
					{#<input name="gender" value="{{ gender }}" type="hidden"/>#}

					<div class="row sobriquet">
						<input name="hNick" value="" type="text" placeholder="{{ popup.section.form.hNick|raw }}"/>
					</div>
					<div class="row">
						<input name="birthday" class="birthday dateForm" value="" type="text" placeholder="{{ popup.section.form.birthday|raw }}"/>
					</div>
					<div class="row">
						<input name="deathday" class="birthday dateForm" value="" type="text" placeholder="{{ popup.section.form.deathday|raw }}"/>
					</div>
					<div class="row">
						<input name="owner" value="" type="text" placeholder="{{ popup.section.form.owner|raw }}"/>
					</div>
					<div class="row">
						<input name="ringleader" value="" type="text" placeholder="{{ popup.section.form.ringleader|raw }}"/>
					</div>
					<div class="row">
						<textarea name="signs" placeholder="{{ popup.section.form.signs|raw }}" class="maxlength248"></textarea>
					</div>
					<div class="row">
						<button class="button green">{{ popup.section.button.html|raw }}</button>
					</div>
				</form>
				<script>
					$().ready(function() {
						// validate formLogin form on keyup and submit
						$("#formAncestryAddGag").validate({
							rules: {
								petId: {
									required: true
								},
								hNich: {
									required: true,
									minlength: 3
								}
							},
							submitHandler: function(form) {
								mpAncestryAddGag(form);
							}
						});
						mypet_translate.findAndTranslate();
						updateStyler();
					});

					var gender = "{{ gender }}";
					if(kmcore.api.ancestry.parent == 'child')
					{
						html = '<div class="row">';
						html += '<select name="gender" class="genderSelect">';
						if(gender == '2')
						{
							html += '<option value="1" class="toTranslate">_p_he_p_</option>';
							html += '<option value="2" selected="" class="toTranslate">_p_she_p_</option>';
						}
						else
						{
							html += '<option value="1" selected="" class="toTranslate">_p_he_p_</option>';
							html += '<option value="2" class="toTranslate">_p_she_p_</option>';
						}
						html += '</select>';
						html += '</div>';
						$("#formAncestryAddGag").prepend(html);

						$(".genderSelect").change(function() {
							var genderField = $("#formAncestryAddGag").find("input[name=gender]");
							genderField.val($( this ).val());
						});

						mypet_translate.findAndTranslate();
					}
					else
					{
						html = '<input name="gender" value="{{ gender }}" type="hidden"/>';
						$("#formAncestryAddGag").prepend(html);
					}

				</script>
			</div>
	</div>
</div>