<div class="pop-up-form change-status">
	<span class="block-status-message" id="popup_status_dialog" style="opacity: 0;"></span>
	<h2>{{ popup.h2.html|raw }}</h2>
	<span>{{ popup.span.html|raw }}</span>
	<form action="/petApi/changeStatus" method="POST" id="formChangeStatus" onsubmit="return false;">
		<input type="hidden" name="petId" value="{{ petId }}">
		<div class="section">
			<div class="row">
				<div class="col-1">
					<label><input type="radio" {% if status == "looking_for_a_partner" %}checked{% endif %} id="looking_for_a_partner" name="status" value="looking_for_a_partner"/><block_trn class="toTranslate">_t_looking_for_a_partner_t_</block_trn></label>
					<label><input type="radio" {% if status == "need_help" %}checked{% endif %} id="need_help" name="status" value="need_help"/><block_trn class="toTranslate">_t_need_help_t_</block_trn></label>
					<label><input type="radio" {% if status == "looking_owner" %}checked{% endif %} id="looking_owner" name="status" value="looking_owner"/><block_trn class="toTranslate">_t_looking_owner_t_</block_trn></label>
				</div>
				<div class="col-2">
					<label><input type="radio" {% if status == "waiting_for_offspring" %}checked{% endif %} id="waiting_for_offspring" name="status" value="waiting_for_offspring"/><block_trn class="toTranslate">_t_waiting_for_offspring_t_</block_trn></label>
					<label><input type="radio" {% if status == "lost" %}checked{% endif %} id="lost" name="status" value="lost"/><block_trn class="toTranslate">_t_lost_t_</block_trn></label>
					<label><input type="radio" {% if status == "" %}checked{% endif %} id="none" name="status" value=""/><block_trn class="toTranslate">_t_none_t_</block_trn></label>
				</div>
			</div>
			<div class="row">
				<button class="button green">{{ popup.section.button.html|raw }}</button>
			</div>
		</div>
	</form>
	<script>
		$().ready(function() {
			// validate formLogin form on keyup and submit
			$("#formChangeStatus").validate({
				rules: {
					petId: {
						required: true
					},
					status: {
						required: true
					}
				},
				submitHandler: function(form) {
					mpChangeStatus(form);
				}
			});
			mypet_translate.findAndTranslate();
		});
	</script>
</div>