<div class="pop-up-form developers">
	<h2>{{ popup.h2.html|raw }}</h2>
	<form method="POST" action="/userApi/connectionDeveloper">
		<div class="section">
			<div class="row"><span class="description">{{ popup.section.description.html|raw }}</span></div>
			<div class="row">
				<textarea name="message" id=""></textarea>
			</div>
			<div class="row">
				<button class="button green">{{ popup.section.button.html|raw }}</button>
			</div>
		</div>
	</form>
</div>