<div class="pop-up-form add-owners">
	<h2>{{ popup.h2.html|raw }}</h2>

	<div class="section">
		<form action="/petApi/addNewOwner" id="formAddNewOwner" method="POST" onsubmit="return false;">
			<div class="row"><span class="description">{{ popup.section.description.html|raw }}</span></div>
			<div class="row">
				<div class="search-query">
					<input value="{{ petId }}" id="petId" name="petId" type="hidden"/>
					<input class="owner_hidden" name="ownerId" type="hidden"/>
					<input class="owner searchUser" list="datalist_owner_add" typeSearch="user" type="text"/>
                    <div class="result">
                    </div>
					<i class="icons"></i>
				</div>
			</div>
			<div class="row">
				<button class="button green">{{ popup.section.button.html|raw }}</button>
			</div>
		</form>
		<script>
			$().ready(function() {
				// validate formLogin form on keyup and submit
				$("#formAddNewOwner").validate({
					rules: {
						ownerId: {
							required: true,
							minlength: 3
						}
					},
					submitHandler: function(form) {
						mpAddNewOwner(form);
					}
				});
				mypet_translate.findAndTranslate();
			});
		</script>
	</div>
</div>
<script src="/resource/mypet/assets/js/search.helper.js"></script>