<div class="pop-up-form invite-friends">
    <h2>{{ popup.h2.html }}</h2>
    <form>
        <div class="section">
            <div class="row">
                <div class="link">
                    <div class="friends-input-group">
                        <p>{{ popup.block.description.html }}:</p>
                        <input id="copyClipboard" type="text" value="{{ link|raw }}">
                        {#<button class="button green" onclick="var elm=document.getElementById('copyClipboard');elm.select();">Копіювати</button>#}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="section wrapper-tabs">

                        <div class="box">
                            <div class="invitation-email">
                                <div class="row">
                                    <textarea id="friendEmails" name="friendEmails" placeholder="{{ popup.block.form.friendEmails }}"></textarea>
                                </div>
                                <div class="row">
                                    <button id="sendInvite" class="button green" onclick="return false;">{{ popup.block.form.sendInvite }}</button>
                                </div>
                                <div class="row">
                                    <button id="facebookButton" class="button green" onclick="return false;">Facebook</button>
                                </div>
                            </div>
                        </div>
                    <script>
                        $("#sendInvite").click(function(){
                            var friendEmails = $("#friendEmails").val();
                            kmcore.api.send("/invite/invite", {friendEmails: friendEmails}, function(){
                                location.reload();
                            });
                        });
                        $("#facebookButton").click(function(){
                            location.replace('http://www.facebook.com/dialog/send?app_id={{ appId }}&link={{ link }}&redirect_uri={{ baseUrl }}');
                        });
                    </script>
                </div>
            </div>
        </div>
    </form>
</div>