<div class="pop-up-form add-parents">
	<span class="block-status-message" id="popup_status_dialog" style="opacity: 0;"></span>
	<h2>{{ popup.h2.html|raw }}</h2>
	<form onsubmit="return false;">
		<input id="petFriendId" name="petFriendId" value="" type="hidden"/>
		<div class="section">
			<div class="row"><span class="description">{{ popup.section.description.html|raw }}</span></div>
			<div class="row">
				<div class="search-query">
					<input class="owner searchAncestryType" value="" type="text"/>
					<i class="icons"></i>
					<div class="result" id="search_ancestry_item_pet">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="description">{{ popup.section.description_2.html|raw }} <a href="#" class="pedigree-add" onclick='openPopup("mp_popup_ancestry_add_gag", "petId={{ petId }}&gender={{ gender }}", 570);return false;'>{{ popup.section.description_2.html2|raw }}</a></div>
			</div>
		</div>
	</form>
	<script>
		var pagePetId = "{{ petId }}";
		function showAncestryFindResult(data)
		{
			data = data.response;

			$("#search_ancestry_item_pet").empty();
			for(key in data.hits.hits)
			{
				var id = data.hits.hits[key]._id;
				var type = data.hits.hits[key]._type;
				var source = data.hits.hits[key]._source;

				if(source.hasOwnProperty("photo") && source.photo)
				{
					var photo = '<img class="search-avatar" alt="" src="'+source.photo+'">';
				}
				else
				{
					var photo = '';
				}

				var html = '<div class="result-item"><div class="result-item__photo"><a class="sendRequest" href="#" id="'+source.id+'"><div class="search-avatar avatar-'+source.type+'">'+photo+'</div></a></div><div class="result-item__body"><h3><a class="sendRequest" href="#" id="'+source.id+'">'+source.hNick+'</a></h3><div class="result-item__description toTranslate">_t_'+source.type+'_t_</div></div></div>';
				$("#search_ancestry_item_pet").append(html);
				mypet_translate.findAndTranslate();

				$(".sendRequest").click(function(e) {
					kmcore.api.ancestry.addRelation("{{ petId }}", $(this).attr("id"), "{{ gender }}", baseAncestryCallback);
				});
			}
		}

		$(".searchAncestryType").keyup(function(e) {
			var query = $(this).val();
			query = ""+query+" {% if gender %}AND gender:{{ gender }}{% endif %} AND type:"+kmcore.api.ancestry.type+" AND -id:"+pagePetId+" AND -id:"+kmcore.api.ancestry.id;
			kmcore.api.search.pet(query, showAncestryFindResult);
		});
	</script>
</div>