<div class="pop-up-form delete-card">
	<h2>{{ popup.h2.html|raw }}</h2>
	<form onsubmit="return false;">
		<div class="section">
			<div class="row">
				<div class="description">{{ popup.section.description.html|raw }}</div>
			</div>
			<div class="row">
				<button class="button green toTranslate" onclick="location.reload();">_t_no_t_</button>
				<button class="button grey toTranslate" onclick="deleteAncestry();">_t_yes_t_</button>
			</div>
		</div>
	</form>
	<script>
		function deleteAncestry()
		{
			if(kmcore.api.ancestry.deleteType == 'gag')
			{
				kmcore.api.ancestry.remGag("{{ petId }}", baseAncestryCallback)
			}
			else if(kmcore.api.ancestry.deleteType == 'relation')
			{
				kmcore.api.ancestry.remRelation(kmcore.api.ancestry.baseId, "{{ petId }}", "{{ gender }}", baseAncestryCallback)
			}
		}
		$().ready(function() {
			mypet_translate.findAndTranslate();
		});
	</script>
</div>