<div class="pop-up-form settings">
	<h2>{{ popup.h2.html|raw }}</h2>
	<form action="/userApi/editProfile" id="formEditProfile" method="POST" onsubmit="return false;">
		<div class="section">
			<span class="block-setting-message" id="popup_settings_dialog" style="opacity: 0;"></span>
			<div class="row"><span class="description">{{ popup.block.description.html|raw }}</span></div>
			<div class="row">
				<div class="field">
					<input class="text-input" type="text" name="first_name" value="{{ profile.first_name }}" placeholder="{{ popup.block.form.first_name|raw }}">
				</div>
				<div class="field">
					<input class="text-input" type="text" name="last_name" value="{{ profile.last_name }}"  placeholder="{{ popup.block.form.last_name|raw }}">
				</div>


                <div class="field">
                    <select name="gender">
                        <option value="0"{% if profile.gender == 0 %}selected{% endif %} class="toTranslate">_t_not_selected_t_</option>
                        <option value="1" {% if profile.gender == 1 %}selected{% endif %} class="toTranslate">_t_man_t_</option>
                        <option value="2"{% if profile.gender == 2 %}selected{% endif %} class="toTranslate">_t_woman_t_</option>
                    </select>
                </div>
                <div class="field">
                    <input type="text" autocomplete="off" class="birthday dateForm" name="birthday" value="{% if profile.birth_y and profile.birth_m and profile.birth_d %}{{ profile.birth_d }}/{{ profile.birth_m }}/{{ profile.birth_y }}{% endif %}" placeholder="dd/mm/yyyy"/>
                </div>

				<div class="field">
					<input class="text-input password" type="password" name="password" placeholder="{{ popup.block.form.password|raw }}">
				</div>
				<div class="field">
					<input class="text-input" type="password" name="password2" placeholder="{{ popup.block.form.password2|raw }}">
				</div>

				<div class="field">
					<input class="text-input" type="text" name="email" value="{{ profile.email }}" placeholder="{{ popup.block.form.email|raw }}">
				</div>
				{#<div class="field select-language">#}
					{#<select name="" id="">#}
						{#<option value="Мова: Українська">Українська</option>#}
						{#<option value="Мова: Російська">Російська</option>#}
						{#<option value="Мова: Англійська">Англійська</option>#}
					{#</select>#}
					{#<span class="lang">Мова:</span>#}
				{#</div>#}
				{#<div class="row checkbox">#}
					{#<span><input type="checkbox"/><label class="description-checkbox">Отримувати сповіщення</label></span>#}
					{#<span><input type="checkbox"/><label class="description-checkbox">Отримувати системні оновлення</label></span>#}
				{#</div>#}
			</div>
			<div class="row">
				<button class="button green">{{ popup.block.button.html|raw }}</button>
			</div>
		</div>
	</form>
	<script>
		$().ready(function() {
			// validate formLogin form on keyup and submit
			$("#formEditProfile").validate({
				rules: {
					first_name: {
						required: true,
						minlength: 3,
						maxlength: 64
					},
					last_name: {
						required: true,
						minlength: 3,
						maxlength: 64
					},
					email: {
						required: true,
						email: true,
						maxlength: 64
					},
					password: {
//						required: true,
						minlength: 4,
						maxlength: 64
					},
					password2: {
//						required: true,
						minlength: 4,
						equalTo: ".password",
						maxlength: 64
					}
				},
				submitHandler: function(form) {
					mpEditProfile(form);
				}
			});
            mypet_translate.findAndTranslate();
		});
	</script>
</div>