<div class="pop-up-form edit-t-card">
	<h2>{{ popup.h2.html|raw }}</h2>

	<div class="section">
		<div class="row">
			<span class="description">{{ popup.section.description.html|raw }}</span>
		</div>
		<div class="row">
			<div class="col-l">
				<div class="avatar">
					<a class="change-image" href="#" id="cropGagAvatarButton">
						<i class="icons"></i>
					</a>
					<div id="croppicGagAvatar" class="base-avatar avatar-{{ gag.type }}">
						<span class="bg"></span>
						{% if gag.photo %}<img alt="" src="{{ gag.photo }}">{% endif %}
					</div>
				</div>
			</div>
			<div class="col-r">
				<form action="/ancestryApi/editGag" id="formAncestryEditPet" method="POST" onsubmit="return false;">
					<input type="hidden" value="{{ gagId }}" name="gagId">
					<div class="row sobriquet">
						<input name="hNick" value="{{ gag.hNick }}" type="text" placeholder="{{ popup.section.form.hNick|raw }}"/>
						{#<i class="icons {% if gag.gender == 2 %}she{% endif %}"></i>#}
					</div>
					{#<div class="row">#}
						{#<ul class="list-data">#}
							{#<li>Кіт</li>#}
							{#<li>Хлопчик</li>#}
							{#<li>Британська короткошерста</li>#}
						{#</ul>#}
					{#</div>#}
					<div class="row">
						<input name="birthday" class="birthday dateForm" value="{% if gag.birth_y and gag.birth_m and gag.birth_d %}{{ gag.birth_d }}/{{ gag.birth_m }}/{{ gag.birth_y }}{% endif %}" type="text" placeholder="{{ popup.section.form.birthday|raw }}"/>
					</div>
					<div class="row">
						<input name="deathday" class="birthday dateForm" value="{% if gag.death_y and gag.death_m and gag.death_d %}{{ gag.death_d }}/{{ gag.death_m }}/{{ gag.death_y }}{% endif %}" type="text" placeholder="{{ popup.section.form.deathday|raw }}"/>
					</div>
					<div class="row">
						<input name="owner" value="{{ gag.params.owner }}" type="text" placeholder="{{ popup.section.form.owner|raw }}"/>
					</div>
					<div class="row">
						<input name="ringleader" value="{{ gag.params.ringleader }}" type="text" placeholder="{{ popup.section.form.ringleader|raw }}"/>
					</div>
					<div class="row">
						<textarea name="signs" placeholder="{{ popup.section.form.signs|raw }}">{{ gag.signs }}</textarea>
					</div>
					<div class="row">
						<button class="button green">{{ popup.section.button.html|raw }}</button>
						<div class="message" id="responseEdit"></div>
					</div>
				</form>
				<script>
					$().ready(function() {
						// validate formLogin form on keyup and submit
						$("#formAncestryEditPet").validate({
							rules: {
								gagId: {
									required: true
								},
								hNich: {
									required: true,
									minlength: 3
								}
							},
							submitHandler: function(form) {
								mpAncestryEditGag(form);
							}
						});
						mypet_translate.findAndTranslate();
					});

					var croppicGagAvatar = new Croppic('croppicGagAvatar', {
					uploadUrl:'/petAvatar/upload?petId={{ gagId }}',
					cropUrl:'/petAvatar/crop?petId={{ gagId }}',
					customUploadButtonId:'cropGagAvatarButton',
					modal:false,
					loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
					onBeforeImgUpload: function(){ $("#croppicGagAvatar").empty() },
					onAfterImgUpload: function(){  },
					onImgDrag: function(){  },
					onImgZoom: function(){  },
					onBeforeImgCrop: function(){  },
					onAfterImgCrop:function(){ $(".cropControlsUpload").empty() }
					});

					var gender = "{{ gag.gender }}";
					if(kmcore.api.ancestry.parent == 'child')
					{
						html = '<div class="row">';
						html += '<select name="gender">';
						if(gender == '2')
						{
							html += '<option value="1" class="toTranslate">_p_he_p_</option>';
							html += '<option value="2" selected="" class="toTranslate">_p_she_p_</option>';
						}
						else
						{
							html += '<option value="1" selected="" class="toTranslate">_p_he_p_</option>';
							html += '<option value="2" class="toTranslate">_p_she_p_</option>';
						}
						html += '</select>';
						html += '</div>';
						$("#formAncestryEditPet").prepend(html);
						mypet_translate.findAndTranslate();
					}
				</script>
			</div>
		</div>


	</div>
</div>