{% if loggedIn %}
	<header class="header">
		<div class="container">
			<a class="logo animated fadeIn" href="/"><img src="/resource/img/logo-alpha.png" alt=""/></a>
			<div class="search">
				<input type="text" placeholder="{{ search.input.placeholder }}" id="searchAllType"/>
				<a href="/search"><i class="icons"></i></a>
				<div id="search_result" style="display: none">
					<div class="search__results-list">
						<div class="result-item" id="search_group_user" style="display: none;">
							<div class="result-item__name">{{ search.search_result.search_group_user.html }}</div>
							<div class="result-item__wrapper" id="search_item_user">
							</div>
						</div><!-- .result-item .people -->

						<div class="result-item search-pet" id="search_pet_user" style="display: none;">
							<div class="result-item__name">{{ search.search_result.search_pet_user.html }}</div>
							<div class="result-item__wrapper" id="search_item_pet">
							</div>
						</div><!-- .result-item search-pet-->
						<div class="row more-results">
							<a href="/search">{{ search.search_result.more_results.html }}</a>
						</div>
					</div><!-- .search__results-list-->
				</div>
			</div>
			<div class="user-block">

				<ul>
					<li class="padding-top-avatar"><a href="/">{% if profile.small_photo %}<img class="search-avatar avatar-user" src="{{ profile.small_photo }}" alt=""/>{% endif %}</a></li>
					<li><a id="count_message" class="letters" href="/message"><span class="animated wobble" id="letters_count" {% if count_message %}{% else %}style="display: none;"{% endif %}>{{ count_message }}</span></a></li>
					<li><a id="count_inbox" class="alert" href="/inbox"><span class="animated wobble" id="inbox_count" {% if count_inbox %}{% else %}style="display: none;"{% endif %}>{{ count_inbox }}</span></a></li>
					<li class="initSettingsMenu">
						<div class="settings">
							<div class="btn-settings"></div>
							<ul class="list-settings">
								<li><a href="#" onclick='openPopup("mp_popup_settings");return false;'>{{ search.user_block.settings.popup_settings.html }}</a></li>
								<li><a href="#" onclick='mpLogout();'>{{ search.user_block.settings.logout.html }}</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script>

		</script>
	</header><!-- .header-->
{% else %}
	<header class="header animated fadeInDown">
		<div class="container">
			<a href="/"><img src="/resource/img/logo-alpha.png" alt=""/></a>
			{% if pageName != 'login' %}
				<div class="user-block" style="float: right;">
					<a  class="top-button top-green" href="/login">{{ search.user_block.auth }}</a>
				</div>
			{% endif %}
		</div>
	</header><!-- .header-->
{% endif %}