{% if loggedIn %}
{% else %}
<ul class="bg-slider">
	<li><div class="bg-img-1"></div></li>
	{#<li><div class="bg-img-2"></div></li>#}
	{#<li><div class="bg-img-3"></div></li>#}
</ul><!--.bg-slider-->
	<script>
		$(".bg-slider").responsiveSlides({
			"speed": 5000
		});
	</script>
{% endif %}