{% if loggedIn %}
{% else %}
	<div class="content">
		<div class="section form-box">
	<div class="sign-up">
		<h2>{{ signup.h2.html|raw }}</h2>
		<span class="description">{{ signup.description.html|raw }}</span>
		<span class="message" id="section_form_box_dialog" style="opacity: 0;"></span>
		<form action="/userApi/registration" id="formRegistration" autocomplete="off" method="POST" onsubmit="return false;">
			<div style="display:none">
				<input type="text">
				<input type="password">
			</div>

			<div class="field">
				<input class="text-input" type="text" name="first_name" placeholder="{{ signup.form.first_name.placeholder|raw }}">
			</div>
			<div class="field">
				<input class="text-input" type="text" name="last_name" placeholder="{{ signup.form.last_name.placeholder|raw }}">
			</div>
			<div class="field">
				<input class="text-input" type="text" name="email" placeholder="{{ signup.form.email.placeholder|raw }}">
			</div>
			<div class="field">
				<input class="text-input password" type="password" name="password" placeholder="{{ signup.form.password.placeholder|raw }}">
			</div>
			<div class="field">
				<input class="text-input" type="password" name="password2" placeholder="{{ signup.form.password2.placeholder|raw }}">
			</div>
			<button class="button green">{{ signup.form.button.html|raw }}</button>
		</form>
		<script>
			$().ready(function() {
				// validate formRegistration form on keyup and submit
				$("#formRegistration").validate({
					rules: {
						first_name: {
							required: true,
							minlength: 3,
							maxlength: 64
						},
						last_name: {
							required: true,
							minlength: 3,
							maxlength: 64
						},
						email: {
							required: true,
							email: true,
							maxlength: 64
						},
						password: {
							required: true,
							minlength: 4,
							maxlength: 64
						},
						password2: {
							required: true,
							minlength: 4,
							equalTo: ".password",
							maxlength: 64
						}
					},
					submitHandler: function(form) {
						mpRegistration(form);
					}
				});
			});
		</script>
		{{ signup.html|raw }}
	</div>
		</div><!-- .section-->
		</div>
{% endif %}