{% if loggedIn %}
{% else %}
	<div class="content">

<div class="section form-box">
	<div class="login animated">
		{#<a href="/competition/index.html?v3" id="competition"></a>#}
		<h2>{{ login.h2.html|raw }}</h2>
		<div class="row">
			<div class="login-left">
				<span class="description">{{ login.loginleft.description.html|raw }}</span>
				<span class="message" id="section_form_box_dialog" style="opacity: 0;"></span>
				<form action="/userApi/login" id="formLogin" method="POST" onsubmit="return false;">
					<div class="field">
						<input class="text-input" type="text" name="email" placeholder="{{ login.loginleft.form.email.placeholder|raw }}">
					</div>
					<div class="field">
						<input class="text-input" type="password" name="password" placeholder="{{ login.loginleft.form.password.placeholder|raw }}">
					</div>
					<div class="row remember">
						<span><input type="checkbox" name="remember"/><label class="description-checkbox">{{ login.loginleft.form.remember.label.html|raw }}</label></span>
						<a href="#" class='mp_section_recover_password'>{{ login.loginleft.form.remember.recover.html|raw }}</a>
					</div>
					<button class="button green">{{ login.loginleft.form.button.html|raw }}</button>
					<span class="span-btn button grey mp_section_registration">{{ login.loginleft.form.span.button.html|raw }}</span>
				</form>
				<script>
					$().ready(function() {
						// validate formLogin form on keyup and submit
						$("#formLogin").validate({
							rules: {
								email: {
									required: true,
									minlength: 3,
									email: true
								},
								password: {
									required: true,
									minlength: 4
								}
							},
							submitHandler: function(form) {
								mpLogin(form);
							}
						});
					});
				</script>
			</div>
			<div class="login-right">
				<span class="description">{{ login.loginright.description.html|raw }}</span>
				<a class="social facebook" href="{{ fbLogin }}"><span>Facebook</span><i class="icons"></i></a>
				<a class="social google" href="{{ glLogin }}"><span>Google</span><i class="icons"></i></a>
			</div>
		</div>
		<div class="row login-footer">
			{{ login.html|raw }}

			<div style="border-top: 1px solid #ebeae9;">
				{{ login.block_tutorial|raw }}
				<div class="ExcamplePages" style="width:100%; margin:10px 70px; ">
					<a class="fancybox-effects-c" style="padding: 0px 5px;" href="/resource/block_login/UserPage.jpg"><img src="/resource/block_login/UserPageSmall.jpg" alt=""></a>
					<a class="fancybox-effects-c" style="padding: 0px 5px;" href="/resource/block_login/PetPage.jpg"><img src="/resource/block_login/PetPageSmall.jpg" alt=""></a>
					<a class="fancybox-effects-c" style="padding: 0px 5px;" href="/resource/block_login/Pedigree.jpg"><img src="/resource/block_login/PedigreeSmall.jpg" alt=""></a>
				</div>
			</div>
			<script type="text/javascript">
				$(document).ready(function() {
					/*
					 *  Simple image gallery. Uses default settings
					 */

					$('.fancybox').fancybox();

					/*
					 *  Different effects
					 */

					// Change title type, overlay closing speed
					$(".fancybox-effects-a").fancybox({
						helpers: {
							title : {
								type : 'outside'
							},
							overlay : {
								speedOut : 0
							}
						}
					});

					// Disable opening and closing animations, change title type
					$(".fancybox-effects-b").fancybox({
						openEffect  : 'none',
						closeEffect	: 'none',

						helpers : {
							title : {
								type : 'over'
							}
						}
					});

					// Set custom style, close if clicked, change title type and overlay color
					$(".fancybox-effects-c").fancybox({
						wrapCSS    : 'fancybox-custom',
						closeClick : true,

						openEffect : 'none',

						helpers : {
							title : {
								type : 'inside'
							},
							overlay : {
								css : {
									'background' : 'rgba(238,238,238,0.85)'
								}
							}
						}
					});

					// Remove padding, set opening and closing animations, close if clicked and disable overlay
					$(".fancybox-effects-d").fancybox({
						padding: 0,

						openEffect : 'elastic',
						openSpeed  : 150,

						closeEffect : 'elastic',
						closeSpeed  : 150,

						closeClick : true,

						helpers : {
							overlay : null
						}
					});

					/*
					 *  Button helper. Disable animations, hide close button, change title type and content
					 */

					$('.fancybox-buttons').fancybox({
						openEffect  : 'none',
						closeEffect : 'none',

						prevEffect : 'none',
						nextEffect : 'none',

						closeBtn  : false,

						helpers : {
							title : {
								type : 'inside'
							},
							buttons	: {}
						},

						afterLoad : function() {
							this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
						}
					});


					/*
					 *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
					 */

					$('.fancybox-thumbs').fancybox({
						prevEffect : 'none',
						nextEffect : 'none',

						closeBtn  : false,
						arrows    : false,
						nextClick : true,

						helpers : {
							thumbs : {
								width  : 50,
								height : 50
							}
						}
					});

					/*
					 *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
					 */
					$('.fancybox-media')
							.attr('rel', 'media-gallery')
							.fancybox({
								openEffect : 'none',
								closeEffect : 'none',
								prevEffect : 'none',
								nextEffect : 'none',

								arrows : false,
								helpers : {
									media : {},
									buttons : {}
								}
							});

					/*
					 *  Open manually
					 */

					$("#fancybox-manual-a").click(function() {
						$.fancybox.open('1_b.jpg');
					});

					$("#fancybox-manual-b").click(function() {
						$.fancybox.open({
							href : 'iframe.html',
							type : 'iframe',
							padding : 5
						});
					});

					$("#fancybox-manual-c").click(function() {
						$.fancybox.open([
							{
								href : '1_b.jpg',
								title : 'My title'
							}, {
								href : '2_b.jpg',
								title : '2nd title'
							}, {
								href : '3_b.jpg'
							}
						], {
							helpers : {
								thumbs : {
									width: 75,
									height: 50
								}
							}
						});
					});


				});
			</script>



		</div>
	</div><!--.login-->
		</div><!-- .section-->
		</div>
{% endif %}