{% if loggedIn %}
{% else %}
	<div class="content">
		<div class="section form-box">
	<div class="sign-up">
		<h2>{{ signup.h2.html|raw }}</h2>
		<span class="description">{{ signup.description.html|raw }}</span>
		<span class="message" id="section_form_box_dialog" style="opacity: 0;"></span>
		<form action="/userApi/recoverPassword" id="formRecoverPassword" method="POST" onsubmit="return false;">
			<input type="hidden" name="langName" value="{{ langName }}">
			<div class="field">
				<input class="text-input" type="text" name="email" placeholder="{{ signup.form.email.placeholder|raw }}">
			</div>
			<button class="button green">{{ signup.form.button.html|raw }}</button>
		</form>
		<script>
			$().ready(function() {
				// validate formRegistration form on keyup and submit
				$("#formRecoverPassword").validate({
					rules: {
						email: {
							required: true,
							email: true,
							maxlength: 64
						}
					},
					submitHandler: function(form) {
						mpRecoverPassword(form);
					}
				});
			});
		</script>
		{{ signup.html|raw }}
	</div>
		</div><!-- .section-->
		</div>
{% endif %}