<div class="row page-content" ng-class="{'photo-album-edit': isEditMode}" ng-controller="{{ controller|raw }}">
    <a href="" class="edit"  ng-if="isPageOwner" ng-show="!isEditMode" ng-click="editMode()" ng-bind="text.edit"></a>
    <a href="" class="edit"  ng-if="isPageOwner" ng-show="isEditMode" ng-click="editMode()" ng-bind="text.view"></a>
    <div class="section">
        <h2  ng-bind="text.photo"> <span>(<span ng-bind="photos.length"></span>)</span></h2>
        <div class="section-body photo-album">
            <div class="photo-item" ng-if="isPageOwner">
                <a class="add-photo" fancybox ng-click="openFancybox('/resource/partials/photo/add_photo_dialog.html','460')">
                {# <a class="add-photo" ng-click="addPhotoDialog()"> #}
                    <span class="add"></span>
                    <span class="text" ng-bind="text.add"></span>
                </a>
            </div><!--.photo-item-->
            <div class="photo-item" ng-repeat="photo in photos">
                <a href="" 
                   class="photo_block_custom" 
                   ng-click="photoViewDialog(photo,$index)">
                    <img ng-src="{[{photo.photo.url_thumbnail}]}" alt="" />
                </a>
                <div class="bottom">
                    <a class="comments" href="#">
                        <span ng-bind="photo.commentsCount"></span>
                        <i class="icons"></i>
                    </a>
                    <a class="likes" href="#" ><span ng-bind="photo.likes"></span><i class="icons"></i></a>
                </div>
                <div class="ramove" ng-show="isEditMode" ng-click="removePhoto(photo.id)"><i class="icons"></i></div>
            </div><!--.photo-item-->
        </div>
    </div><!-- .section -->
</div><!-- .page-content-->