<div>
    <h4>Генератор хешей</h4>
    {% if alert %}{{ alert|raw }}{% endif %}
    <form class="form-horizontal" action="" method="post">
        <input type="hidden" name='action' value='generate'/>

        <div class="control-group">
            <label class="control-label" for="data">Исходные данные</label>

            <div class="controls"><input type="text" id="data" name='data' value="{{ data }}"
                                         placeholder="Исходные данные"></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="hash">Метод хеширования</label>

            <div class="controls">
                <select name="hash" id="hash" placeholder="Метод хеширования">
                    <option value="password" {% if hash ==  'password' %}selected='selected'{% endif %}>password
                    </option>
                    <option value="md5" {% if hash ==  'md5' %}selected='selected'{% endif %}>md5</option>
                    <option value="sha1" {% if hash ==  'sha1' %}selected='selected'{% endif %}>sha1</option>
                    <option value="sha256" {% if hash ==  'sha256' %}selected='selected'{% endif %}>sha256</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Сгенерировать</button>
            </div>
        </div>
        {% if result %}
            <div class="control-group">
                <label class="control-label" for="result" style="text-transform: uppercase;">{{ hash }}</label>

                <div class="controls"><input type="text" id="result" class="input-block-level" name='result'
                                             value='{{ result }}'></div>
            </div>
        {% endif %}
    </form>
</div>


