<div>
    <h4>Генератор json</h4>
    {% if alert %}{{ alert|raw }}{% endif %}
    <form class="form-horizontal" action="" method="post">
        <input type="hidden" name='action' value='generate'/>

        <div class="control-group">
            <label class="control-label" for="data">Исходные данные</label>

            <div class="controls"><input type="text" id="data" name='data' value="{{ data }}"
                                         placeholder="Исходные данные"></div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Сгенерировать</button>
            </div>
        </div>
        {% if result %}
            <div class="control-group">
                <div class="controls"><input type="text" id="result" class="input-block-level" name='result'
                                             value='{{ result }}'></div>
            </div>
        {% endif %}
    </form>
</div>


