<div class="pop-up-form add-group-pet">
    <h2>Створення групи</h2>

    <div class="section">
        <form>
            <div class="row">
                <input value="" type="text" placeholder="Назва групи"/>
            </div>
            <div class="row">
                <select name="" id="">
                    <option value="1">Кінологія</option>
                    <option value="2">Кіт</option>
                    <option value="3">Собака</option>
                </select>
            </div>
            <div class="row">
                <div class="search-query">
                    <input class="country ui-autocomplete-input" type="text" value="" autocomplete="off" placeholder="Країна">
                    <i class="icons"></i>
                </div>
            </div>
            <div class="row">
                <div class="search-query">
                    <input class="city ui-autocomplete-input" type="text" value="" autocomplete="off" placeholder="Місто">
                    <i class="icons"></i>
                </div>
            </div>
            <div class="row">
                <input value="" type="text" placeholder="Сайт"/>
            </div>
            <div class="row">
                <textarea placeholder="Опис"></textarea>
            </div>
            <div class="row">
                <div class="changed-file">
                    <div class="selected-image">
                        <i class="icons"></i>
                    </div>
                    <span>Додати аватарку</span>
                    <div class="close"></div>
                </div>

            </div>
            <div class="row">
                <button class="button green">Надіслати</button>
            </div>
        </form>
    </div>
</div>