<div class="pop-up-form">
    <h2>Додати власника</h2>

    <div class="section">
        <form>
            <div class="row"><span class="description">Знайдіть та додайте власника, якщо він зареєстрований у мережі!</span></div>
            <div class="row">
                <div class="search-query">
                    <input class="owner" value="" type="text"/>
                    <i class="icons"></i>
                </div>
            </div>
            <div class="row">
                <button class="button green">Надіслати</button>
            </div>
        </form>
    </div>

    <div class="section">
        <form>
            <div class="row"><span class="description">Власник не зареєстрований у Mypet? Запросіть його у мережу!</span></div>
            <div class="row">
                <input type="text" placeholder="Введіть email"/>
            </div>
            <div class="row">
                <button class="button green">Запросити</button>
            </div>
        </form>
    </div>
</div>