<div class="pop-up-form add-your-pet">
    <h2>Ваш улюбленець</h2>

    <div class="section">
        <form>
            <div class="row"><span class="description">Ведіть основні дані</span></div>
            <div class="row">
                <input value="" type="text" placeholder="Домашня кличка"/>
            </div>
            <div class="row">
                <select name="" id="">
                    <option value="1">Тварина</option>
                    <option value="2">Кіт</option>
                    <option value="3">Собака</option>
                </select>
            </div>
            <div class="row">
                <select name="" id="">
                    <option value="1">Стать</option>
                    <option value="2">Хлопчик</option>
                    <option value="3">Дівчинка</option>
                </select>
            </div>
            <div class="row">
                <input value="" type="text" placeholder="Порода"/>
            </div>
            <div class="row">
                <input class="birthday" value="" type="text" placeholder="Дата народження"/>
            </div>
            <div class="row">
                <div class="changed-file">
                    <div class="selected-image">
                        <i class="icons"></i>
                    </div>
                    <span>Додати аватарку</span>
                    <div class="close"></div>
                </div>

            </div>
            <div class="row">
                <button class="button green">Надіслати</button>
            </div>
        </form>
    </div>
</div>