<div class="pop-up-form add-new-photo">
    <h2>Додати нові фото</h2>

    <div class="section">
        <div class="row">

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <img src="assets/img/pets/2.png" alt=""/>
            </div><!-- .added-photo-->

            <div class="added-photo">
                <a href="#">
                    <span class="add"></span>
                    <span>Додати ще</span>
                </a>
            </div><!-- .added-photo-->

        </div>
        <div class="row">
            <button class="button green">Створити</button>
        </div>
    </div>

</div>