<div class="pop-up-form addalbum">
    <h2>Створити новий альбом</h2>
    <form>
        <div class="section">
            <div class="row">
                <input type="text" placeholder="Введіть назву"/>
            </div>
            <div class="row">
                <textarea name="" id="" placeholder="Ведіть опис"></textarea>
            </div>
            <div class="row">
                <button class="button green">Створити</button>
            </div>
        </div>
    </form>
</div>