<div class="pop-up-form change-status">
    <h2>Змінити статус</h2>
    <span>Оберіть статус зі списка нижче</span>
    <form>
        <div class="section">
            <div class="row">
                <div class="col-1">
                    <label><input type="radio" checked name="status"/>Шукаю партнера</label>
                    <label><input type="radio" name="status"/>Шукаю хазяїна</label>
                    <label><input type="radio" name="status"/>Шукаю хазяїна</label>
                </div>
                <div class="col-2">
                    <label><input type="radio" name="status"/>Чекаю на приплід</label>
                    <label><input type="radio" name="status"/>Загубився</label>
                    <label><input type="radio" name="status"/>Без статуса</label>
                </div>
            </div>
            <div class="row">
                <button class="button green">Надіслати</button>
            </div>
        </div>
    </form>
</div>