<div class="pop-up-form developers">
    <h2>Зв’язок з розробниками</h2>
    <form>
        <div class="section">
            <div class="row"><span class="description">Напишіть нам якщо ви поміили помилки чи маєте якісь пропозиції</span></div>
            <div class="row">
                <textarea name="" id=""></textarea>
            </div>
            <div class="row">
                <button class="button green">Надіслати</button>
            </div>
        </div>
    </form>
</div>