<div class="pop-up-form">
    <h2>Запросити в групу</h2>

    <div class="section">
        <form>
            <div class="row"><span class="description">Знайдіть та запросіть користувача до групи, якщо він зареєстрований у мережі!</span></div>
            <div class="row">
                <div class="search-query">
                    <input class="owner" value="" type="text" placeholder="напишіть ім'я наприклад Роман"/>
                    <i class="icons"></i>
                </div>
            </div>
            <div class="row">
                <button class="button green">Додати</button>
            </div>
        </form>
    </div>

    <div class="section">
        <form>
            <div class="row"><span class="description">Друг  не зареєстрований у Mypet? Запросіть його у мережу</span></div>
            <div class="row">
                <input type="text" placeholder="Введіть email"/>
            </div>
            <div class="row">
                <button class="button green">Запросити</button>
            </div>
        </form>
    </div>
</div>