<div class="pop-up-form photo-album">

    <div class="section">

        <div class="quantity-photos">2 з 56 фото у альбомі <a href="#">“Мій малиш”</a></div>

        <div class="big-photo">
            <img src="assets/img/photo/pet/big/1.jpg" alt=""/>
            <div class="control">
                <div class="previous-photo"><i class="icons"></i></div>
                <div class="next-photo"><i class="icons"></i></div>
            </div>
        </div><!-- .big-photo -->

        <div class="row description-photo">
            <div class="description">
                <textarea></textarea>
            </div>
            <div class="like">
                <a class="quantity-like" href="#">
                    <span>37</span>
                    <i class="icons"></i>
                    <span>Круто!</span>
                </a>
                <div class="date-time">24/10/2014<span>19:43</span></div>
            </div>
            <a href="#" class="delete-photo">Видалити фото</a>
        </div><!-- .description-photo -->

    </div><!-- .section -->

    <div class="section comments">
        <div class="comments-list">

            <div class="comments-item">
                <div class="avatars">
                    <a href="#">
                        <img src="assets/img/avatars/big/1.png" alt=""/>
                    </a>
                </div>
                <div class="comments-body">
                    <div class="name">
                        <h3><a href="#">Лана Дана</a></h3>
                    </div>
                    <div class="coment">
                        <p>Дуже дуже дуже крутий гарний і класнючий кіт!!!!Дуже
                            дуже дуже крутий гарний і класнючий кіт!!!!</p>
                    </div>
                    <div class="coment-footer like">
                        <div class="date-time">24/10/2014<span>19:43</span></div>
                        <a class="quantity-like" href="#">
                            <span>37</span>
                            <i class="icons"></i>
                            <span>Круто!</span>
                        </a>
                        <a class="reply" href="#">Відповісти</a>
                    </div>
                </div>
                <div class="remove"><i class="icons"></i></div>
            </div><!-- .comments-item -->

            <div class="comments-item">
                <div class="avatars">
                    <a href="#">
                        <img src="assets/img/avatars/big/2.png" alt=""/>
                    </a>
                </div>
                <div class="comments-body">
                    <div class="name">
                        <h3><a href="#">Соломія Михалюк</a></h3>
                    </div>
                    <div class="coment">
                        <p>Пупсик</p>
                    </div>
                    <div class="coment-footer like">
                        <div class="date-time">24/10/2014<span>19:43</span></div>
                        <a class="quantity-like" href="#">
                            <span>37</span>
                            <i class="icons"></i>
                            <span>Круто!</span>
                        </a>
                        <a class="reply" href="#">Відповісти</a>
                    </div>
                </div>
                <div class="remove"><i class="icons"></i></div>
            </div><!-- .comments-item -->

            <div class="comments-item">
                <div class="avatars">
                    <a href="#">
                        <img src="assets/img/avatars/big/1.png" alt=""/>
                    </a>
                </div>
                <div class="comments-body">
                    <div class="name">
                        <h3><a href="#">Лана Дана</a></h3>
                    </div>
                    <div class="coment">
                        <p>Дуже дуже дуже крутий гарний і класнючий кіт!!!!</p>
                    </div>
                    <div class="coment-footer like">
                        <div class="date-time">24/10/2014<span>19:43</span></div>
                        <a class="quantity-like" href="#">
                            <i class="icons"></i>
                            <span>Круто!</span>
                        </a>
                        <a class="reply" href="#">Відповісти</a>
                    </div>
                </div>
                <div class="remove"><i class="icons"></i></div>
            </div><!-- .comments-item -->
        </div>
    </div><!-- .section -->

    <div class="section add-comments">
        <div class="avatars">
            <a href="#">
                <img src="assets/img/avatars/big/2.png" alt=""/>
            </a>
        </div>
        <div class="comments-body">
            <textarea placeholder="Ваш коментар"></textarea>
            <button class="button green">Надіслати</button>
        </div>
    </div><!-- .section -->

</div>