<div class="pop-up-form rules">
    <h2>Правила користування мережею</h2>
    <form>
        <div class="section">
            <p><strong>Група</strong> (онлайнова соціальна мережа) (часто називають також спільнота, е-група або клуб) — спільнота людей зі схожими інтересами, які спілкуються один з одним усередині онлайнової соціальної мережі.</p>
            <p>Групою також називають функціональну можливість багатьох соціальних мережевих служб, котра дозволяє користувачам створювати, коментувати і читати інформацію онлайнових форумів відповідно до власних специфічних інтересів, певної сфери діяльності, географічної прив'язки або інтересів (спорт, музика, професії тощо). Групи дають можливість відкритого чи закритого доступу, запрошень та/або приєднання до інших користувачів. Групи створюються з метою забезпечити міні-мережу учасників в рамках ширшої та різноманітнішої соціальної мережевої служби. Подібно як і в електронних списках розсилки, групи також належить і підтримуються власниками, модераторами або менеджерами, які мають можливості редагування повідомлень в обговоренні теми і регулювання поведінки членів в рамках групи. Якість і ранг групи в першу чергу оцінюється за кількістю учасників.</p>
            <h3>Складові групи</h3>
            <p>Групу характеризують її назва, опис, статус відкритої або закритої групи, число учасників тощо.</p>
            <p>Для груп характерна наявність адміністраторів, модераторів, форуму, можливості публікації медіа вмісту (фотоальбоми, зображення, відеозаписи, аудіозаписи).</p>
            <p><strong>Модератор соціальної мережи</strong> – це:учасник групи, що має право карати і заохочувати інших учасників групи, що відповідає за порядок на цьому форумі або його частини. Покарання, як правило, буває двох видів: попередження і заборона користуватися групою.
                штатний співробітник адміністрації сайту соціальної мережі, співробітник служби технічної підтримки, що спостерігає за порядком і нормальною роботою сайту, який має право попереджати і карати користувачів відповідно до правил соціальної мережі.
                Елементами групи можуть бути так звана <strong>«стіна», чорний список, бан-лист, стрічка новин та стрічка активності.</strong></p>
        </div>
    </form>
</div>