<div class="pop-up-form settings">
    <h2>Налаштування</h2>
    <form>
        <div class="section">
            <div class="row"><span class="description">Ведіть свої основні дані</span></div>
            <div class="row">
                <div class="field">
                    <input class="text-input" type="text" value="Тимофій" placeholder="Ім'я">
                </div>
                <div class="field">
                    <input class="text-input" type="text" value="Тимофієвич"  placeholder="Прізвище">
                </div>
                <div class="field">
                    <input class="text-input" type="text" placeholder="Новий пароль">
                </div>
                <div class="field">
                    <input class="text-input" type="text" placeholder="Підтвердження паролю">
                </div>

                <div class="field">
                    <input class="text-input" type="text" value="Tumofiy_80@gmail.com" placeholder="e-mail">
                </div>
                <div class="field select-language">
                    <select name="" id="">
                        <option value="Мова: Українська">Українська</option>
                        <option value="Мова: Російська">Російська</option>
                        <option value="Мова: Англійська">Англійська</option>
                    </select>
                    <span class="lang">Мова:</span>
                </div>
                <div class="row checkbox">
                    <span><input type="checkbox"/><label class="description-checkbox">Отримувати сповіщення</label></span>
                    <span><input type="checkbox"/><label class="description-checkbox">Отримувати системні оновлення</label></span>
                </div>
            </div>
            <div class="row">
                <button class="button green">Зберегти зміни</button>
            </div>
        </div>
    </form>
</div>