.span-btn {
	margin-top: 15px;
	margin-bottom: 29px; }
.block-status-message {
	font-size: 12px;
	line-height: 20px;
	padding: 5px 20px;
	width: 320px;
	display: block;
	}
.block-setting-message {
	font-size: 12px;
	line-height: 20px;
	padding: 5px 20px;
	width: 220px;
	display: block;
	margin-bottom: 20px; }
.success-msg {
	background: #6aa13f;color: #fff;}
.error-msg {
	background: #f5716a;color: #fff; }


.page-content .section.organization-body {
	/*display: none; */
}
.page-content .section.organization-body .section-body {
	float: left; }
.page-content .section.organization-body .section-body .section {
	position: relative;
	text-align: center; }
.page-content .section.organization-body .section-body .section .row {
	text-align: left; }
.page-content .section.organization-body .section-body .section .row .item {
	margin-bottom: 20px;
	position: relative; }
.page-content .section.organization-body .section-body .section .row .item .remove {
	display: block;
	position: absolute;
	right: 60px;
	top: 100px;
	width: 24px;
	height: 24px;
	cursor: pointer; }
.page-content .section.organization-body .section-body .section .row .item .remove:hover {
	opacity: 0.5; }
.page-content .section.organization-body .section-body .section .row .item .remove .icons {
	width: 24px;
	height: 24px;
	display: block;
	background-position: -60px -90px; }
.page-content .section.organization-body .section-body .section .add {
	cursor: pointer;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	color: #a3a8aa;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	margin: 20px auto 0; }
.page-content .section.organization-body .section-body .section .add .icons {
	background-position: -30px -90px;
	width: 24px;
	height: 24px;
	margin: 0 auto;
	margin-right: 10px; }
.page-content .section.organization-body .section-body .section .add:hover {
	opacity: 0.5; }
.datepicker{ z-index: 500 !important;}

.pets-item .pedigree.add-rnd a .icons {
	width: 100px;
	height: 100px;
	background: url("../img/add.png") no-repeat;
	background-position: center center;
	display: block;
	margin-bottom: 6px;
	box-shadow: inset  0 0 0 1px #cbd0d2;
	border: 1px solid #cbd0d2 \9;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px; }

.base-avatar {
	width: 140px;
	height: 140px;
	background-position: center center;
	display: block;
	background-size: cover; /* Масштабируем фон */
}
.search-avatar {
	width: 40px;
	height: 40px;
	background-position: center center;
	display: block;
	background-size: cover; /* Масштабируем фон */
}
.cover-avatar {
	width: 100px;
	height: 100px;
	background-position: center center;
	display: block;
	background-size: cover; /* Масштабируем фон */
}
.base-cover {
	width: 730px;
	height: 420px;
	background-position: center center;
	display: block;
	background-size: cover; /* Масштабируем фон */
}
.avatar-user {
	background-image: url("../img/default_user_avatar.png");
	background-repeat: no-repeat;
 }
.avatar-cat {
	background-image: url("../img/default_cat_avatar.png");
	background-repeat: no-repeat;
}
.avatar-dog {
	background-image: url("../img/default_dog_avatar.png");
	background-repeat: no-repeat;
}
.cover {
	background-image: url("../img/default_cover.png");
	background-repeat: no-repeat;
}

.link .search-query {
	padding-bottom: 40px; }
.link .result-item {
	padding-top: 18px;
	padding-bottom: 17px;
	border-bottom: 1px solid #a3a8aa;
	padding-left: 30px; }
.link .result-item__photo {
	width: 45px;
	height: 45px;
	float: left;
	margin-right: 23px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	overflow: hidden; }
.link .result-item__photo a {
	width: 45px;
	height: 45px;
	display: block;
	overflow: hidden; }
.link .result-item__photo img {
	width: 45px;
	height: 45px;
	display: block; }
.link .result-item__body {
	margin-left: 68px; }
.link .result-item__body h3 {
	padding-bottom: 3px; }
.link .result-item__body h3 a {
	color: #1f2430;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease; }
.link .result-item__body h3 a:hover {
	color: #33b7ae; }
.padding-top-avatar{
	padding-top: 7px;
}
.textarea{
	vertical-align: top;
}
.ancestry-age{
	margin-left: 13px;
}

.m-invite-friends h3 {
    font-size: 18px;
    line-height: 20px;
    padding: 18px 20px 20px;
    border-top: 1px solid #dddddd;
    width: 220px; }
.m-invite-friends h3 a {
    font-family: "open_sansregular", arial, sans-serif;
    color: #1f2430;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
.m-invite-friends h3 a span {
    color: #a2a8aa; }
.m-invite-friends h3 a:hover {
    color: #33b7ae; }

.top-button {
	color: #fff;
	padding: 12px 30px;
	font-size: 14px;
	line-height: 21px;
	border: none;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	cursor: pointer;
	font-family: "open_sansregular", arial, sans-serif;
}
.top-button.top-green {
	background: #45837f;
}
.top-button.top-green:hover {
	background: #3c716e;
}
.top-button + .top-button {
	margin-left: 7px;
}