<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
<script>
	var conn = new ab.Session('ws://127.0.0.1:8080',
			function() {
				conn.subscribe('event.chat.message', function(name, payload) {
					// This is where you would add the new article to the DOM (beyond the scope of this tutorial)
					console.log(payload);
					console.log('New message "' + name);
				});
				conn.subscribe('event.friend.add', function(name, payload) {
					// This is where you would add the new article to the DOM (beyond the scope of this tutorial)
					console.log(payload);
					console.log('New friend"' + name);
				});
			},
			function() {
				console.warn('WebSocket connection closed');
			},
			{'skipSubprotocolCheck': true}
	);
</script>