{% extends "./base.html.twig" %}

{% block header_title %}
	{{ parent() }}
{% endblock %}

{% block header_keywords %}
	{{ parent() }}
{% endblock %}

{% block header_description %}
	{{ parent() }}
{% endblock %}

{% block header_stylesheets %}
	{{ parent() }}
{% endblock %}

{% block header_scripts %}
	{{ parent() }}
	<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.api.ancestry.js"></script>
{% endblock %}
{% block body_start %}
<body class="pet full-width">

{% if loggedIn %}
	{# Завантажуємо тут, якщо нижче - не знайде аватарка скрипт, вище він не працює #}
	<script src="{{ cdnUrl }}/resource/mypet/assets/libs/croppic-master/croppic.js"></script>
{% endif %}
{% endblock %}


{% block body_container %}
	{{ parent() }}
	<div class="wrapper">
		<div id="section_header">{{ result.section_header|raw }}</div>
		{#<div id="section_form_box">{{ result.section_form_box|raw }}</div>#}
		<div id="section_content">
				<div class="content">
					<div class="section">
						<div class="container profile-cover">
							<div id="container_page_avatar">{{ result.container_page_avatar|raw }}</div>
							<div id="container_cover_image">{{ result.container_cover_image|raw }}</div>
						</div>
					</div>
					<!-- .section-->

					<div class="section">
						<div class="container">
							<div class="page-body">
								<div id="page_menu">{{ result.page_menu|raw }}</div>
								<div id="page_body">{{ result.page_body|raw }}</div>
							</div>
						</div>
					</div>
					<!-- .section-->
				</div>
		</div>
	</div><!-- .wrapper -->
{% endblock %}

{% block body_footer %}
	{{ parent() }}
{% endblock %}

{% block footer_scripts %}
	{{ parent() }}
{% endblock %}

{% block body_end %}
{{ parent() }}
{% endblock %}