<!DOCTYPE html>
{# Oleg - angular app init #}
<html ng-app="myPet">
{# Oleg - end #}
<head>
	<meta charset="utf-8"/>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>{% block header_title %}{% if content.titlePage %}{{ content.header.title }}{% else %}Time4Pets{% endif %}{% endblock %}</title>
	<meta name="keywords"
	      content="{% block header_keywords %}{% if content.keywordsPage %}{{ content.header.keyword }}{% else %}{% endif %}{% endblock %}"/>
	<meta name="description"
	      content="{% block header_description %}{% if content.descriptionPage %}{{ content.header.desctiption }}{% else %}{% endif %}{% endblock %}"/>

	{% if content.og.title %}<meta property="og:title" content="{{ content.og.title }}" />{% endif %}
	{% if content.og.description %}<meta property="og:description" content="{{ content.og.description }}" />{% endif %}
	{% if content.og.image %}<meta property="og:image" content="{{ content.og.image }}" />{% endif %}
	{% if content.og.url %}<meta property="og:url" content="{{ content.og.url }}" />{% endif %}
	{% if content.fb.app_id %}<meta property="fb:app_id" content="{{ content.fb.app_id }}" />{% endif %}


	<link href="{{ cdnUrl }}/resource/mypet/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
	{% block header_stylesheets %}
		<!-- css -->

		{# Oleg - change css path #}
		<link href="{{ cdnUrl }}/resource/css/animate.css" rel="stylesheet">
		<link href="{{ cdnUrl }}/resource/css/jquery.fancybox.css" rel="stylesheet">
		<link href="{{ cdnUrl }}/resource/css/tooltipster.css" rel="stylesheet">
		<link href="{{ cdnUrl }}/resource/css/global.css" rel="stylesheet">
		<link href="{{ cdnUrl }}/resource/bower_components/ng-emoticons/dist/ng-emoticons.min.css" rel="stylesheet">
		<link href="{{ cdnUrl }}/resource/bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
		{# Oleg - end #}

		{# Oleg - styles above #}
		{# <link href="{{ cdnUrl }}/resource/mypet/assets/css/animate.css" rel="stylesheet"> #}
		{# <link href="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/css/jquery.fancybox.css" rel="stylesheet"> #}
		{# <link href="{{ cdnUrl }}/resource/mypet/assets/css/tooltipster.css" rel="stylesheet"> #}
		{# <link href="{{ cdnUrl }}/resource/mypet/assets/css/style.css" rel="stylesheet"> #}
		{# Oleg - end #}

		<link href="{{ cdnUrl }}/resource/mypet/assets/libs/bootstrap-datepicker-release/css/datepicker3.css"
		      rel="stylesheet">
		{#<link href="{{ cdnUrl }}/resource/mypet/assets/css/jquery-ui.min.css" rel="stylesheet">#}
		{# <link href="{{ cdnUrl }}/resource/mypet/assets/libs/bootstrap3/css/bootstrap.min.css" rel="stylesheet"> #}

		{#<link href="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/css/jquery.jscrollpane.css" rel="stylesheet">#}

		{# <link href="{{ cdnUrl }}/resource/mypet/assets/css/fixet_style.css" rel="stylesheet"> #}
		<!-- Custom styles for this template -->
		<link href="{{ cdnUrl }}/resource/mypet/assets/libs/croppic-master/assets/css/croppic.css" rel="stylesheet">
		<!-- Bootstrap core JavaScript -->
		{# <link href="{{ cdnUrl }}/resource/mypet/assets/libs/minEmoji-master/css/minEmoji.css" rel="stylesheet"> #}
	{% endblock %}

	{% block header_scripts %}
		{# Oleg - get jquery, angular from bower #}
		<script type="text/javascript"
		        src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=uk"></script>
		<script src="{{ cdnUrl }}/resource/bower_components/jquery/jquery.min.js"></script>
		<script src="{{ cdnUrl }}/resource/bower_components/jquery/jquery-migrate.min.js"></script>
		<script src="{{ cdnUrl }}/resource/bower_components/angular/angular.min.js"></script>
		<script src="{{ cdnUrl }}/resource/bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="{{ cdnUrl }}/resource/bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="{{ cdnUrl }}/resource/bower_components/ng-emoticons/dist/ng-emoticons.min.js"></script>
		<script src="{{ cdnUrl }}/resource/bower_components/ngDialog/js/ngDialog.min.js"></script>
		<script src="{{ cdnUrl }}/resource/bower_components/angular-file-upload/angular-file-upload.min.js"></script>
		<script src="{{ cdnUrl }}/resource/bower_components/angular-ui-utils/ui-utils.min.js"></script>
		<script src="{{ cdnUrl }}/resource/js/app.js"></script>
		<script src="{{ cdnUrl }}/resource/js/config.js"></script>
		<script src="{{ cdnUrl }}/resource/js/autocomplete.js"></script>
		<script src="{{ cdnUrl }}/resource/js/angucomplete.js"></script>
		<script src="{{ cdnUrl }}/resource/js/modules/wall/wall_ctrl.js"></script>
		<script src="{{ cdnUrl }}/resource/js/modules/wall/wall_service.js"></script>
		<script src="{{ cdnUrl }}/resource/js/modules/user/user_service.js"></script>
		<script src="{{ cdnUrl }}/resource/js/modules/user/user_ctrl.js"></script>
		<script src="{{ cdnUrl }}/resource/js/modules/photo/photo_ctrl.js"></script>
		<script src="{{ cdnUrl }}/resource/js/modules/photo/photo_service.js"></script>
		<script src="{{ cdnUrl }}/resource/js/modules/search/search_ctrl.js"></script>
		<script src="{{ cdnUrl }}/resource/js/modules/search/search_service.js"></script>
		<script src="{{ cdnUrl }}/resource/js/modules/directives/replies_directive.js"></script>
		<script src="{{ cdnUrl }}/resource/js/modules/directives/search_directive.js"></script>
		{# Oleg - end #}

		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/bootstrap3/js/bootstrap.min.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/bootstrap-datepicker-release/js/bootstrap-datepicker.js"></script>
		{% if langName == "ua" %}
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/bootstrap-datepicker-release/js/locales/bootstrap-datepicker.uk.js"></script>
		{% elseif langName == "ru" %}
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/bootstrap-datepicker-release/js/locales/bootstrap-datepicker.ru.js"></script>
		{% else %}
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/bootstrap-datepicker-release/js/locales/bootstrap-datepicker.en-GB.js"></script>
		{% endif %}
		{#<script src="{{ cdnUrl }}/resource/mypet/assets/js/jquery-ui.min.js"></script>#}
		{#{% if langName == "ua" %}#}
		{#<script src="{{ cdnUrl }}/resource/mypet/assets/js/i18n/datepicker-ua.js"></script>#}
		{#{% elseif langName == "ru" %}#}
		{#<script src="{{ cdnUrl }}/resource/mypet/assets/js/i18n/datepicker-ru.js"></script>#}
		{#{% else %}#}
		{#<script src="{{ cdnUrl }}/resource/mypet/assets/js/i18n/datepicker-en.js"></script>#}
		{#{% endif %}#}

		<!-- js -->
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery.easing.1.3.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery.mousewheel.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery.tooltipster.min.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery.maskedinput.min.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery.fancybox.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery.formstyler.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/responsiveslides.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery.autosize.min.js"></script>
		{#<script src="{{ cdnUrl }}/resource/mypet/assets/js/jquery.jscrollpane.min.js"></script>#}
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery.noty.packaged.min.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery.placeholder.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/underscore-master/underscore-min.js"></script>


		<script src="{{ cdnUrl }}/resource/mypet/assets/js/main.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/sprintf.min.js"></script>

		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery-validation-1.13.0/dist/jquery.validate.min.js"></script>
		{% if langName == "ua" %}
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery-validation-1.13.0/dist/localization/messages_uk.min.js"></script>
		{% elseif langName == "ru" %}
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery-validation-1.13.0/dist/localization/messages_ru.min.js"></script>
		{% endif %}
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery-ias.min.js"></script>

		<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.page.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.components.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.hash.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.helper.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.api.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.api.friend.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.api.inbox.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.api.search.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/kmcore.api.message.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/mypet.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/mypet_translate.js"></script>
		{% if langName == "ua" %}
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/mypet_translate.ua.js"></script>
		{% elseif langName == "ru" %}
		<script src="{{ cdnUrl }}/resource/mypet/assets/js/mypet_translate.ru.js"></script>
		{% endif %}

		{#<script src="{{ cdnUrl }}/resource/mypet/assets/libs/jquery/js/jquery.datalist.js" type="text/javascript"></script>#}
		{#<script src="{{ cdnUrl }}/resource/mypet/assets/js/load.datalist.js" type="text/javascript"></script>#}
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/modernizr/modernizr.js" type="text/javascript"></script>
		<script>
			Modernizr.load([
				{
					test: Modernizr.input.list,
					nope: ['{{ cdnUrl }}/resource/mypet/assets/libs/jquery-ui-1.11.2.custom/jquery-ui.min.css',
						'{{ cdnUrl }}/resource/mypet/assets/libs/jquery-ui-1.11.2.custom/jquery-ui.min.js',
						'{{ cdnUrl }}/resource/mypet/assets/js/DatalistPolyfill.js']
				}
			]);
		</script>

		<!-- Latest compiled and minified JavaScript -->
		<script>
			// Встановлення параметрів для JS
			var audio = new Audio(); // Создаём новый элемент Audio
			audio.src = '{{ cdnUrl }}/resource/audio/mes.ogg'; // Указываем путь к звуку "клика"

			kmcore.pageName = "{{ pageName }}";
			kmcore.langName = "{{ langName }}";
			kmcore.loggedIn = "{{ loggedIn }}";
			kmcore.api.userId = "{{ userId }}";
			kmcore.api.pageHandlerId = "{{ userPageId }}";
			kmcore.api.sessionkey = "{{ sessionkey }}";
			kmcore.api.publicPass = "{{ publicPass }}";
			kmcore.api.expire = "{{ expire }}";
			kmcore.api.photo = "{{ user.photo }}";
			kmcore.api.isYou = "{{ isYou }}";
			kmcore.api.user = '{{ user|json_encode|raw }}';
			kmcore.api.author = '{{ author|json_encode|raw }}';

			// Хак для сторінок улюбленців (різні аватарки)
			$().ready(function () {
				if (kmcore.pageName == 'pet' || kmcore.pageName == 'specialists') {
					$("body").addClass("pet");
				}
			});

			var translateDatalistCountry = translate_data._t_datalistCountry_t_;
			var translateDatalistRegion = translate_data._t_datalistRegion_t_;
			var translateAustralianDate = translate_data._t_australianDate_t_;

			$.validator.addMethod(
					"australianDate",
					function (value, element) {
						// put your own logic here, this is just a (crappy) example
						if (value.length > 0) {
							return value.match(/^\d\d?\/\d\d?\/\d\d\d\d$/);
						}
						return true;
					},
					translateAustralianDate
			);

			$.validator.addMethod(
					"datalistRegion",
					function (value, element) {
						// put your own logic here, this is just a (crappy) example
						if (value.length > 0) {
							var obj = $("#region_list").find("option[value='" + value + "']");
							if (obj != null && obj.length > 0) {
								return true;
							}  // allow form submission
							else {
								return false;
							} // don't allow form submission
						}
						return true;
					},
					translateDatalistRegion
			);

			$.validator.addMethod(
					"datalistCountry",
					function (value, element) {
						// put your own logic here, this is just a (crappy) example
						if (value.length > 0) {
							var obj = $("#country_list").find("option[value='" + value + "']");
							if (obj != null && obj.length > 0) {
								return true;
							}  // allow form submission
							else {
								return false;
							} // don't allow form submission
						}
						return true;
					},
					translateDatalistCountry
			);

			{% if langName == "ua" %}
			var langDatepicker = 'uk';
			{% elseif langName == "ru" %}
			var langDatepicker = 'ru';
			{% else %}
			var langDatepicker = 'en-GB';
			{% endif %}
		</script>
	{% endblock %}
</head>
{% block body_start %}
<body>
{% endblock %}

{% block body_slider %}
{% endblock %}

<div id="div_wrapper">

	{% block body_container %}
	{% endblock %}
	{% block body_footer %}
		<footer class="footer animated fadeInUp">
			<div class="container">
				<div class="copyright"><span>© 2014-2015</span> Time4Pets</div>
				<ul class="footer-menu">
					<li><a href="#" class='mp_popup_connection_developers toTranslate'>_t_connection_developers_t_</a>
					</li>
					<li><a href="#" class='mp_popup_rules toTranslate'>_t_rules_t_</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="http://blog.time4pets.com/" class='toTranslate'>_t_blog_t_</a></li>
				</ul>
				<div class="langvich">
					<div class="selected">
						<i class="icons"></i><span id="currentLang">Українською</span>
					</div>
					<ul class="switch-languages">
						<li><a href="/ua">Українською</a></li>
						<li><a href="/ru">Русский</a></li>
						<li><a href="/en">English</a></li>
					</ul>
				</div>
				<!--.langvich-->
			</div>
		</footer><!-- .footer -->

	{% endblock %}

	{% block footer_scripts %}
		<!-- Google -->
		<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
						m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-55906691-1', 'auto');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');
		</script>
		<!-- /Google -->

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function () {
					try {
						w.yaCounter26698614 = new Ya.Metrika({
							id: 26698614,
							webvisor: true,
							clickmap: true,
							trackLinks: true,
							accurateTrackBounce: true
						});
					} catch (e) {
					}
				});

				var n = d.getElementsByTagName("script")[0],
						s = d.createElement("script"),
						f = function () {
							n.parentNode.insertBefore(s, n);
						};
				s.type = "text/javascript";
				s.async = true;
				s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else {
					f();
				}
			})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript>
			<div><img src="//mc.yandex.ru/watch/26698614" style="position:absolute; left:-9999px;" alt=""/></div>
		</noscript>
		<!-- /Yandex.Metrika counter -->
		<!-- Google Tag Manager -->
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-NPBZ72"
			        height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<script>(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					'gtm.start': new Date().getTime(), event: 'gtm.js'
				});
				var f = d.getElementsByTagName(s)[0],
						j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src =
						'//www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-NPBZ72');</script>
		<!-- End Google Tag Manager -->

		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/minEmoji-master/js/jMinEmoji.js"></script>
		<script>
			// Run after the DOM is ready
			$(function () {
				$('.txt').minEmoji();
				// base smile find
				$(document).find('.txt').each(function () {
					var data = $(this).html();
					data = data.replace(new RegExp("[=][)]", 'g'), "<span class=\"em emj3\"></span>");
					data = data.replace(new RegExp("[:][)]", 'g'), "<span class=\"em emj3\"></span>");
					data = data.replace(new RegExp("[:][-][)]", 'g'), "<span class=\"em emj3\"></span>");
					data = data.replace(new RegExp("[:][(]", 'g'), "<span class=\"em emj19\"></span>");
					data = data.replace(new RegExp("[:][-][(]", 'g'), "<span class=\"em emj19\"></span>");

					data = data.replace(new RegExp("[:]D", 'g'), "<span class=\"em emj1\"></span>");
					data = data.replace(new RegExp("[:][-]D", 'g'), "<span class=\"em emj1\"></span>");

					data = data.replace(new RegExp("[:]P", 'g'), "<span class=\"em emj13\"></span>");
					data = data.replace(new RegExp("[:][-]P", 'g'), "<span class=\"em emj13\"></span>");

					data = data.replace(new RegExp("[;][)]", 'g'), "<span class=\"em emj5\"></span>");
					data = data.replace(new RegExp("[;][-][)]", 'g'), "<span class=\"em emj5\"></span>");
					$(this).html(data);
				});
			});

			$().ready(function () {
				switch (kmcore.langName) {
					case 'ua':
						$("#currentLang").html('Українською');
						break
					case 'en':
						$("#currentLang").html('English');
						break
					case 'ru':
						$("#currentLang").html('Русский');
						break
				}
			})

			// TODO Додати валідну обробку статистики
			// Формат оформлення html: <a href="#" class="buy-up event" event="buy_menu:btn_click" params='{"get_chips": 10, "money": 1}' position="site">Buy</a>
			$(document).ready(function () {
				$('.event').click(function () {
					var event = $(this).attr("event");
					var position = $(this).attr("position");
					var params = $(this).attr("params");

					dataLayer.push({
						'event': event,
						'data.event': event,
						'data.position': position,
						'data.params': params
					});
				});
			});

			$('.mp_popup_connection_developers').click(function () {
				openPopup("mp_popup_connection_developers");
				return false;
			});

			$('.mp_popup_rules').click(function () {
				openPopup("mp_popup_rules", undefined, 990);
				return false;
			});
		</script>

		<script src="{{ cdnUrl }}/resource/mypet/assets/js/search.helper.js"></script>
		<script>
			mypet_translate.findAndTranslate();
			updateStyler();
		</script>

	{% endblock %}
</div>
<!--.wrapper-container-->
{% block body_end %}
</body>
{% endblock %}
</html>

