{% extends "./base.html.twig" %}

{% block header_title %}
	{{ parent() }}
{% endblock %}

{% block header_keywords %}
	{{ parent() }}
{% endblock %}

{% block header_description %}
	{{ parent() }}
{% endblock %}

{% block header_stylesheets %}
	{{ parent() }}

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ cdnUrl }}/resource/mypet/assets/faq/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{ cdnUrl }}/resource/mypet/assets/faq/css/style.css"> <!-- Resource style -->
	<script src="{{ cdnUrl }}/resource/mypet/assets/faq/js/modernizr.js"></script> <!-- Modernizr -->
{% endblock %}

{% block header_scripts %}
	{{ parent() }}
{% endblock %}
{% block body_start %}
	{{ parent() }}
{% endblock %}

{% block body_slider %}
	{{ parent() }}
	<span id="section_slider">{{ result.section_slider|raw }}</span>
{% endblock %}

	{% block body_container %}
		{{ parent() }}
		<div class="wrapper">
			<div id="section_header">{{ result.section_header|raw }}</div>
			<div id="section_form_box">{{ result.section_form_box|raw }}</div>
			<div id="section_content">
				<div class="section">
					<div class="container">
						{{ result.page_body|raw }}
					</div>
				</div>
			</div>
		</div><!-- .wrapper -->
	{% endblock %}

	{% block body_footer %}
		{{ parent() }}
	{% endblock %}

	{% block footer_scripts %}
		{{ parent() }}
		<script src="{{ cdnUrl }}/resource/mypet/assets/faq/js/jquery-2.1.1.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/faq/js/jquery.mobile.custom.min.js"></script>
		<script src="{{ cdnUrl }}/resource/mypet/assets/faq/js/main.js"></script> <!-- Resource jQuery -->
	{% endblock %}

{% block body_end %}
	{{ parent() }}
{% endblock %}