{% extends "./base.html.twig" %}

{% block header_title %}
	{{ parent() }}
{% endblock %}

{% block header_keywords %}
	{{ parent() }}
{% endblock %}

{% block header_description %}
	{{ parent() }}
{% endblock %}

{% block header_stylesheets %}
	{{ parent() }}
{% endblock %}

{% block header_scripts %}
	{{ parent() }}
	<script>
		$(document).ready(function () {
			if (!kmcore.loggedIn && kmcore.pageName === 'login') {
				window.location.hash = '#mp_section_login';
				$("body").addClass("logged-out");
				$("#div_wrapper").addClass("wrapper-container");
			}

			kmcore.hash.component(function (status) {
			}, function () {
				loadResize();
				updateStyler();
			});
		});
	</script>
	<style>
		#panel {
			position: absolute;
			top: 100px;
			left: -400px;
			margin: -40px 0 0 0;
			overflow: hidden;
			z-index: 999;
		}
		#panel-content {
			background: #FFF;
			width: 400px;
			float: left;
		}
		#panel-sticker {
			float: left;
			position: relative;
			cursor: pointer;
		}
		#panel-sticker .close {
			position: absolute;
			right: 3px;
			top: 3px;
		}
	</style>
	<script>
		(function($) {
			$(document).ready(function() {
				var $panel = $('#panel');
				if ($panel.length) {
					var $sticker = $panel.children('#panel-sticker');
					var showPanel = function() {
						$panel.animate({
							left: '+=400',
						}, 200, function() {
							$(this).addClass('visible');
						});
					};
					var hidePanel = function() {
						$panel.animate({
							left: '-=400',
						}, 200, function() {
							$(this).removeClass('visible');
						});
					};
					$sticker
							.children('span').click(function() {
								if ($panel.hasClass('visible')) {
									hidePanel();
								}
								else {
									showPanel();
								}
							}).andSelf()
							.children('.close').click(function() {
								$panel.remove();
							});
				}
			});
		})(jQuery);

	</script>
{% endblock %}

{% block body_start %}
	{{ parent() }}
	{% if loggedIn %}
		{# Завантажуємо тут, якщо нижче - не знайде аватарка скрипт, вище він не працює #}
		<script src="{{ cdnUrl }}/resource/mypet/assets/libs/croppic-master/croppic.js"></script>
	{% endif %}
{% endblock %}

{% block body_slider %}
	{{ parent() }}
	<span id="section_slider">
		{% if pageName != 'login' %}
		{% else %}
			<ul class="bg-slider">
				<li>
					<div class="bg-img-1"></div>
				</li>
				{#<li><div class="bg-img-2"></div></li>#}
				{#<li><div class="bg-img-3"></div></li>#}
			</ul><!--.bg-slider-->

			<script>
				$(".bg-slider").responsiveSlides({
					"speed": 5000
				});
			</script>
		{% endif %}
	</span>
{% endblock %}

	{% block body_container %}
		{{ parent() }}

		{% if result.popup_invite and loggedIn %}
		<div id="panel">
			<div id="panel-content">
				{{ result.popup_invite|raw }}
			</div>
			<div id="panel-sticker">
				<span><img src="{{ cdnUrl }}/resource/img/buttom-add-friend-pink.png" alt="" /></span>
			</div>
		</div>
		{% endif %}

		<div class="wrapper">
			<div id="section_header">{{ result.section_header|raw }}</div>
			<div id="section_form_box">{{ result.section_form_box|raw }}</div>
			<div id="section_content">
				{% if result.page_body %}
					<div class="content">
						{% if result.container_page_avatar or result.container_cover_image %}
							<div class="section">
								<div class="container profile-cover">
									<div id="container_page_avatar">{{ result.container_page_avatar|raw }}</div>
									<div id="container_cover_image">{{ result.container_cover_image|raw }}</div>
								</div>
							</div><!-- .section-->
						{% endif %}
						<div class="section">
							<div class="container" {% if result.module_search %}ng-controller="SearchCtrl"{% endif %}>
								<div class="sidebar-left">
									{% if result.module_progress_bar %}
										<div class="module"
										     id="module_progress_bar">{{ result.module_progress_bar|raw }}</div>{% endif %}
									{% if result.module_message %}
										<div class="module"
										     id="module_message">{{ result.module_message|raw }}</div>{% endif %}
									{% if result.module_profile_main_actions %}
										<div class="module"
										     id="module_profile_main_actions">{{ result.module_profile_main_actions|raw }}</div>{% endif %}
									{% if result.module_friends %}
										<div class="module"
										     id="module_friends">{{ result.module_friends|raw }}</div>{% endif %}
									{% if result.module_family %}
										<div class="module"
										     id="module_family">{{ result.module_family|raw }}</div>{% endif %}
									{% if result.module_search %}
										<div
												id="module_search">{{ result.module_search|raw }}</div>{% endif %}
								</div>
								<div class="page-body">
									<div id="page_menu">{{ result.page_menu|raw }}</div>
									<div id="page_body">{{ result.page_body|raw }}</div>
								</div>
							</div>
						</div>
						<!-- .section-->
					</div>
				{% else %}
				{% endif %}
			</div>
		</div><!-- .wrapper -->
	{% endblock %}

	{% block body_footer %}
		{{ parent() }}
	{% endblock %}

	{% block footer_scripts %}
		{{ parent() }}
		{% if loggedIn %}
			<div class="noty">
				<div class="container">
					<!--<ul class="scroll-pane">-->
					<ul id="inbox_requests">
					</ul>
				</div>
			</div><!-- .section-->

			<script>kmcore.api.inbox.verifyInboxStart();</script>
		{% endif %}
	{% endblock %}

{% block body_end %}
	{{ parent() }}
{% endblock %}