
<div class="row page-content" ng-controller="{{ controller|raw }}">

    <div class="section">
        <div class="group-wall-add">
            <div class="add-body">
                <div class="row">
                    <textarea placeholder="{[{text.watssup}]}" 
                              id="postInput" 
                              ng-model="newPost.body"
                              ui-keydown="{'ctrl-enter ctrl-10':'addNewPost()'}">
                    </textarea>
                    <button class="button green" ng-click="addNewPost()" ng-bind="text.send"></button>
                </div>
                <div class="row">
                    <div class="add-application">
                        <table class="uploadItemsList">
                            <tr  ng-repeat="item in uploader.queue">
                                <td class="uploadFileName" title="{[{ item.file.name }]}" nowrap>
                                    {[{ item.file.name }]}
                                </td>
                                <td ng-show="uploader.isHTML5" class="ProgressBar">
                                    <div class="uploadProgressBar">
                                        <div ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="removeUploadFile" ng-click="removeUplFile($index)"><i class="icons"></i></div>
                                </td>
                            </tr>
                        </table>
                        <div class="emojiBlock" ng-show="ShowEmoji">
                            <div  ng-repeat="em in emoji" ng-bind-html="em | emoticons" ng-click="pickEmoji($index)"></div>
                        </div>
                        <div class="application-body">
                            <div class="attach" ng-hide="ShowEmoji">
                                <input type="file" nv-file-select="" uploader="uploader" multiple  />
                            </div>
                            <div class="smilies" ng-click="ShowHideEmojiFunc()"><i class="icons"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-body post-wall">

            <div class="post-item" ng-repeat="post in posts">
                <div class="post">
                    <div class="avatar avatar-user">
                        <a href="/user/{[{post.attr.author.id}]}">
                            <img ng-src="{[{post.attr.author.photo}]}" ng-if="post.attr.author.photo" alt=""/>
                        </a>
                    </div><!-- .image -->
                    <div class="info">
                        <h3 class="name">
                            <a href="/user/{[{post.attr.author.id}]}">{[{post.attr.author.first_name}]} {[{post.attr.author.last_name}]}</a>
                            <span ng-bind="post.attr.author.profession"></span>
                        </h3>
                        <div class="text" ng-bind-html="post.body | emoticons"></div>
                        <div class="thumbs" ng-if="post.data.length>0">
                            <div ng-repeat="content in post.data">
                                <img alt="" ng-src="{[{content.url_medium}]}">
                            </div>
                        </div>
                    </div><!-- .info -->
                    <div class="signed">
                        <div class="date-time">
                            {[{post.time*1000 | date:'dd/MM/yyyy H:mm'}]}
                            <span></span>
                        </div>
                        <div class="like">
                            {# <a class="quantity-comments" href="" ng-click="shareThisPost(post.id)"> #}
                                {# <span ng-bind="text.sharePost"></span> #}
                                {# <span ng-show="!post.comments.length">{[{text.addComment}]}</span> #}
                                {# <i class="icons"></i> #}
                            {# </a> #}
                            <a class="quantity-comments" href="">
                                <span ng-bind="post.commentsCount"></span>
                                <i class="icons"></i>
                            </a>
                            <a class="quantity-like" href="" ng-click="likeThisPost(post.id,$index)">
                                <span ng-bind="post.likes"></span>
                                <i class="icons"></i>
                                <span ng-bind="text.cool"></span>
                            </a>
                        </div>
                    </div><!-- .signed -->
                    <div class="remove" ng-show="iCanDelThis(post)" ng-click="delThisPost(post.id)">
                        <i class="icons"></i>
                    </div>
                    <replies parent="post"></replies>
                </div> <!-- post end -->
            </div>

        </div>
    </div><!-- .section -->
</div>